<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="modal-dialog modal-xl" role="document">
			<div class="modal-content small">
				<div class="modal-header">
					<h3 th:text="#{colonies}">Colonies</h3>
					<button type="button" class="close" id="skr-close-overview-button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row pt-1">
						<div class="col-sm-10 col-md-9">
							<div class="row skr-table-search">
								<div class="col-sm-6 col-lg-3">
									<input type="text" class="form-control" id="name" th:placeholder="#{name}" />
								</div>
								<div class="col-sm-6 col-lg-3">
									<select class="custom-select" id="starbase">
										<option th:text="|-- #{starbase} --|" th:value="''"></option>
										<option th:text="#{yes}" value="true">Yes</option>
										<option th:text="#{no}" value="false">No</option>
									</select>
								</div>
								<div class="col-sm-6 col-lg-3">
									<select class="custom-select" id="hasRoute">
										<option th:text="|-- #{has_route} --|" th:value="''"></option>
										<option th:text="#{yes}" value="true">Yes</option>
										<option th:text="#{no}" value="false">No</option>
									</select>
								</div>
								<div class="col-sm-6 col-lg-3">
									<select class="custom-select" id="hasNativeSpecies">
										<option th:text="|-- #{has_native_species} --|" th:value="''"></option>
										<option th:text="#{yes}" value="true">Yes</option>
										<option th:text="#{no}" value="false">No</option>
									</select>
								</div>
								<div class="col-sm-6 col-lg-3">
									<select class="custom-select" id="autoBuildsMines">
										<option th:text="|-- #{auto_builds_mines} --|" th:value="''"></option>
										<option th:text="#{yes}" value="true">Yes</option>
										<option th:text="#{no}" value="false">No</option>
									</select>
								</div>
								<div class="col-sm-6 col-lg-3">
									<select class="custom-select" id="autoBuildsFactories">
										<option th:text="|-- #{auto_builds_factories} --|" th:value="''"></option>
										<option th:text="#{yes}" value="true">Yes</option>
										<option th:text="#{no}" value="false">No</option>
									</select>
								</div>
								<div class="col-sm-6 col-lg-3">
									<select class="custom-select" id="autoSellsSupplies">
										<option th:text="|-- #{auto_sells_supplies} --|" th:value="''"></option>
										<option th:text="#{yes}" value="true">Yes</option>
										<option th:text="#{no}" value="false">No</option>
									</select>
								</div>
								<div class="col-sm-6 col-lg-3">
									<select class="custom-select" id="autoBuildsDefense">
										<option th:text="|-- #{auto_builds_defense} --|" th:value="''"></option>
										<option th:text="#{yes}" value="true">Yes</option>
										<option th:text="#{no}" value="false">No</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-2 col-md-3 text-right skr-table-search-buttons">
							<button type="button" class="btn btn-primary fas fa-search" th:title="#{search}"></button>
							<button type="button" class="btn btn-danger fas fa-minus-circle" th:title="#{reset}"></button>
						</div>
					</div>

					<div class="skr-table container">
						<div class="row skr-table-header d-none d-lg-flex">
							<div class="col-2">
								<a href="#" id="COLONY_OVERVIEW_NAME">
									<span th:text="#{name}"></span>
									<i id="icon-COLONY_OVERVIEW_NAME"></i>
								</a>
							</div>
							<div class="col-1 text-right">
								<a href="#" id="COLONY_OVERVIEW_COLONISTS" th:title="#{colonists}">
									<i class="fa-fw fa fa-male"></i>
									<i id="icon-COLONY_OVERVIEW_COLONISTS"></i>
								</a>
							</div>
							<div class="col-1 text-right">
								<a href="#" id="COLONY_OVERVIEW_MONEY" th:title="#{money}">
									<i class="fa-fw fa fa-coins"></i>
									<i id="icon-COLONY_OVERVIEW_MONEY"></i>
								</a>
							</div>
							<div class="col-1 text-right">
								<a href="#" id="COLONY_OVERVIEW_SUPPLIES" th:title="#{supplies}">
									<i class="fa-fw fa fa-cube"></i>
									<i id="icon-COLONY_OVERVIEW_SUPPLIES"></i>
								</a>
							</div>
							<div class="col-1 text-right">
								<a href="#" id="COLONY_OVERVIEW_FUEL" th:title="#{fuel}">
									<i class="fa-fw fas fa-circle"></i>
									<i id="icon-COLONY_OVERVIEW_FUEL"></i>
								</a>
							</div>
							<div class="col-1 text-right">
								<a href="#" id="COLONY_OVERVIEW_MINERAL1" th:title="#{mineral2}">
									<i class="fa-fw fas fa-certificate"></i>
									<i id="icon-COLONY_OVERVIEW_MINERAL1"></i>
								</a>
							</div>
							<div class="col-5">
								<div class="row">
									<div class="col-2 text-right">
										<a href="#" id="COLONY_OVERVIEW_MINERAL2" th:title="#{mineral2}">
											<i class="fa-fw fas fa-square-full"></i>
											<i id="icon-COLONY_OVERVIEW_MINERAL2"></i>
										</a>
									</div>
									<div class="col-2 text-right">
										<a href="#" id="COLONY_OVERVIEW_MINERAL3" th:title="#{mineral3}">
											<i class="fa-fw fas fa-play"></i>
											<i id="icon-COLONY_OVERVIEW_MINERAL3"></i>
										</a>
									</div>
									<div class="col-2 text-right">
										<a href="#" id="COLONY_OVERVIEW_MINES" th:title="#{mines}">
											<i class="fa-fw fa fa-monument"></i>
											<i id="icon-COLONY_OVERVIEW_MINES"></i>
										</a>
									</div>
									<div class="col-2 text-right">
										<a href="#" id="COLONY_OVERVIEW_FACTORIES" th:title="#{factories}">
											<i class="fa-fw fa fa-industry"></i>
											<i id="icon-COLONY_OVERVIEW_FACTORIES"></i>
										</a>
									</div>
									<div class="col-2 text-right">
										<a href="#" id="COLONY_OVERVIEW_DEFENSE" th:title="#{planetary_defense}">
											<i class="fa-fw fab fa-fort-awesome"></i>
											<i id="icon-COLONY_OVERVIEW_DEFENSE"></i>
										</a>
									</div>
									<div class="col-2 text-right">
										<a href="#" id="COLONY_ORBITAL_SYSTEMS" th:title="#{orbital_systems}">
											<i class="fa-fw fas fa-building"></i>
											<i id="icon-COLONY_ORBITAL_SYSTEMS"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div th:fragment="table-content" id="skr-ingame-colony-overview-table-content">
							<div class="row" th:if="${planets.getTotalPages() == 0}">
								<h6 class="col-12 text-center mt-2" th:text="#{no_results}">No results</h6>
							</div>
							<div class="row skr-table-row cursor-pointer" th:each="planet : ${planets}" th:id="${planet.id}">
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{name}:|">:</div>
								<div class="col-6 col-sm-3 d-lg-none text-right" th:text="${planet.name}">Planet name</div>
								<div class="d-none d-lg-flex col-lg-2" th:text="${planet.name}">Planet name</div>
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{colonists}:|">:</div>
								<div class="col-6 col-sm-3 col-lg-1 text-right" th:text="${planet.colonists}">10000</div>
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{money}:|">:</div>
								<div class="col-6 col-sm-3 col-lg-1 text-right" th:text="${planet.money}">100</div>
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{supplies}:|">:</div>
								<div class="col-6 col-sm-3 col-lg-1 text-right" th:text="${planet.supplies}">100</div>
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{fuel}:|">:</div>
								<div class="col-6 col-sm-3 col-lg-1 text-right" th:text="${planet.fuel}">100</div>
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{mineral1}:|">:</div>
								<div class="col-6 col-sm-3 col-lg-1 text-right" th:text="${planet.mineral1}">100</div>
								<div class="col-lg-5">
									<div class="row" th:id="${planet.id}">
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{mineral2}:|">:</div>
										<div class="col-6 col-sm-3 col-lg-2 text-right" th:text="${planet.mineral2}">100</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{mineral3}:|">:</div>
										<div class="col-6 col-sm-3 col-lg-2 text-right" th:text="${planet.mineral3}">100</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{mines}:|">:</div>
										<div class="col-6 col-sm-3 col-lg-2 text-right" th:text="${planet.mines}">100</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{factories}:|">:</div>
										<div class="col-6 col-sm-3 col-lg-2 text-right" th:text="${planet.factories}">100</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{planetary_defense}:|">:</div>
										<div class="col-6 col-sm-3 col-lg-2 text-right" th:text="${planet.planetaryDefense}">100</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{orbital_systems}:|">:</div>
										<div class="col-6 col-sm-3 col-lg-2 text-right" th:text="|${planet.getBuiltOrbitalSystemCount()}/${planet.getOrbitalSystemCount()}|">1/4</div>
									</div>
								</div>
							</div>

							<nav th:if="${planets.getTotalPages() > 0}" class="mt-4">
								<input type="hidden" id="colony-overview-pagination-max-page" th:value="${planets.getTotalPages()}" />

								<ul class="pagination justify-content-center">
									<li class="page-item pagination-prev">
										<a class="page-link" href="#">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li th:class="|page-item ${planets.getPageable().getPageNumber() == page -1 ? 'active' : ''}|" th:each="page : ${#numbers.sequence(1, planets.getTotalPages())}">
										<a class="page-link pagination-number" href="#" th:text="${page}">1</a>
									</li>
									<li class="page-item pagination-next">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
