<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="modal-dialog modal-xl" role="document">
			<div class="modal-content small">
				<div class="modal-header">
					<h3 th:text="#{fleets}">Fleets</h3>
					<button type="button" class="close" id="skr-close-overview-button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row mb-1">
						<div class="col-12 text-right">
							<button type="button" class="btn btn-primary" id="skr-fleet-overview-create-fleet-button" onclick="ingame.createNewFleet(false)">
								<i class="fa-fw fas fa-plus"></i>
								<span th:text="#{create_new_fleet}">Create new fleet</span>
							</button>
						</div>
					</div>
					<div class="row pt-1">
						<div class="col-sm-10 col-md-9">
							<div class="row skr-table-search">
								<div class="col-sm-6 col-lg-4">
									<input type="text" class="form-control" id="name" th:placeholder="#{name}" />
								</div>
							</div>
						</div>
						<div class="col-sm-2 col-md-3 text-right skr-table-search-buttons">
							<button type="button" class="btn btn-primary fas fa-search" th:title="#{search}"></button>
							<button type="button" class="btn btn-danger fas fa-minus-circle" th:title="#{reset}"></button>
						</div>
					</div>

					<div class="skr-table container">
						<div class="row skr-table-header d-none d-lg-flex">
							<div class="col-3">
								<a href="#" id="FLEET_OVERVIEW_NAME">
									<span th:text="#{name}"></span>
									<i id="icon-FLEET_OVERVIEW_NAME"></i>
								</a>
							</div>
							<div class="col-3 text-right">
								<label class="font-weight-bold" th:text="#{task}"></label>
							</div>
							<div class="col-2 text-right">
								<a href="#" id="FLEET_OVERVIEW_SHIP_COUNT">
									<span th:text="#{ships}"></span>
									<i id="icon-FLEET_OVERVIEW_SHIP_COUNT"></i>
								</a>
							</div>
							<div class="col-2 text-right">
								<a href="#" id="FLEET_OVERVIEW_FUEL_PERCENTAGE">
									<span th:text="#{fuel}"></span>
									<i id="icon-FLEET_OVERVIEW_FUEL_PERCENTAGE"></i>
								</a>
							</div>
							<div class="col-2 text-right pr-2">
								<a href="#" id="FLEET_OVERVIEW_PROJECTILE_PERCENTAGE">
									<span th:text="#{projectiles}"></span>
									<i id="icon-FLEET_OVERVIEW_PROJECTILE_PERCENTAGE"></i>
								</a>
							</div>
						</div>
						<div th:fragment="table-content" id="skr-ingame-fleet-overview-table-content">
							<div class="row" th:if="${fleets.getTotalPages() == 0}">
								<h6 class="col-12 text-center mt-2" th:text="#{no_results}">No results</h6>
							</div>
							<div class="row skr-table-row cursor-pointer" th:each="fleet : ${fleets}" th:id="${fleet.id}">
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{name}:|"></div>
								<div class="col-lg-3 d-none d-lg-flex" th:text="${fleet.name}">Fleet name</div>
								<div class="col-6 col-sm-3 d-lg-none text-right" th:text="${fleet.name}">Fleet name</div>
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{task}:|"></div>
								<div
									class="col-6 col-sm-3 col-lg-3 text-right"
									th:text="${fleet.taskType != null} ? (${fleet.taskType.equals('ACTIVE_ABILITY')} ? #{'ship_ability_' + ${fleet.activeAbilityType.toUpperCase()}} : #{'task_' + ${fleet.taskType.toLowerCase()}}) : #{no_common_task}"
								>
									Task
								</div>
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{ships}:|"></div>
								<div class="col-6 col-sm-3 col-lg-2 text-right" th:text="${fleet.shipCount}">5</div>
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{fuel}:|"></div>
								<div class="col-6 col-sm-3 col-lg-2 text-right" th:text="|${#numbers.formatDecimal(fleet.fuelPercentage * 100, 1, 'POINT', 0, 'COMMA')}%|">50%</div>
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{projectiles}:|"></div>
								<div class="col-6 col-sm-3 col-lg-2 text-right" th:text="|${#numbers.formatDecimal(fleet.projectilePercentage * 100, 1, 'POINT', 0, 'COMMA')}%|">75%</div>
							</div>

							<nav th:if="${fleets.getTotalPages() > 0}" class="mt-4">
								<input type="hidden" id="fleet-overview-pagination-max-page" th:value="${fleets.getTotalPages()}" />

								<ul class="pagination justify-content-center">
									<li class="page-item pagination-prev">
										<a class="page-link" href="#">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li th:class="|page-item ${fleets.getPageable().getPageNumber() == page -1 ? 'active' : ''}|" th:each="page : ${#numbers.sequence(1, fleets.getTotalPages())}">
										<a class="page-link pagination-number" href="#" th:text="${page}">1</a>
									</li>
									<li class="page-item pagination-next">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
