<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="w-100 d-inline-flex justify-content-between align-items-center">
				<label th:if="${label != null && label.length() > 0}" class="icon-label" th:text="${label}">Label</label>
				<label>
					<span th:title="${labelTitle}" th:text="${value}">Value</span>
					<i th:class="|icon-label-icon fa-fw ${icon}|" th:title="${iconTitle}"></i>
				</label>
			</div>
		</div>
	</body>
</html>
