<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-ingame-logbook-success" th:text="#{logbook_saved}">Logbook successfully saved!</div>
		</div>
		<div th:fragment="content">
			<div class="row" id="skr-game-logbook-content">
				<div class="col-12 form-group">
					<label for="skr-ingame-logbook-input" th:text="#{log_book}">Logbook</label>
					<textarea class="form-control" id="skr-ingame-logbook-input" th:text="${logbook}" rows="2"></textarea>
					<button type="button" class="btn btn-primary" onclick="logbook.saveLogbook()" th:text="#{save}">Save</button>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/logbook.js" th:src="@{/js/modules/ingame/logbook.js}"></script>
		</div>
	</body>
</html>
