<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="dropdown">
				<button class="btn btn-success dropdown-toggle skr-scenario-text-menu-button" th:id="${scenarioHasNewStage} ? 'skr-scenario-text-menu-button' : null" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-code-branch"></i>
				</button>
				<div class="dropdown-menu p-0" id="skr-scenario-text-menu">
					<div class="scenario-dropdown-text">
						<div class="font-weight-bold" th:text="|#{objective}:|">Objective:</div>
						<div th:text="#{'scenario_objective_' + ${scenarioType.name()}}">Scenario objective text</div>
						<div class="font-weight-bold mt-4" th:text="|#{instructions}:|">Instructions:</div>
						<div th:text="#{'scenario_stage_text_' + ${scenarioStage}}">Scenario stage text</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
