<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" class="modal-dialog modal-xl" role="document">
			<div class="modal-content small">
				<div class="modal-header">
					<h3 th:text="#{starbases}">starbases</h3>
					<button type="button" class="close" id="skr-close-overview-button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row pt-1">
						<div class="col-sm-10 col-md-9">
							<div class="row skr-table-search">
								<div class="col-sm-6 col-lg-4">
									<input type="text" class="form-control" id="name" th:placeholder="#{name}" />
								</div>
								<div class="col-sm-6 col-lg-4">
									<select class="custom-select" id="fullyUpgraded">
										<option th:text="|-- #{fully_upgraded} --|" th:value="''"></option>
										<option th:text="#{yes}" value="true">Yes</option>
										<option th:text="#{no}" value="false">No</option>
									</select>
								</div>
								<div class="col-sm-6 col-lg-4">
									<select class="custom-select" id="hasShipInProduction">
										<option th:text="|-- #{has_ship_in_production} --|" th:value="''"></option>
										<option th:text="#{yes}" value="true">Yes</option>
										<option th:text="#{no}" value="false">No</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-2 col-md-3 text-right skr-table-search-buttons">
							<button type="button" class="btn btn-primary fas fa-search" th:title="#{search}"></button>
							<button type="button" class="btn btn-danger fas fa-minus-circle" th:title="#{reset}"></button>
						</div>
					</div>

					<div class="skr-table container">
						<div class="row skr-table-header d-none d-lg-flex">
							<div class="col-2">
								<a href="#" id="STARBASE_OVERVIEW_NAME">
									<span th:text="#{name}"></span>
									<i id="icon-STARBASE_OVERVIEW_NAME"></i>
								</a>
							</div>
							<div class="col-3 text-right">
								<a href="#" id="STARBASE_OVERVIEW_HAS_SHIP_IN_PRODUCTION">
									<span th:text="#{has_ship_in_production}"></span>
									<i id="icon-STARBASE_OVERVIEW_HAS_SHIP_IN_PRODUCTION"></i>
								</a>
							</div>
							<div class="col-7">
								<div class="row no-gutters text-right">
									<div class="col-3">
										<a href="#" id="STARBASE_OVERVIEW_HULL_LEVEL">
											<span th:text="#{hull_level}"></span>
											<i id="icon-STARBASE_OVERVIEW_HULL_LEVEL"></i>
										</a>
									</div>
									<div class="col-3">
										<a href="#" id="STARBASE_OVERVIEW_PROPULSION_LEVEL">
											<span th:text="#{propulsion_level}"></span>
											<i id="icon-STARBASE_OVERVIEW_PROPULSION_LEVEL"></i>
										</a>
									</div>
									<div class="col-3">
										<a href="#" id="STARBASE_OVERVIEW_ENERGY_LEVEL">
											<span th:text="#{energy_level}"></span>
											<i id="icon-STARBASE_OVERVIEW_ENERGY_LEVEL"></i>
										</a>
									</div>
									<div class="col-3">
										<a href="#" id="STARBASE_OVERVIEW_PROJECTILE_LEVEL">
											<span th:text="#{projectile_level}"></span>
											<i id="icon-STARBASE_OVERVIEW_PROJECTILE_LEVEL"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div th:fragment="table-content" id="skr-ingame-starbase-overview-table-content">
							<div class="row" th:if="${starbases.getTotalPages() == 0}">
								<h6 class="col-12 text-center mt-2" th:text="#{no_results}">No results</h6>
							</div>
							<div class="row skr-table-row cursor-pointer" th:each="starbase : ${starbases}" th:id="${starbase.id}">
								<div class="col-6 col-sm-3 d-lg-none" th:text="|#{name}:|">:</div>
								<div class="col-6 col-sm-3 d-lg-none text-right" th:text="${starbase.name}">StarbaseName</div>
								<div class="d-none d-lg-flex col-lg-2" th:text="${starbase.name}">StarbaseName</div>
								<div class="col-6 col-sm-4 d-lg-none" th:text="|#{has_ship_in_production}:|">:</div>
								<div class="col-6 col-sm-2 col-lg-3 text-right" th:text="${starbase.hasShipInProduction} ? #{yes} : #{no}">Yes</div>
								<div class="col-lg-7" th:id="${starbase.id}">
									<div class="row" th:id="${starbase.id}">
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{hull_level}:|">:</div>
										<div class="col-6 col-sm-3 text-right" th:text="${starbase.hullLevel}">6</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{propulsion_level}:|">:</div>
										<div class="col-6 col-sm-3 text-right" th:text="${starbase.propulsionLevel}">9</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{energy_level}:|">:</div>
										<div class="col-6 col-sm-3 text-right" th:text="${starbase.energyLevel}">6</div>
										<div class="col-6 col-sm-3 d-lg-none" th:text="|#{projectile_level}:|">:</div>
										<div class="col-6 col-sm-3 text-right" th:text="${starbase.projectileLevel}">5</div>
									</div>
								</div>
							</div>

							<nav th:if="${starbases.getTotalPages() > 0}" class="mt-4">
								<input type="hidden" id="starbase-overview-pagination-max-page" th:value="${starbases.getTotalPages()}" />

								<ul class="pagination justify-content-center">
									<li class="page-item pagination-prev">
										<a class="page-link" href="#">
											<span aria-hidden="true">&laquo;</span>
										</a>
									</li>
									<li th:class="|page-item ${starbases.getPageable().getPageNumber() == page -1 ? 'active' : ''}|" th:each="page : ${#numbers.sequence(1, starbases.getTotalPages())}">
										<a class="page-link pagination-number" href="#" th:text="${page}">1</a>
									</li>
									<li class="page-item pagination-next">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
