<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="container">
		<div class="row">
			<div class="col-12">
				<h3 class="text-center mt-4" th:text="#{turn_finished_message}"></h3>
			</div>
		</div>
	</div>
</body>
</html>