<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div th:id="|tutorial-text-stage-${stage}|" th:utext="#{'tutorial_stage_' + ${stage}}">Tutorial stage text</div>
		<a th:id="|tutorial-continue-button-stage-${stage}|" th:class="|nav-link btn text-primary text-right tutorial-click-element-stage-${stage}|"
			th:if="${hasContinueButton}" th:text="#{continue}">Continue</a>
	</div>
</body>