<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="ship-item">
			<div class="col-12">
				<span th:text="${ship.name}">Ship name</span>
				<b th:text="|(${@masterDataService.getShipTemplateName(ship.shipTemplate)})|">(Ship class)</b>
			</div>
			<div class="col-12" th:id="|skr-ingame-ship-mouseover-ship-id-${ship.id}|">
				<i class="fa-fw fas fa-tasks"></i>
				<i th:text="${@shipTaskString.retrieveTaskString(ship)}">Task</i>

				<i class="fa-fw fas fa-grip-vertical"></i>
				<i th:text="${ship.fleet != null} ? ${ship.fleet.name} : #{no_fleet}">Fleet</i>
			</div>
		</th:block>

		<div th:fragment="content" class="container no-gutters">
			<div class="row">
				<div class="col-12">
					<i class="fa-fw fa fa-space-shuttle"></i>
					<span th:text="#{ships}">Ships</span>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-12 skr-game-details-mouseover-content">
					<div class="row no-gutters skr-ingame-ship-mouse-over-ship-item" th:id="|skr-ingame-ship-mouseover-ship-id-${ship.id}|" th:name="${ship.name}" th:each="ship : ${ships}">
						<th:block th:include="::ship-item" th:with="ship=${ship}"></th:block>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
