<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-12">
				<i class="fa-fw fa fa-globe"></i>
				<span th:text="${starbaseName}">Starbase Name</span>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-12 skr-game-details-mouseover-content">
				<div class="row no-gutters">
					<div class="col-12">
						<i class="fa-fw fas fa-book-open"></i>
						<span th:text="${starbaseLog != null && starbaseLog.length() > 0} ? ${starbaseLog} : #{no_log_entry}">50000</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>