<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<input type="hidden" th:if="${ship.planet != null}" id="skr-ship-projectiles-planet-id" th:value="${ship.planet.id}" />
			<div class="row">
				<div class="col-12">
					<h6>
						<span class="normal" th:text="#{projectiles}">Projectiles</span>
						<span th:include="ingame/help::content" th:with="id='ship-tasks',title=#{projectiles},fragment='simple',content=#{help_ship_projectiles}"></span>
					</h6>
					<div class="row">
						<div class="col-md-2">
							<label th:text="#{running}">Running</label>
						</div>
						<div class="col-md-4 text-right">
							<span th:text="${ship.projectiles}">100</span>
							<i class="fa-fw fas fa-rocket"></i>
						</div>
						<div class="col-md-2">
							<label th:text="#{maximum}">Maximum</label>
						</div>
						<div class="col-md-4 text-right">
							<span th:text="${ship.shipTemplate.projectileWeaponsCount * 5}">100</span>
							<i class="fa-fw fas fa-rocket"></i>
						</div>
					</div>
					<div class="row" th:if="${ship.retrieveMaxProjectiles() - ship.projectiles > 0}">
						<div class="col-4">
							<select id="skr-ship-projectiles-quantity-select" class="custom-select">
								<option th:each="quantity : ${#numbers.sequence(1, ship.retrieveMaxProjectiles() - ship.projectiles)}" th:selected="${quantity == ship.retrieveMaxProjectiles() - ship.projectiles}" th:value="${quantity}" th:text="${quantity}"
									>1</option
								>
							</select>
						</div>
						<div class="col-4">
							<button type="button" class="btn btn-primary" id="skr-ship-projectiles-build-projectiles" th:text="#{construct_projectiles}">Build projectiles</button>
						</div>
						<div class="col-4">
							<input type="checkbox" id="skr-ship-projectiles-automated-checkbox" th:checked="${ship.autoBuildProjectiles}" />
							<label for="skr-ship-projectiles-automated-checkbox" th:text="#{automated_construction}">Automated construction</label>
						</div>
					</div>
					<div class="row">
						<div class="col-4" th:if="${canAutoBuildProjectiles}">
							<button type="button" class="btn btn-primary" id="skr-ship-projectiles-build-projectiles-auto" th:text="#{construct_all_projectiles_auto}">Construct all possible projectiles automatically</button>
						</div>
					</div>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/ship/projectiles.js" th:src="@{/js/modules/ingame/ship/projectiles.js}"></script>
		</div>
	</body>
</html>
