<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-12">
				<h6 class="text-center">
					<span class="normal" th:text="#{propulsion_system}">Propulsion system</span>
					<span th:include="ingame/help::content" th:with="id='ship-tasks',title=#{propulsion_system},fragment='simple',content=#{help_starbase_propulsion_production}"></span>
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-6 text-right" th:text="#{propulsion_type}">Propulsion type</div>
			<div class="col-6 font-weight-bold" th:text="#{${ship.propulsionSystemTemplate.name}}">Sun sail</div>
		</div>
		<div class="row">
			<div class="col-6 text-right" th:text="#{engine_count}">Engine count</div>
			<div class="col-6 font-weight-bold" th:text="${ship.shipTemplate.propulsionSystemsCount}">2</div>
		</div>
		<div class="row">
			<div class="col-6 text-right" th:text="#{max_secure_warp_speed}">Max. secure Warp speed</div>
			<div class="col-6 font-weight-bold" th:text="${ship.propulsionSystemTemplate.warpSpeed}">1</div>
		</div>
	</div>
</body>
</html>