<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="no-objects">
			<div class="skr-game-selection-message" th:text="#{no_objects_in_scanner_range}">No objects in scanner range</div>
		</div>
		<div th:fragment="content" id="skr-game-ship-scanner">
			<h6>
				<span class="normal" th:text="#{scanner}">Scanner</span>
				<span th:include="ingame/help::content" th:with="id='ship-tasks',title=#{scanner},fragment='simple',content=#{help_ship_scanner}"></span>
			</h6>

			<div class="row skr-ship-scanner-planet-details" th:each="planet : ${planets}"  th:x="${planet.x}" th:y="${planet.y}">
				<div class="col-3 col-sm-2">
					<img th:src="${planet.createFullImagePath()}" th:style="${planet.player != null ? ('border-color: #' + planet.player.color + ';') : ''}" />
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-6" th:text="#{name}">Name</div>
						<div class="col-6" th:text="${planet.name}">Name</div>
					</div>
					<div class="row">
						<div class="col-6" th:text="#{temperature}">Temperaturee</div>
						<div class="col-6" th:text="${planet.temperature + '°C'}">25°C</div>
					</div>
					<div class="row">
						<div class="col-6" th:text="#{native_species_short}">Native faction</div>
						<div class="col-6">
							<a
								class="skr-ingame-native-species-details-button skr-ingame-clickable-anchor"
								th:id="|skr-ingame-native-species-details-button-${planet.id}|"
								th:text="${planet.nativeSpecies != null && planet.nativeSpeciesCount > 0} ? |${planet.nativeSpecies.name} (${planet.nativeSpeciesCount})| : '-'"
								>Name (10000)</a
							>

							<div class="modal skr-ingame-native-species-details-modal" tabindex="-1" role="dialog" th:id="|skr-ingame-native-species-details-${planet.id}|">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<div th:replace="ingame/planet/native-species::name"></div>
											<button type="button" class="close" id="skr-close-native-species-modal-button" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<div th:include="ingame/planet/native-species::content" th:with="hideName=true,planet=${planet},description=${nativeSpeciesDescription}"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-2 col-sm-3">
					<button type="button" class="btn btn-primary skr-ingame-scanner-planet-details-button tutorial-click-element-stage-SCANNER_OVERVIEW" th:onclick="|shipScanner.showPlanetDetails(${planet.id})|" th:text="#{details}">Details</button>
				</div>
			</div>
			<div th:fragment="ships">
				<div class="row skr-ship-scanner-ship-details" th:each="ship : ${ships}" th:x="${ship.x}" th:y="${ship.y}">
					<div class="col-3 col-sm-2">
						<img
							th:src="${ship.createFullImagePath()}"
							th:style="|border-color: #${ship.player.color};${scanner == false && own == true ? 'cursor: pointer;' : ''}|"
							th:onclick="${scanner == false && own == true} ? |ingame.select('ship', ${ship.id})| : ''"
						/>
					</div>
					<div class="col-6">
						<div class="row">
							<div class="col-6" th:text="#{class}">Class</div>
							<div class="col-6" th:text="${@masterDataService.getShipTemplateName(ship.shipTemplate)}">Ship class</div>
						</div>
						<div class="row">
							<div class="col-6" th:text="#{coordinates}">Coordinates</div>
							<div class="col-6" th:text="${ship.x + ' / ' + ship.y}">12 / 34</div>
						</div>
						<div class="row">
							<div class="col-6" th:text="#{max_warp}">Max. Warp</div>
							<div class="col-6" th:text="${ship.propulsionSystemTemplate.warpSpeed}">7</div>
						</div>
					</div>
					<div class="col-2 col-sm-3" th:if="${scanner == true}">
						<button th:if="${orbitalSystemId == null}" type="button" class="btn btn-primary" th:onclick="|shipScanner.showShipDetails(${ship.id})|" th:text="#{details}">Details</button>
						<button th:if="${orbitalSystemId != null}" type="button" class="btn btn-primary" th:onclick="|shipScanner.showShipDetailsByOrbitalSystem(${ship.id}, ${orbitalSystemId})|" th:text="#{details}">Details</button>
					</div>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/ship/scanner.js" th:src="@{/js/modules/ingame/ship/scanner.js}"></script>
		</div>
		<div th:fragment="planet" id="skr-ingame-scanner-planet-details">
			<div class="row">
				<div class="col-sm-3">
					<div class="row">
						<div class="col-12 text-center">
							<b th:text="${planet.name}">Planetname</b>
						</div>
						<div class="col-12">
							<img th:src="${planet.createFullImagePath()}" />
						</div>
					</div>
				</div>
				<div class="col-6 col-sm-4 border-right">
					<div class="row">
						<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{colonists},value=${planet.hasCloakingFieldGenerator()} ? '?' : ${planet.colonists},icon='fa fa-male'"></div>
						<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{mines},value=${planet.hasCloakingFieldGenerator()} ? '?' : ${planet.mines},icon='fas fa-monument'"></div>
						<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{factories},value=${planet.hasCloakingFieldGenerator()} ? '?' : ${planet.factories},icon='fa fa-industry'"></div>
						<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{planetary_defense},value=${planet.hasCloakingFieldGenerator()} ? '?' : ${planet.planetaryDefense},icon='fab fa-fort-awesome'"></div>
					</div>
				</div>
				<div class="col-6 col-sm-4 resource-density">
					<div class="row no-gutters">
						<div class="col-5">
							<label th:text="#{fuel}">Lemin</label>
						</div>
						<div class="col-7">
							<div class="untapped-resource fuel" th:style="|width: ${planet.retrieveUntappedFuelDensityPercentage()}%|"></div>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-5">
							<label th:text="#{mineral1}">Baxterium</label>
						</div>
						<div class="col-7">
							<div class="untapped-resource mineral1" th:style="|width: ${planet.retrieveUntappedMineral1DensityPercentage()}%|"></div>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-5">
							<label th:text="#{mineral2}">Rennurbin</label>
						</div>
						<div class="col-7">
							<div class="untapped-resource mineral2" th:style="|width: ${planet.retrieveUntappedMineral2DensityPercentage()}%|"></div>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-5">
							<label th:text="#{mineral3}">Vomisaan</label>
						</div>
						<div class="col-7">
							<div class="untapped-resource mineral3" th:style="|width: ${planet.retrieveUntappedMineral3DensityPercentage()}%|"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:fragment="ship">
			<div class="row">
				<div class="col-sm-3">
					<div class="row">
						<div class="col-5 col-sm-12">
							<img th:src="${ship.createFullImagePath()}" style="height: 60px;" />
						</div>
						<div class="col-7 col-sm-12">
							<div class="row">
								<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{name},value=${ship.name}"></div>
								<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{damage},value=|${ship.damage}%|"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-5 col-sm-3 border-left border-right">
					<div class="row">
						<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{crew},value=${ship.crew},icon='fa fa-male'"></div>
						<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{mass},value=${ship.shipTemplate.mass},icon='fas fa-weight-hanging'"></div>
						<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{fuel},value=${ship.fuel},icon='fas fa-circle'"></div>
						<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{goods},value=|${ship.retrieveTotalGoods()} KT|,icon='fa fa-cube'"></div>
					</div>
				</div>
				<div class="col-7 col-sm-6">
					<div class="row">
						<div
							class="col-12"
							th:include="ingame/icon-label::content"
							th:with="label=#{propulsion_system},value=#{${ship.propulsionSystemTemplate.name}},icon='fas fa-angle-double-right',labelTitle=|#{max_warp}: ${ship.propulsionSystemTemplate.warpSpeed}|"
						></div>
						<div
							class="col-12"
							th:include="ingame/icon-label::content"
							th:with="label=#{energy_weapons},value=${ship.energyWeaponTemplate != null} ? #{${ship.energyWeaponTemplate.name}} : '-',icon='fas fa-bolt',labelTitle=${ship.energyWeaponTemplate != null} ? |#{tech_level}: ${ship.energyWeaponTemplate.techLevel}| : ''"
						></div>
						<div
							class="col-12"
							th:include="ingame/icon-label::content"
							th:with="label=#{projectile_weapons},value=${ship.projectileWeaponTemplate != null} ? #{${ship.projectileWeaponTemplate.name}} : '-',icon='fas fa-rocket',labelTitle=${ship.projectileWeaponTemplate != null} ? |#{tech_level}: ${ship.projectileWeaponTemplate.techLevel}| : ''"
						></div>
						<div class="col-12" th:include="ingame/icon-label::content" th:with="label=#{hangar},value=${ship.shipTemplate.hangarCapacity},icon='fab fa-gitter'"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
