<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="name-changed">
			<div class="skr-game-selection-message" id="skr-ingame-ship-name-changed-message" th:text="#{name_changed}">Name changed</div>
		</div>
		<div th:fragment="content" id="skr-ingame-ship-options-content">
			<input type="hidden" id="skr-ingame-ship-options-empty-message" th:value="#{ship_name_cannot_empty}" />
			<input type="hidden" id="skr-ingame-ship-owner-changed-message" th:value="#{ship_given_to_ally}" />

			<h6>
				<span class="normal" th:text="#{options}">Options</span>
			</h6>
			<div class="row">
				<div class="col-5" th:text="|#{name}:|">Name:</div>
				<div class="col-7">
					<input type="text" class="form-control" th:value="${ship.name}" maxlength="128" id="skr-ingame-ship-name-input" />
				</div>
			</div>
			<div class="row" th:if="${!allies.isEmpty()}">
				<div class="col-5" th:text="|#{give_ship_to_ally}:|">Give ship to ally:</div>
				<div class="col-7">
					<select id="skr-ingame-allied-players-select" class="custom-select">
						<option value=""></option>
						<option th:each="ally : ${allies}" th:value="${ally.id}" th:text="${ally.aiLevel != null} ? #{${ally.aiLevel}} : ${ally.login.username}">Player name</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button type="button" class="btn btn-primary mt-2 mb-2" th:text="#{save}" onclick="settings.save()">Save</button>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/ship/settings.js" th:src="@{/js/modules/ingame/ship/settings.js}"></script>
		</div>
	</body>
</html>
