<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-ingame-ship-task-success" th:text="#{task_changed}">Task changed</div>
		</div>
		<div th:fragment="content" id="skr-ingame-ship-task">
			<input type="hidden" id="skr-ingame-task" th:value="${ship.taskType}" />
			<input type="hidden" id="skr-ingame-active-ability" th:value="${ship.activeAbility != null} ? ${ship.activeAbility.type} : null" />
			<input type="hidden" id="skr-ingame-escort-target-id" th:value="${ship.destinationShip != null && allShips.contains(ship.destinationShip)} ? ${ship.destinationShip.id} : null" />
			<input type="hidden" id="skr-ingame-escort-speed" th:value="${ship.travelSpeed}" />

			<h6>
				<span class="normal" th:text="#{task}">Task</span>
				<span th:include="ingame/help::content" th:with="id='ship-tasks',title=#{help_ship_tasks_title},fragment='simple',content=#{help_ship_tasks}"></span>
			</h6>

			<form id="skr-ingame-ship-task-form">
				<div class="row no-gutters">
					<div class="col-sm-5">
						<div class="row no-gutters">
							<div class="col-12">
								<input type="radio" class="form-check-input" id="NONE" th:attr="tasktype='NONE'" name="task" th:checked="${ship.taskType.name() == 'NONE'}" />
								<label class="form-check-label" for="NONE" th:text="#{task_none}">None</label>
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col-12">
								<input type="radio" class="form-check-input" id="AUTOREFUEL" th:attr="tasktype='AUTOREFUEL'" name="task" th:checked="${ship.taskType.name() == 'AUTOREFUEL'}" />
								<label class="form-check-label" for="AUTOREFUEL" th:text="#{task_autorefuel}">Autorefuel</label>
								<span th:include="ingame/help::content" th:with="id='ship-tasks-autorefuel',title=#{task_autorefuel},fragment='simple',content=#{help_ship_tasks_autorefuel}"></span>
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col-12">
								<input type="radio" class="form-check-input" id="SHIP_RECYCLE" th:attr="tasktype='SHIP_RECYCLE'" name="task" th:checked="${ship.taskType.name() == 'SHIP_RECYCLE'}" />
								<label class="form-check-label" for="SHIP_RECYCLE" th:text="#{task_ship_recycle}">Ship recycle</label>
								<span th:include="ingame/help::content" th:with="id='ship-tasks-recycle',title=#{task_ship_recycle},fragment='simple',content=#{help_ship_tasks_recycling}"></span>
							</div>
						</div>
						<div class="row no-gutters" th:if="${ship.damage > 0}">
							<div class="col-12">
								<input type="radio" class="form-check-input" id="REPAIR" th:attr="tasktype='REPAIR'" name="task" th:checked="${ship.taskType.name() == 'REPAIR'}" />
								<label class="form-check-label" for="REPAIR" th:text="#{task_repair}">Repair</label>
								<span th:include="ingame/help::content" th:with="id='ship-tasks-repair',title=#{task_repair},fragment='simple',content=#{help_ship_tasks_repair}"></span>
							</div>
						</div>
						<div class="row no-gutters" th:if="${ship.crew < ship.shipTemplate.crew}">
							<div class="col-7">
								<input type="radio" class="form-check-input" id="HIRE_CREW" th:attr="tasktype='HIRE_CREW'" name="task" th:checked="${ship.taskType.name() == 'HIRE_CREW'}" />
								<label class="form-check-label" for="HIRE_CREW" th:text="#{task_hire_crew}">Hire crew</label>
							</div>
							<div class="col-4">
								<input type="number" class="form-control" id="HIRE_CREW_value" min="1" th:max="${ship.shipTemplate.crew - ship.crew}" th:value="${ship.taskValue != null} ? ${ship.taskValue} : ${ship.shipTemplate.crew - ship.crew}" />
							</div>
							<div class="col-1">
								<span th:include="ingame/help::content" th:with="id='ship-tasks-hire-crew',title=#{task_hire_crew},fragment='simple',content=#{help_ship_tasks_hire_crew}"></span>
							</div>
						</div>
						<div class="row no-gutters" th:if="${ship.hasWeapons()}">
							<div class="col-12">
								<input type="radio" class="form-check-input" id="CAPTURE_SHIP" th:attr="tasktype='CAPTURE_SHIP'" name="task" th:checked="${ship.taskType.name() == 'CAPTURE_SHIP'}" />
								<label class="form-check-label" for="CAPTURE_SHIP" th:text="#{task_capture_ship}">Capture ship</label>
								<span th:include="ingame/help::content" th:with="id='ship-tasks-capture-ship',title=#{task_capture_ship},fragment='simple',content=#{help_ship_tasks_capture_ship}"></span>
							</div>
						</div>
						<div class="row no-gutters" th:if="${ship.hasWeapons()}">
							<div class="col-12">
								<input type="radio" class="form-check-input" id="PLANET_BOMBARDMENT" th:attr="tasktype='PLANET_BOMBARDMENT'" name="task" th:checked="${ship.taskType.name() == 'PLANET_BOMBARDMENT'}" />
								<label class="form-check-label" for="PLANET_BOMBARDMENT" th:text="#{task_planet_bombardment}">Planet bombardment</label>
								<span th:include="ingame/help::content" th:with="id='ship-tasks-planet-bombardment',title=#{task_planet_bombardment},fragment='simple',content=#{help_ship_tasks_planet_bombardment}"></span>
							</div>
						</div>
						<div class="row no-gutters" th:if="${mineFieldsEnabled && ship.projectiles > 0}">
							<div class="col-7">
								<input type="radio" class="form-check-input" id="CREATE_MINE_FIELD" th:attr="tasktype='CREATE_MINE_FIELD'" name="task" th:checked="${ship.taskType.name() == 'CREATE_MINE_FIELD'}" />
								<label class="form-check-label" for="CREATE_MINE_FIELD" th:text="#{task_create_mine_field}">Create mine field</label>
							</div>
							<div class="col-3">
								<input type="number" class="form-control" id="CREATE_MINE_FIELD_value" min="1" th:max="${ship.projectiles}" th:value="${ship.taskValue != null} ? ${ship.taskValue} : ${ship.projectiles}" />
							</div>
							<div class="col-2">
								<span th:include="ingame/help::content" th:with="id='ship-tasks-create-minefield',title=#{task_create_mine_field},fragment='simple',content=#{help_ship_tasks_create_minefield}"></span>
							</div>
						</div>
						<div class="row no-gutters" th:if="${mineFieldsEnabled && ship.shipTemplate.hangarCapacity > 0}">
							<div class="col-12">
								<input type="radio" class="form-check-input" id="CLEAR_MINE_FIELD" th:attr="tasktype='CLEAR_MINE_FIELD'" name="task" th:checked="${ship.taskType.name() == 'CLEAR_MINE_FIELD'}" />
								<label class="form-check-label" for="CLEAR_MINE_FIELD" th:text="#{task_clear_mine_field}">Clear mine field</label>
								<span th:include="ingame/help::content" th:with="id='ship-tasks-clear-minefield',title=#{task_clear_mine_field},fragment='simple',content=#{help_ship_tasks_clear_minefield}"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="row no-gutters" th:each="ability : ${ship.shipTemplate.shipAbilities}" th:if="${!ability.type.passive}">
							<div th:class="${ability.type.hasValueType()} ? 'col-6' : 'col-12'">
								<input type="radio" class="form-check-input skr-ingame-ship-ability-input" th:id="${ability.type.name()}" th:attr="tasktype='ACTIVE_ABILITY'" name="task" th:checked="${activeAbility != null && activeAbility == ability.type}" />
								<label class="form-check-label" th:for="${ability.type.name()}" th:text="#{'ship_ability_' + ${ability.type.name()}}">Ability name</label>
								<span
									th:include="ingame/help::content"
									th:if="${!ability.type.hasValueType()}"
									th:with="id=${'ship-ability-' + ability.type.name()},title=#{'ship_ability_' + ${ability.type.name()}},fragment='simple',content=${abilityDescriptions.get(ability.id).description}"
								></span>
							</div>
							<div class="col-5" th:if="${ability.type.hasValueType()}">
								<input
									th:if="${ability.type.hasBooleanValueType()}"
									type="checkbox"
									th:checked="${ship.activeAbility == ability && ship.taskValue != null && ship.taskValue.equals('true')}"
									class="form-check-input"
									th:id="|${ability.type.name()}_value|"
								/>
								<label th:if="${ability.type.getValueLabel() != null}" th:for="|${ability.type.name()}_value|" th:text="#{${ability.type.getValueLabel()}}">Value</label>
								<select class="custom-select" th:if="${ability.type.name().equals('SIGNATURE_MASK')}" th:id="|${ability.type.name()}_value|">
									<option
										th:each="player : ${players}"
										th:value="${player.color}"
										th:selected="${player.color.equals(ship.taskValue)}"
										th:style="|color: #${player.color};|"
										th:text="${player.aiLevel != null} ? #{${player.aiLevel}} : ${player.login.username}"
										>Player name</option
									>
								</select>
								<select class="custom-select" th:if="${ability.type.name().equals('VIRAL_INVASION')}" th:id="|${ability.type.name()}_value|">
									<option value="VIRAL_INVASION_COLONISTS" th:selected="${'VIRAL_INVASION_COLONISTS'.equals(ship.taskValue)}" th:text="#{colonists}">Colonists</option>
									<option value="VIRAL_INVASION_NATIVES" th:selected="${'VIRAL_INVASION_NATIVES'.equals(ship.taskValue)}" th:text="#{dominant_species}">Dominant faction</option>
								</select>
								<select class="custom-select" style="width: 50px;" th:if="${ability.type.name().equals('OVERDRIVE')}" th:id="|${ability.type.name()}_value|">
									<option th:each="step : ${overDriveSteps}" th:selected="${step.toString().equals(ship.taskValue)}" th:value="${step}" th:text="|${step}%|">10%</option>
								</select>
							</div>
							<div class="col-1" th:if="${ability.type.hasValueType()}">
								<span th:include="ingame/help::content" th:with="id=${'ship-ability-' + ability.type.name()},title=#{'ship_ability_' + ${ability.type.name()}},fragment='simple',content=${abilityDescriptions.get(ability.id).description}"></span>
							</div>
						</div>
						<div class="row no-gutters" th:if="${hasAutoDestruction}">
							<div class="col-12">
								<input type="radio" class="form-check-input" id="AUTO_DESTRUCTION" th:attr="tasktype='AUTO_DESTRUCTION'" name="task" th:checked="${ship.taskType.name() == 'AUTO_DESTRUCTION'}" />
								<label class="form-check-label" for="AUTO_DESTRUCTION" th:text="|#{task_auto_destruction} (#{level} ${ship.shipTemplate.techLevel})|">Auto destruction level 2</label>
								<span th:include="ingame/help::content" th:with="id='ship-task-auto-destruction',title=#{task_auto_destruction},fragment='simple',content=#{help_ship_tasks_auto_destruction}"></span>
							</div>
						</div>
						<div class="row no-gutters" th:if="${canTrain}">
							<div class="col-4">
								<input type="radio" class="form-check-input" id="HUNTER_TRAINING" th:attr="tasktype='HUNTER_TRAINING'" name="task" th:checked="${ship.taskType.name() == 'HUNTER_TRAINING'}" />
								<label class="form-check-label" for="HUNTER_TRAINING" th:text="#{task_hunter_training}">Hunter training</label>
								<span th:include="ingame/help::content" th:with="id='ship-task-hunter-training',title=#{task_hunter_training},fragment='simple',content=#{help_ship_tasks_hunter_training}"></span>
							</div>
						</div>
						<div class="row no-gutters" th:if="${showTractorBeam}">
							<div class="col-4">
								<input type="radio" class="form-check-input" id="TRACTOR_BEAM" th:attr="tasktype='TRACTOR_BEAM'" name="task" th:checked="${ship.taskType.name() == 'TRACTOR_BEAM'}" />
								<label class="form-check-label" for="TRACTOR_BEAM" th:text="#{task_tractor_beam}">Tractor beam</label>
							</div>
							<div class="col-7">
								<select class="custom-select" id="TRACTOR_BEAM_value">
									<option th:each="s : ${towableShips}" th:value="${s.id}" th:text="${s.name}">Ship name</option>
								</select>
							</div>
							<div class="col-1">
								<span th:include="ingame/help::content" th:with="id='ship-task-tractor-beam',title=#{task_tractor_beam},fragment='simple',content=#{help_ship_tasks_tractor_beam}"></span>
							</div>
						</div>
						<div class="row no-gutters" th:if="${!allShips.isEmpty()}">
							<div class="col-4">
								<input type="checkbox" class="form-check-input" id="escort" th:checked="${escortTarget != null}" />
								<label class="form-check-label" for="escort" th:text="#{escort}">Escort</label>
							</div>
							<div class="col-4">
								<select class="custom-select" id="skr-ingame-escort-target-select">
									<option th:each="s : ${allShips}" th:selected="${escortTarget == s}" th:value="${s.id}" th:text="${s.name}">Ship name</option>
								</select>
							</div>
							<div class="col-3">
								<div th:include="ingame/ship/navigation::warp-speed-select" th:with="ship=${ship}"></div>
							</div>
							<div class="col-1">
								<span th:include="ingame/help::content" th:with="id='ship-task-escort',title=#{escort},fragment='simple',content=#{help_ship_tasks_escort}"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="row no-gutters">
					<div class="col-12 text-center">
						<button type="button" class="btn btn-primary mt-1 mb-1" id="skr-ingame-ship-change-task-button" onclick="shipTask.changeTask()" th:text="#{change_task}">Change task</button>
					</div>
				</div>
			</form>
			<script type="module" src="../js/modules/ingame/ship/task.js" th:src="@{/js/modules/ingame/ship/task.js}"></script>
		</div>
	</body>
</html>
