<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="cannot-transport">
			<div class="skr-game-selection-message" th:text="#{no_objects_in_transporter_range}">Keine Objekte in Transporterreicheweite</div>
		</div>
		<div th:fragment="transport-successfull">
			<div class="skr-game-selection-message" id="skr-ingame-ship-transport-success" th:text="#{transport_successfull}">Transport erfolgreich</div>
		</div>
		<div th:fragment="content" id="skr-game-ship-transporter">
			<input type="hidden" id="skr-game-ship-transporter-fuelmessage" th:value="#{fuel_capacity_exceeded}" />
			<input type="hidden" id="skr-game-ship-transporter-storagemessage" th:value="#{storage_space_exceeded}" />
			<input type="hidden" id="skr-game-ship-transporter-planet-id" th:value="${planet.id}" />
			<input type="hidden" id="skr-game-ship-transporter-is-own-planet" th:value="${isOwnPlanet}" />

			<div class="position-fixed">
				<div class="row no-gutters text-center">
					<div class="col-2">
						<img th:src="${ship.createFullImagePath()}" th:title="${ship.name}" />
					</div>
					<div class="col-4">
						<div class="row no-gutters">
							<div class="col-6 text-right pr-1">
								<span class="normal" th:text="|#{fuel_tank}:|">Fuel tank</span>
							</div>
							<div class="col-6 text-left">
								<span id="skr-game-ship-transporter-fuel" th:text="${ship.fuel}">123</span>
								<span class="normal">/</span>
								<span id="skr-game-ship-transporter-fuelcapacity" th:text="${ship.shipTemplate.fuelCapacity}">123</span>
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col-6 text-right pr-1">
								<span class="normal" th:text="|#{storage_space}:|">Storage space</span>
							</div>
							<div class="col-6 text-left">
								<span id="skr-game-ship-transporter-totalgoods" th:text="${ship.retrieveTotalGoods()}">123</span>
								<span class="normal">/</span>
								<span id="skr-game-ship-transporter-storagespace" th:text="${ship.retrieveStorageSpace()}">123</span>
							</div>
						</div>
					</div>
					<div class="col-3">
						<button type="button" class="btn btn-primary" id="skr-ingame-ship-finish-transport-button" onclick="shipTransporter.finishTransport()" th:text="#{finish_transport}" tabindex="13">Finish transport</button>
					</div>
					<div class="col-1">
						<span th:include="ingame/help::content" th:with="id='ship-tasks',title=#{transporter},fragment='simple',content=#{help_ship_transporter}"></span>
					</div>
					<div class="col-2">
						<img th:src="${planet.createFullImagePath()}" th:title="${planet.name}" />
					</div>
				</div>
			</div>

			<div id="skr-ship-transporter-sliders">
				<div th:include="ingame/range-line::content" th:with="fieldName='fuel',icon='fas fa-circle',leftValue=${ship.fuel},rightValue=${planet.retrieveTransportableFuel(playerId)},iconTitle=#{fuel},tabIndex=1"></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='colonists',icon='fa fa-male',leftValue=${ship.colonists},rightValue=${planet.colonists},iconTitle=#{colonists},tabIndex=2"
					th:if="${!isInfantryTransporter && isOwnPlanet}"
				></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='colonists',icon='fa fa-male',leftValue=${ship.colonists},rightValue=${planet.newColonists},iconTitle=#{colonists},tabIndex=3"
					th:if="${!isInfantryTransporter && !isOwnPlanet}"
				></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='money',icon='fa fa-coins',leftValue=${ship.money},rightValue=${planet.retrieveTransportableMoney(playerId)},iconTitle=#{money},tabIndex=4"
					th:if="${!isInfantryTransporter}"
				></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='supplies',icon='fa fa-cube',leftValue=${ship.supplies},rightValue=${planet.retrieveTransportableSupplies(playerId)},iconTitle=#{supplies},tabIndex=5"
					th:if="${!isInfantryTransporter}"
				></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='mineral1',icon='fas fa-certificate',leftValue=${ship.mineral1},rightValue=${planet.retrieveTransportableMineral1(playerId)},iconTitle=#{mineral1},tabIndex=6"
					th:if="${!isInfantryTransporter}"
				></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='mineral2',icon='fas fa-square-full',leftValue=${ship.mineral2},rightValue=${planet.retrieveTransportableMineral2(playerId)},iconTitle=#{mineral2},tabIndex=7"
					th:if="${!isInfantryTransporter}"
				></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='mineral3',icon='fas fa-play',leftValue=${ship.mineral3},rightValue=${planet.retrieveTransportableMineral3(playerId)},iconTitle=#{mineral3},tabIndex=8"
					th:if="${!isInfantryTransporter}"
				></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='lightgroundunits',icon='fa fa-male skr-light-ground-units',leftValue=${ship.lightGroundUnits},rightValue=${planet.lightGroundUnits},iconTitle=#{light_ground_units},tabIndex=9"
					th:if="${isOwnPlanet}"
				></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='lightgroundunits',icon='fa fa-male skr-light-ground-units',leftValue=${ship.lightGroundUnits},rightValue=${planet.newLightGroundUnits},iconTitle=#{light_ground_units},tabIndex=10"
					th:if="${!isOwnPlanet}"
				></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='heavygroundunits',icon='fa fa-male skr-heavy-ground-units',leftValue=${ship.heavyGroundUnits},rightValue=${planet.heavyGroundUnits},iconTitle=#{heavy_ground_units},tabIndex=11"
					th:if="${!isInfantryTransporter && isOwnPlanet}"
				></div>
				<div
					th:include="ingame/range-line::content"
					th:with="fieldName='heavygroundunits',icon='fa fa-male skr-heavy-ground-units',leftValue=${ship.heavyGroundUnits},rightValue=${planet.newHeavyGroundUnits},iconTitle=#{heavy_ground_units},tabIndex=12"
					th:if="${!isInfantryTransporter && !isOwnPlanet}"
				></div>
			</div>
			<script type="module" src="../js/modules/ingame/ship/transporter.js" th:src="@{/js/modules/ingame/ship/transporter.js}"></script>
		</div>
	</body>
</html>
