<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<input type="hidden" id="skr-ingame-starbase-defense-planet-id" th:value="${starbase.planet.id}" />
			
			<div class="row">
				<div class="col-12">
					<h5>
						<span class="normal" th:text="#{defense_systems}">Defense systems</span>
						<span th:include="ingame/help::content" th:with="id='starbase-defense',title=#{help_planet_defense_title},fragment='starbase-defense',data=${starbase.type}"></span>
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-6" th:include="ingame/icon-label::content" th:with="label=#{running},value=${starbase.defense},icon='fab fa-fort-awesome'"></div>
				<div class="col-md-2 border-left">
					<label th:text="#{maximum}">Maximum</label>
				</div>
				<div class="col-md-4 text-right">
					<span th:text="${starbase.type.getMaxDefense()}">50</span>
					<i class="fa-fw fab fa-fort-awesome"></i>
				</div>
			</div>
			<div class="row" th:if="${starbase.retrieveMaxDefense() > starbase.defense}">
				<div class="col-4">
					<select id="skr-starbase-defense-quantity-select" class="custom-select">
						<option th:each="quantity : ${#numbers.sequence(1, starbase.retrieveMaxDefense() - starbase.defense)}" th:selected="${quantity == starbase.retrieveMaxDefense() - starbase.defense}" th:value="${quantity}" th:text="${quantity}">1</option>
					</select>
				</div>
				<div class="col-8">
					<button type="button" class="btn btn-primary" id="skr-starbase-defense-build-defense" th:text="#{construct_planetary_defense}">Construct defense</button>
				</div>
			</div>
			<div class="row" th:if="${starbase.retrieveMaxDefense() <= starbase.defense && starbase.type.getMaxDefense() > starbase.retrieveMaxDefense()}">
				<div class="col-12" th:text="#{currently_no_defense_buildable}"></div>
			</div>
			<script type="module" src="../js/modules/ingame/starbase/defense.js" th:src="@{/js/modules/ingame/starbase/defense.js}"></script>
		</div>
	</body>
</html>
