<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<input type="hidden" id="skr-ingame-starbase-production-planet-id" th:value="${starbase.planet.id}" />
			
			<div class="row">
				<div class="col-12">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">
									<span th:if="${type.equals('HULL')}" th:include="ingame/help::content" th:with="id='production',title=#{help_starbase_hull_title},fragment='simple',content=#{help_starbase_hull_production}"></span>
									<span th:if="${type.equals('PROPULSION')}" th:include="ingame/help::content" th:with="id='production',title=#{help_starbase_propulsion_title},fragment='simple',content=#{help_starbase_propulsion_production}"></span>
									<span th:if="${type.equals('ENERGY') || type.equals('PROJECTILE')}" th:include="ingame/help::content" th:with="id='production',title=#{weapon_systems},fragment='production-weapon-systems',data=${data}"></span>
								</th>
								<th scope="col">
									<span th:title="#{'required_' + ${type.toLowerCase()} + '_tech_level'}">TL</span>
								</th>
								<th scope="col">
									<i class="fa-fw fa fa-coins" th:title="#{money}"></i>
								</th>
								<th scope="col">
									<i class="fa-fw fas fa-certificate" th:title="#{mineral1}"></i>
								</th>
								<th scope="col">
									<i class="fa-fw fas fa-square-full" th:title="#{mineral2}"></i>
								</th>
								<th scope="col">
									<i class="fa-fw fas fa-play" th:title="#{mineral3}"></i>
								</th>
								<th scope="col" th:text="#{stock}">Lager</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="entry : ${data}" class="skr-ingame-starbase-production-item">
								<td>
									<span
										th:class="|skr-ingame-starbase-production-item-name${entry.producableQuantity > 0 ? '' : ' font-weight-normal'}|"
										th:if="${!entry.type.name().equals('HULL') && !entry.type.name().equals('PROPULSION')}"
										th:text="#{${entry.name}}"
										>Item name</span
									>

									<span th:if="${entry.type.name().equals('PROPULSION')}" th:include="ingame/starbase/propulsion-details::content" th:with="id=${entry.name},title=#{${entry.name}},fragment=${entry.name}"></span>
									<a
										th:class="|skr-ingame-starbase-production-item-name skr-ingame-clickable-anchor skr-ingame-ship-template-details-button${entry.producableQuantity > 0 ? ' font-weight-bold' : ''}|"
										th:id="|skr-ingame-ship-template-details-button-${entry.id}|"
										th:if="${entry.type.name().equals('HULL')}"
										th:text="${entry.name}"
										>Ship name</a
									>

									<div th:if="${entry.type.name().equals('HULL')}" class="modal skr-ingame-ship-template-details-modal" tabindex="-1" role="dialog" th:id="|skr-ingame-ship-template-details-${entry.id}|">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-body">
													<div class="skr-ingame-ship-template-details-content"></div>
												</div>
											</div>
										</div>
									</div>
								</td>
								<td th:class="${entry.techLevel > starbase.retrieveTechLevel(typeEnum)} ? 'text-danger' : ''" th:text="${entry.techLevel}"></td>
								<td th:class="${entry.costMoney > starbase.planet.money} ? 'text-danger' : ''" th:text="${entry.costMoney}"></td>
								<td th:class="${entry.costMineral1 > starbase.planet.mineral1} ? 'text-danger' : ''" th:text="${entry.costMineral1}"></td>
								<td th:class="${entry.costMineral2 > starbase.planet.mineral2} ? 'text-danger' : ''" th:text="${entry.costMineral2}"></td>
								<td th:class="${entry.costMineral3 > starbase.planet.mineral3} ? 'text-danger' : ''" th:text="${entry.costMineral3}"></td>
								<td th:class="${entry.stock > 0} ? 'font-weight-bold' : ''" th:text="${entry.hasUnlimitedStock} ? '&infin;' : ${entry.stock}" th:id="|skr-ingame-production-stock-${entry.id}|"></td>
								<td>
									<select class="custom-select skr-starbase-production-quantity-select" th:if="${entry.producableQuantity > 0}" th:id="${'skr-starbase-production-quantity-' + entry.id}">
										<option th:each="q : ${#numbers.sequence(1, entry.producableQuantity)}" th:value="${q}" th:text="${q}">1</option>
									</select>
								</td>
								<td>
									<button
										type="button"
										th:if="${entry.producableQuantity > 0 && !entry.hasUnlimitedStock}"
										th:data1="${entry.id}"
										th:data2="${entry.type.name()}"
										th:text="#{produce}"
										class="btn btn-primary skr-ingame-starbase-produce-button"
										th:onclick="|starbaseProduction.produce(this.getAttribute('data1'), this.getAttribute('data2'))|"
									>
										Produzieren
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/starbase/production.js" th:src="@{/js/modules/ingame/starbase/production.js}"></script>
		</div>
	</body>
</html>
