<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-starbase-shipconstruction-success-message" th:text="#{ship_job_created}">Ship construction job submitted successfully.</div>
		</div>
		<div th:fragment="ship-job-exists">
			<div class="skr-game-selection-message" th:text="#{ship_already_being_built}">A ship is already being built in this starbase.</div>
		</div>
		<div th:fragment="hull-selection">
			<div class="row">
				<div class="col-md-4">
					<label th:text="#{select_hull}">Select hull</label>
				</div>
				<div class="col-md-8">
					<select class="custom-select" id="skr-starbase-shipconstruction-hull-select">
						<option th:each="hull : ${starbase.hullStocks}" th:value="${hull.id}" th:name="${hull.shipTemplate.id}" th:text="${@masterDataService.getShipTemplateName(hull.shipTemplate)}">Freighter</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<button type="button" class="btn btn-primary tutorial-click-element-stage-16" id="skr-ingame-starbase-shipconstruction-hull-select-button" th:text="#{continue_to_component_selection}" onclick="starbaseShipConstruction.selectHull()">
						Continue to component selection
					</button>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/starbase/shipconstruction.js" th:src="@{/js/modules/ingame/starbase/shipconstruction.js}"></script>
		</div>
		<div th:fragment="content" id="skr-starbase-shipconstruction-content">
			<form action="#" id="skr-starbase-shipconstruction-form">
				<input type="hidden" th:value="${hullStock.id}" id="skr-starbase-shipconstruction-hull-id" />
				<input type="hidden" th:value="${starbase.type.name()}" id="skr-starbase-shipconstruction-starbase-type" />
				<input type="hidden" th:value="${hullStock.shipTemplate.id}" id="skr-starbase-shipconstruction-ship-template-id" />

				<div class="row">
					<div class="col-4">
						<label th:text="#{ship_name}">ShipName</label>
					</div>
					<div class="col-8">
						<input type="text" class="form-control" id="skr-starbase-shipconstruction-shipname-input" maxlength="64" required />
						<div class="invalid-tooltip" th:text="#{name_must_be_submitted}">Name must be submitted</div>
					</div>
				</div>
				<div class="row">
					<div class="col-1">
						<i class="fa-fw fas fa-bolt" th:title="#{energy_weapons}"></i>
					</div>
					<div class="col-5">
						<label th:if="${hullStock.shipTemplate.energyWeaponsCount == 0}" th:text="#{not_needed}">not needed</label>
						<label th:if="${hullStock.shipTemplate.energyWeaponsCount > 0 && energyWeapons.size() == 0}" class="text-danger">
							<b th:text="${hullStock.shipTemplate.energyWeaponsCount} + ' ' + #{needed}">5 needed</b>
						</label>
						<select th:if="${hullStock.shipTemplate.energyWeaponsCount > 0 && energyWeapons.size() > 0}" class="custom-select" id="skr-starbase-shipconstruction-energy-select">
							<option th:each="energyWeapon : ${energyWeapons}" th:value="${energyWeapon.id}" th:text="|#{${energyWeapon.weaponTemplate.name}} (#{tech_level}: ${energyWeapon.weaponTemplate.techLevel})|">Laser</option>
						</select>
					</div>
					<div class="col-1">
						<i class="fa-fw fas fa-angle-double-right" th:title="#{propulsion_systems}"></i>
					</div>
					<div class="col-5">
						<label th:if="${propulsionSystems.size() == 0}" class="text-danger">
							<b th:text="${hullStock.shipTemplate.propulsionSystemsCount} + ' ' + #{needed}">5 needed</b>
						</label>
						<select th:if="${propulsionSystems.size() > 0}" class="custom-select" id="skr-starbase-shipconstruction-propulsion-select">
							<option th:each="propulsionSystem : ${propulsionSystems}" th:value="${propulsionSystem.id}" th:text="|#{${propulsionSystem.propulsionSystemTemplate.name}} (#{max_warp}: ${propulsionSystem.propulsionSystemTemplate.warpSpeed})|"
								>Sunsails</option
							>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-1">
						<i class="fa-fw fas fa-rocket" th:title="#{projectile_weapons}"></i>
					</div>
					<div class="col-5">
						<label th:if="${hullStock.shipTemplate.projectileWeaponsCount == 0}" th:text="#{not_needed}">not needed</label>
						<label th:if="${hullStock.shipTemplate.projectileWeaponsCount > 0 && projectileWeapons.size() == 0}" class="text-danger">
							<b th:text="${hullStock.shipTemplate.projectileWeaponsCount} + ' ' + #{needed}">5 needed</b>
						</label>
						<select th:if="${hullStock.shipTemplate.projectileWeaponsCount > 0 && projectileWeapons.size() > 0}" class="custom-select" id="skr-starbase-shipconstruction-projectile-select">
							<option th:each="projectileWeapon : ${projectileWeapons}" th:value="${projectileWeapon.id}" th:text="|#{${projectileWeapon.weaponTemplate.name}} (#{tech_level}: ${projectileWeapon.weaponTemplate.techLevel})|">Rockets</option>
						</select>
					</div>
					<div class="col-6">
						<button
							type="button"
							th:disabled="${shipCannotBeBuild}"
							id="skr-starbase-shipconstruction-build-button"
							class="btn btn-primary"
							onclick="starbaseShipConstruction.construct()"
							th:text="${starbase.type.name().equals('WAR_BASE')} ? #{continue_to_module_selection} :  #{build_ship}"
						>
							Build ship
						</button>
					</div>
				</div>
			</form>
		</div>
		<div th:fragment="module-selection" id="skr-starbase-shipconstruction-content">
			<input type="hidden" id="skr-starbase-shipconstruction-shipname-input" th:value="${request.name}" />
			<input type="hidden" id="skr-starbase-shipconstruction-hull-id" th:value="${request.hullStockId}" />
			<input type="hidden" id="skr-starbase-shipconstruction-propulsion-select" th:value="${request.propulsionSystemStockId}" />
			<input type="hidden" id="skr-starbase-shipconstruction-energy-select" th:value="${request.energyStockId}" />
			<input type="hidden" id="skr-starbase-shipconstruction-projectile-select" th:value="${request.projectileStockId}" />

			<div class="row">
				<div class="col-12">
					<h5 th:text="|#{select_ship_module}:|">Select ship module:</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-10">
					<select id="skr-starbase-shipconstruction-ship-module-select" class="custom-select">
						<option value="" th:text="#{no_module}">No module</option>
						<option th:each="module : ${modules}" th:value="${module.name()}" th:text="#{'ship_module_' + ${module.name()}}">ModuleName</option>
					</select>
				</div>
				<div class="col-2">
					<span th:include="ingame/help::content" th:with="id='ship-modules',title=#{ship_modules},fragment='simple',content=#{help_starbase_ship_modules}"></span>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col-12 text-center">
					<button type="button" id="skr-starbase-shipconstruction-build-button" class="btn btn-primary" onclick="starbaseShipConstruction.construct()" th:text="#{build_ship}">Build ship</button>
				</div>
			</div>
		</div>
	</body>
</html>
