<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="not-available">
			<div class="skr-game-selection-message" id="skr-starbase-spacefolds-unavailable-message" th:text="#{space_folds_unavailable}">To be able to use the space fold technology hull level 7 and propulsion level 8 are necessary.</div>
		</div>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-starbase-spacefolds-success-message" th:text="#{space_fold_initialized}">The space fold was initialized successfully.</div>
		</div>
		<div th:fragment="content" id="skr-ingame-space-folds-content">
			<input type="hidden" id="skr-ingame-spacefolds-available-money" th:value="${starbase.planet.money}" />
			<input type="hidden" id="skr-ingame-spacefolds-planet-id" th:value="${starbase.planet.id}" />
			<input type="hidden" id="skr-ingame-spacefolds-costs-message" th:value="#{space_folds_costs_message}" />
			<input type="hidden" id="skr-ingame-spacefolds-select-target-message" th:value="#{space_folds_select_target_message}" />

			<div class="position-fixed">
				<div class="row">
					<div class="col-2 text-center">
						<img th:src="${starbase.planet.createFullImagePath()}" />
					</div>
					<div class="col-8">
						<div class="d-inline-flex w-100 align-items-center justify-content-between">
							<span style="height: 24px;" th:include="ingame/help::content" th:with="id='space-folds',title=#{space_folds},fragment='space-folds'"></span>
							<span class="ml-1" th:text="|#{target}:|">Target:</span>

							<select class="custom-select ml-2 mr-2" id="skr-ingame-spacefolds-target-select">
								<option th:text="|--- #{selection_prompt} ---|" class="select-option-unselectable">Select...</option>
								<option th:text="|--- #{ships} ---|" th:if="${!ships.isEmpty()}" class="select-option-unselectable">Ships</option>
								<option
									th:each="ship : ${ships}"
									th:if="${!ships.isEmpty()}"
									th:id=" |ship_${ship.id}|"
									th:value="|ship_${ship.id}|"
									th:attr="image=${ship.createFullImagePath()}"
									th:text="${ship.name} + ' (' + ${shipTravelDurations.get(ship.id)} + ' ' + (${shipTravelDurations.get(ship.id)} == 1 ? #{month} : #{months}) + ')'"
									>Ship name (1 month)</option
								>
								<option th:text="|--- #{planets} ---|" class="select-option-unselectable">Planets</option>
								<option
									th:each="planet : ${planets}"
									th:attr="image=${planet.createFullImagePath()}"
									th:style="${planet.playerId != null && planet.playerId == playerId} ? |color: #${planet.playerColor}| : ''"
									th:id="|planet_${planet.id}|"
									th:value="|planet_${planet.id}|"
									th:text="${planet.name} + ' (' + ${planetTravelDurations.get(planet.id)} + ' ' + (${planetTravelDurations.get(planet.id)} == 1 ? #{month} : #{months}) + ')'"
									>Planet name (2 months)</option
								>
							</select>

							<button type="button" class="btn btn-primary fas fa-hand-pointer" id="skr-space-fold-select-by-map-button" onclick="spaceFolds.selectByGalaxyMap()" th:title="#{select_by_map}"></button>
						</div>
						<div class="w-100 text-center" id="skr-ingame-spacefolds-money-costs-wrapper">
							<span th:text="|#{total_money_costs}:|">Total Cantox costs:</span>
							<span id="skr-ingame-spacefolds-money-costs-label">75</span>
						</div>
					</div>
					<div class="col-2 text-center">
						<img id="skr-ingame-spacefolds-target-image" />
					</div>
				</div>
			</div>

			<div class="skr-spacefolds-sliders">
				<div th:include="ingame/range-line::content" th:with="fieldName='money',icon='fa fa-coins',leftValue=${starbase.planet.money},rightValue=0,iconTitle=#{money},tabIndex=1"></div>
				<div th:include="ingame/range-line::content" th:with="fieldName='supplies',icon='fa fa-cube',leftValue=${starbase.planet.supplies},rightValue=0,iconTitle=#{supplies},tabIndex=2"></div>
				<div th:include="ingame/range-line::content" th:with="fieldName='fuel',icon='fas fa-circle',leftValue=${starbase.planet.fuel},rightValue=0,iconTitle=#{fuel},tabIndex=3"></div>
				<div th:include="ingame/range-line::content" th:with="fieldName='mineral1',icon='fas fa-certificate',leftValue=${starbase.planet.mineral1},rightValue=0,iconTitle=#{mineral1},tabIndex=4"></div>
				<div th:include="ingame/range-line::content" th:with="fieldName='mineral2',icon='fas fa-square-full',leftValue=${starbase.planet.mineral2},rightValue=0,iconTitle=#{mineral2},tabIndex=5"></div>
				<div th:include="ingame/range-line::content" th:with="fieldName='mineral3',icon='fas fa-play',leftValue=${starbase.planet.mineral3},rightValue=0,iconTitle=#{mineral3},tabIndex=6"></div>
			</div>
			<div class="row mb-2">
				<div class="col-12 text-center">
					<button type="button" class="btn btn-primary" id="skr-ingame-starbase-init-space-fold-button" onclick="spaceFolds.initSpaceFold()" th:text="#{init_space_fold}" tabindex="7">Init space fold</button>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/starbase/space-folds.js" th:src="@{/js/modules/ingame/starbase/space-folds.js}"></script>
		</div>
	</body>
</html>
