<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<input type="hidden" id="skr-ingame-starbase-upgrade-planet-id" th:value="${starbase.planet.id}" />
			
			<div class="row">
				<div class="col-9">
					<input type="hidden" th:value="${starbase.planet.money}" id="skr-ingame-starbase-upgrade-money" />

					<input type="hidden" th:value="${starbase.hullLevel}" id="skr-ingame-starbase-upgrade-hull-level" />
					<input type="hidden" th:value="${starbase.propulsionLevel}" id="skr-ingame-starbase-upgrade-propulsion-level" />
					<input type="hidden" th:value="${starbase.energyLevel}" id="skr-ingame-starbase-upgrade-energy-level" />
					<input type="hidden" th:value="${starbase.projectileLevel}" id="skr-ingame-starbase-upgrade-projectile-level" />

					<input type="hidden" th:value="#{tutorial_stage_UPGRADE_TECHLEVELS_FIRST_alert}" id="skr-ingame-starbase-tutorial-upgrade-message-UPGRADE_TECHLEVELS_FIRST" />
					<input type="hidden" th:value="#{tutorial_stage_UPGRADE_TECHLEVELS_SECOND_alert}" id="skr-ingame-starbase-tutorial-upgrade-message-UPGRADE_TECHLEVELS_SECOND" />

					<div class="row no-gutters">
						<div class="col-5" th:include="ingame/icon-label::content" th:with="label=#{hull_level},value=${starbase.hullLevel},icon='fas fa-space-shuttle'"></div>
						<div class="col-5 pl-3">
							<select class="custom-select starbase-upgrade-select" id="skr-starbase-upgrade-hull-select" th:if="${starbase.hullLevel < 10 && hullCosts.size() > 0}">
								<option value="0"></option>
								<option th:each="level : ${hullCosts}" th:value="${level.number}" th:name="${level.money}" th:text="${level.number} + ': ' + ${level.money} + ' ' + #{money}"></option>
							</select>
						</div>
						<div class="col-2 pl-3">
							<span th:include="ingame/help::content" th:with="id='upgrade-hull',title=#{help_starbase_hull_title},fragment='upgrade-hull'"></span>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-5" th:include="ingame/icon-label::content" th:with="label=#{propulsion_level},value=${starbase.propulsionLevel},icon='fas fa-angle-double-right'"></div>
						<div class="col-5 pl-3">
							<select class="custom-select starbase-upgrade-select" id="skr-starbase-upgrade-propulsion-select" th:if="${starbase.propulsionLevel < 10 && propulsionCosts.size() > 0}">
								<option value="0"></option>
								<option th:each="level : ${propulsionCosts}" th:value="${level.number}" th:name="${level.money}" th:text="${level.number} + ': ' + ${level.money} + ' ' + #{money}"></option>
							</select>
						</div>
						<div class="col-2 pl-3">
							<span th:include="ingame/help::content" th:with="id='upgrade-propulsion',title=#{help_starbase_propulsion_title},fragment='upgrade-propulsion'"></span>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-5" th:include="ingame/icon-label::content" th:with="label=#{energy_level},value=${starbase.energyLevel},icon='fas fa-bolt'"></div>
						<div class="col-5 pl-3">
							<select class="custom-select starbase-upgrade-select" id="skr-starbase-upgrade-energy-select" th:if="${starbase.energyLevel < 10 && energyCosts.size() > 0}">
								<option value="0"></option>
								<option th:each="level : ${energyCosts}" th:value="${level.number}" th:name="${level.money}" th:text="${level.number} + ': ' + ${level.money} + ' ' + #{money}"></option>
							</select>
						</div>
						<div class="col-2 pl-3">
							<span th:include="ingame/help::content" th:with="id='upgrade-energy',title=#{help_starbase_energy_title},fragment='upgrade-energy'"></span>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-5" th:include="ingame/icon-label::content" th:with="label=#{projectile_level},value=${starbase.projectileLevel},icon='fas fa-rocket'"></div>
						<div class="col-5 pl-3">
							<select class="custom-select starbase-upgrade-select" id="skr-starbase-upgrade-projectile-select" th:if="${starbase.projectileLevel < 10 && projectileCosts.size() > 0}">
								<option value="0"></option>
								<option th:each="level : ${projectileCosts}" th:value="${level.number}" th:name="${level.money}" th:text="${level.number} + ': ' + ${level.money} + ' ' + #{money}"></option>
							</select>
						</div>
						<div class="col-2 pl-3">
							<span th:include="ingame/help::content" th:with="id='upgrade-projectiles',title=#{help_starbase_projectiles_title},fragment='upgrade-projectiles'"></span>
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<button
						th:if="${starbase.hullLevel < 10 || starbase.propulsionLevel < 10 || starbase.energyLevel < 10 || starbase.projectileLevel < 10}"
						type="button"
						class="btn btn-primary"
						th:text="#{upgrade}"
						id="skr-ingame-starbase-performupgrade-button"
						onclick="starbaseUpgrade.performUpgrade()"
					>
						Upgrade
					</button>

					<div id="skr-ingame-starbase-upgrade-costs-wrapper" style="display: none;">
						<span th:text="|#{total}:|">Total:</span>
						<span id="skr-ingame-starbase-upgrade-costs"></span>
					</div>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/starbase/upgrade.js" th:src="@{/js/modules/ingame/starbase/upgrade.js}"></script>
		</div>
	</body>
</html>
