 @keyframes pulsate {
    0% {
         transform: scale(0.1, 0.1);
         opacity: 0.0;
    }
    50% {
         opacity : 1 .0 ;
    }
    100% {
         transform : scale (1 .2 , 1 .2 );
         opacity : 0 .0 ;
    }
}
