#skr-ingame-nav-bar .nav-item {
	margin-left: 1em;
	margin-right: 1em;
}

#skr-scenario-text-menu, 
#skr-dashboard-user-dropdown-menu,
#skr-dashboard-notifications-dropdown-menu {
	right: 0;
	left: auto;
}

.scenario-dropdown-text {
	width: 400px;
	padding: 1rem;
}

#skr-dashboard-notifications-menu-button {
	top: -4px;
	position: relative;
}

#skr-dashboard-notifications-menu-button .badge {
	top: -4px;
}

.navbar-brand {
	margin-right: 0 !important;
}

label {
	margin-bottom: 0.2em;
}

#skr-ingame-turn-infos-menu-toggle {
	padding-top: 7px;
}

#skr-ingame-turn-infos-menu-toggle:hover {
	text-decoration: none !important;
}

.section {
	overflow: hidden;
}

.modal-content label {
	margin-top: 4px;
	margin-bottom: 0;
}

.modal-content .icon-label {
	margin-top: 0;
}

.icon-label-icon {
	line-height: 22px;
}

#skr-game-galaxy-wrapper {
	background: #111111;
	overflow: scroll;
	width: 100%;
	position: fixed;
}

.skr-mines-untapped-icon-label {
	width: 60%;
}

#skr-game-galaxy {
	background: #222222;
	user-select: none;
}

.skr-ingame-ship-mouse-over-ship-item:nth-child(even) {
	background: #ddd;
}

.skr-ingame-ship-mouse-over-ship-item:nth-child(odd) {
	background: white;
}

.skr-ingame-ship-mouse-over-ship-item:hover {
	background-color: #cccccc;
}

.skr-ingame-section-label {
	position: absolute;
	color: grey;
	font-size: 15px;
	font-weight: bold;
	width: 250px;
	height: 250px;
	text-align: center;
	padding-top: 110px;
}

.skr-ingame-section-coordinate-label {
	position: absolute;
	color: grey;
	width: 245px;
	font-size: 13px;
	padding: 2px;
}

.skr-ingame-section-line {
	position: absolute;
	width: 250px;
	height: 250px;
	border-color: grey;
	border-style: dashed;
	border-width: 0;
	z-index: 1;
}

.skr-game-planet img {
	position: absolute;
	width: 10px;
	height: 10px;
	cursor: pointer;
	z-index: 100;
	left: -5px;
	top: -5px;
}

.skr-ingame-ship-scan-circle,
.skr-ingame-planet-scan-circle,
.skr-game-wormhole,
.skr-game-spacefold,
.skr-game-plasmastorm,
.skr-game-minefield {
	position: absolute;
}

.skr-ingame-ship-scan-circle > div {
	position: relative;
	border: 1px solid #1854ff;
}

.skr-ingame-planet-scan-circle > div {
	position: relative;
	border: 1px dashed #1854ff;
	opacity: 0.7;
	border-radius: 160px;
}

.skr-game-wormhole > img {
	position: relative;
}

#skr-game-selection-wrapper {
	height: 163px;
	position: fixed;
	width: 100%;
	bottom: 0;
	font-size: 0.7em;
}

@media (max-width: 990px) {
	#skr-game-selection {
		height: 90%;
		overflow-y: scroll;
	}
}

@media (min-width: 990px) {
	.skr-ingame-selection-panel {
		height: 130px;
		overflow-y: scroll;
	}
}

#skr-game-selection .card {
	margin: 0 5px 20px 5px;
	border-color: gray;
}

#skr-game-selection .card .small {
	font-size: 90%;
	font-weight: bold;
}

#skr-game-selection .card-body {
	padding: 5px 10px 5px 10px;
}

#skr-game-selection .card-title {
	margin-bottom: 5px;
}

#skr-game-selection .card-body img {
	height: 65px;
}

#skr-game-selection label,
#skr-game-selection span {
	line-height: 24px;
}

#skr-planet-center .skr-planet-bottom-button {
	margin-top: 23px;
}

#skr-game-selection span {
	font-weight: bold;
}

#skr-game-selection span.normal {
	font-weight: normal;
}

.selection-button button {
	cursor: pointer;
	font-size: 1.5em;
	border: 0 none;
	background: transparent;
}

.selection-button button:disabled {
	cursor: default;
}

.selection-button button:disabled i {
	color: grey;
}

.selection-button-bottom {
	margin-top: 23px;
}

.selection-button-small button i {
	font-size: 1.1em !important;
}

#skr-planet-buttons-right i {
	margin-top: 6px;
}

#skr-starbase-small-icons {
	margin-top: 15px;
}

.skr-ingame-selection-panel .custom-select,
.small .custom-select {
	height: 2em;
	padding: 3px;
	font-size: inherit;
}

.small-select {
	padding: 2px !important;
}

.skr-ingame-selection-panel .table td,
.skr-ingame-selection-panel .table th {
	padding: 3px;
}

.skr-starbase-production-quantity-select {
	width: 40px;
}

input.form-control {
	padding: 2px;
	font-size: 1em;
	height: 2em;
}

input.small {
	width: 70px;
	display: inline-block;
}

button.btn {
	padding: 0 7px;
	font-size: 1.2em;
	height: 1.7em;
	line-height: 1em;
}

.skr-game-selection-message {
	width: 100%;
	margin-top: 2em;
	font-size: 2em;
	text-align: center;
}

#skr-ship-small-icons button {
	font-size: 1em !important;
	margin-bottom: 12px !important;
}

#skr-game-ship-scanner img {
	height: 45px;
	border: 2px solid black;
}

#skr-game-ship-scanner button {
	margin-top: 15px;
}

.skr-ship-scanner-planet-details,
.skr-ship-scanner-ship-details {
	padding-top: 5px;
	padding-bottom: 5px;
}

.skr-game-details-mouseover {
	padding: 0 !important;
	display: none;
	position: absolute;
	background: black;
	color: white;
	left: 5px;
	top: 20px;
	z-index: 1200;
	border: 1px solid white;
	font-size: 0.7em !important;
}

.skr-game-details-mouseover-content {
	background: white;
	color: black;
	width: 300px;
	text-align: left;
	padding: 3px !important;
}

.skr-game-mouseover-ship {
	width: 250px;
}

.skr-game-mouseover-ships {
	width: 300px;
}

.skr-game-mouseover-ship-relation {
	width: 22px;
}

.skr-game-mouseover-planet {
	width: 175px;
}

.skr-game-mouseover-planet-owned {
	width: 250px;
}

.skr-game-mouseover-starbase {
	width: 150px;
}

.untapped-resource {
	height: 15px;
	margin-top: 5px;
}

.skr-ingame-list-panel-wrapper {
	overflow-x: overlay;
	width: 100%;
}

.skr-ingame-list-panel {
	width: 100%;
}

.skr-ingame-selection-item {
	width: 200px;
	cursor: pointer;
}

.skr-ingame-selection-bars td {
	border: 1px solid grey;
}

.skr-ingame-selection-bars td div {
	width: 100%;
}

.selection-bar {
	height: 100%;
	width: 20px;
}

.shield {
	background-color: lightblue;
}

.damage {
	background-color: blue;
	color: white;
}

.cargo {
	background-color: orange;
}

.crew {
	background-color: yellow;
}

.ship-bar-details {
	height: 15px;
	width: 50%;
}

.ship-bar-details > div {
	height: 15px;
	width: 100%;
}

.skr-ingame-native-species-image {
	width: 100px;
	height: 100px !important;
}

.skr-ingame-clickable-anchor {
	color: #007bff !important;
	cursor: pointer;
}

.skr-ingame-navigation-over-speed-warp-entry {
	color: white;
	background-color: red;
}

.select-option-unselectable {
	background: grey;
	color: white;
}

#skr-game-ship-transporter img,
#skr-ingame-space-folds-content img {
	height: 40px;
}

#skr-game-ship-transporter input.small,
#skr-ingame-space-folds-content input.small {
	text-align: right;
}

#skr-game-ship-transporter > .position-fixed,
#skr-ingame-space-folds-content > .position-fixed {
	width: 39%;
	z-index: 500;
	background: white;
}

#skr-ship-transporter-sliders,
.skr-spacefolds-sliders {
	padding-top: 5em;
}

@media (max-width: 1000px) {
	#skr-game-ship-transporter > .position-fixed,
	#skr-ingame-space-folds-content > .position-fixed {
		position: relative !important;
		width: 100%;
		z-index: 500;
		background: white;
	}
	#skr-ship-transporter-sliders,
	.skr-spacefolds-sliders {
		padding-top: 1em;
	}
}

.nav-tabs .badge {
	position: relative;
	top: -10px;
	right: -5px;
}

#skr-ship-courseselect-checkbox-wrapper {
	margin-left: 19px;
}

#skr-ingame-ship-task-form {
	margin-left: 19px;
}

#skr-ingame-selection-ping-wrapper {
	position: absolute;
	z-index: 40;
	display: none;
}

#skr-ingame-selection-ping {
	border: 1px solid gray;
	border-radius: 50px;
	height: 44px;
	width: 44px;
	position: absolute;
	left: -22px;
	top: -22px;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
}

.popover {
	z-index: 1070;
	border-color: #007bff;
}

.bs-popover-left .arrow:before {
	border-left-color: #007bff !important;
}

.bs-popover-top .arrow:before {
	border-top-color: #007bff !important;
}

.bs-popover-right .arrow:before {
	border-right-color: #007bff !important;
}

.bs-popover-bottom .arrow:before {
	border-bottom-color: #007bff !important;
}

.dropdown-menu {
	z-index: 1071;
}

.border-left,
.border-right {
	border-color: grey !important;
}

#skr-ingame-fleet-details .skr-ingame-selection-item {
	cursor: default;
	width: 180px;
}

#skr-ingame-fleet-details .skr-ingame-selection-item img,
#skr-ingame-fleet-details .skr-ingame-selection-item .card-title {
	cursor: pointer;
}

#skr-ingame-fleet-task-select {
	padding: 3px;
	font-size: 0.9em;
	height: 2.3em;
}

.ship-destination-marker {
	border: 1px dashed;
	width: 22px;
	height: 22px;
	position: absolute;
}

#skr-ingame-expand-details-button {
	margin-bottom: 10px;
}

.skr-ingame-fleet-ships-item {
	border: 1px solid gray;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
}

.skr-ingame-travel-line {
	pointer-events: none;
}