<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<input type="hidden" id="skr-ingame-factories-max-buildable" th:value="${maxFactories - planet.factories}" />
			<input type="hidden" id="skr-ingame-supplies" th:value="${planet.supplies}" />

			<div class="row">
				<div class="col-6">
					<h5>
						<span class="normal" th:text="#{factories}">Factories</span>
						<span th:include="ingame/help::content" th:with="id='planet-factories',title=#{help_planet_factories_title},fragment='planet-factories',faction=${planet.player.faction}"></span>
					</h5>
					<div class="row">
						<div class="col-6" th:include="ingame/icon-label::content" th:with="label=#{running},value=${planet.factories},icon='fa fa-industry'"></div>
						<div class="col-6 border-left" th:include="ingame/icon-label::content" th:with="label=#{maximum},value=${planet.retrieveMaxFactoriesByColonists()},icon='fa fa-industry'"></div>
					</div>
					<div class="row" th:if="${maxFactories > planet.factories}">
						<div class="col-4">
							<select id="skr-planet-factories-quantity-select" class="custom-select">
								<option th:each="quantity : ${#numbers.sequence(1, maxFactories - planet.factories)}" th:selected="${quantity == maxFactories - planet.factories}" th:value="${quantity}" th:text="${quantity}">1</option>
							</select>
						</div>
						<div class="col-8">
							<button type="button" class="btn btn-primary" id="skr-planet-factories-build-factories" th:text="#{construct_factories}" th:title="|#{construct_factories} (#{alt_key}+Q)|">Fabriken bauen</button>
						</div>
					</div>
					<div class="row" th:if="${maxFactories <= planet.factories && planet.retrieveMaxFactoriesByColonists() > maxFactories}">
						<div class="col-12 mb-1" th:text="#{currently_no_factories_buildable}"></div>
					</div>
					<div class="row">
						<div class="col-12">
							<input type="checkbox" id="skr-planet-factories-automated-checkbox" th:checked="${planet.autoBuildFactories}" th:title="|#{automated_construction} (#{alt_key}+A)|" />
							<label for="skr-planet-factories-automated-checkbox" th:text="#{automated_construction}" th:title="|#{automated_construction} (#{alt_key}+A)|">Automatisierter Bau</label>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-8" th:include="ingame/icon-label::content" th:with="label=#{supplies},value=|${planet.supplies} KT|,icon='fa fa-cube'"></div>
						<span th:include="ingame/help::content" th:with="id='planet-supplies',title=#{help_planet_supplies_title},fragment='simple',content=#{help_planet_supplies_content}"></span>
					</div>
					<div class="row" th:if="${planet.supplies > 0}">
						<div class="col-4">
							<input type="number" min="0" id="skr-planet-supplies-quantity-input" th:max="${planet.supplies}" th:value="${planet.supplies}" />
							<div id="skr-ingame-sell-supplies-error" class="text-danger" style="display: none;" th:text="#{invalid_value}"></div>
						</div>
						<div class="col-6">
							<button type="button" class="btn btn-primary" id="skr-planet-factories-sell-supplies" th:text="#{sell_supplies}" th:title="|#{sell_supplies} (#{alt_key}+W)|">Vorräte verkaufen</button>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<input type="checkbox" id="skr-planet-sell-supplies-automated-checkbox" th:checked="${planet.autoSellSupplies}" th:title="|#{automated_selling} (#{alt_key}+S)|" />
							<label for="skr-planet-sell-supplies-automated-checkbox" th:text="#{automated_selling}" th:title="|#{automated_selling} (#{alt_key}+S)|">Automatisierter Verkauf</label>
						</div>
					</div>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/planet/factories.js" th:src="@{/js/modules/ingame/planet/factories.js}"></script>
		</div>
	</body>
</html>
