<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="row">
				<div class="col-sm-6">
					<h5>
						<span class="normal" th:text="#{mines}">Mines</span>
						<span th:include="ingame/help::content" th:with="id='planet-mines',title=#{help_planet_mines_title},fragment='planet-mines',faction=${planet.player.faction}"></span>
					</h5>
					<div class="row">
						<div class="col-6" th:include="ingame/icon-label::content" th:with="label=#{running},value=${planet.mines},icon='fa fa-monument'"></div>
						<div class="col-6 border-left" th:include="ingame/icon-label::content" th:with="label=#{maximum},value=${planet.retrieveMaxMinesByColonists()},icon='fa fa-monument'"></div>
					</div>
					<div class="row" th:if="${maxMines > planet.mines}">
						<div class="col-4">
							<select id="skr-planet-mines-quantity-select" class="custom-select">
								<option th:each="quantity : ${#numbers.sequence(1, maxMines - planet.mines)}" th:selected="${quantity == maxMines - planet.mines}" th:value="${quantity}" th:text="${quantity}">1</option>
							</select>
						</div>
						<div class="col-8">
							<button type="button" class="btn btn-primary" id="skr-planet-mines-build-mines" th:text="#{construct_mines}" th:title="|#{construct_mines} (#{alt_key}+Q)|">Minen bauen</button>
						</div>
					</div>
					<div class="row" th:if="${maxMines <= planet.mines && planet.retrieveMaxMinesByColonists() > maxMines}">
						<div class="col-12 mb-1" th:text="#{currently_no_mines_buildable}"></div>
					</div>
					<div class="row">
						<div class="col-12">
							<input type="checkbox" id="skr-planet-mines-automated-checkbox" th:checked="${planet.autoBuildMines}" th:title="|#{automated_construction} (#{alt_key}+A)|" />
							<label for="skr-planet-mines-automated-checkbox" th:text="#{automated_construction}" th:title="|#{automated_construction} (#{alt_key}+A)|">Automatisierter Bau</label>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h6 th:text="#{untapped_resources}" class="mb-0">Untapped resources</h6>
					<div class="row">
						<div class="col-12 col-sm-10 col-md-10 col-lg-12 col-xl-12">
							<div class="d-inline-flex justify-content-between w-100 align-items-center">
								<div class="skr-mines-untapped-icon-label" th:include="ingame/icon-label::content" th:with="label=#{fuel},value=|${planet.untappedFuel} KT|,icon='fas fa-circle'"></div>
								<i th:class="${planet.retrieveFuelDensityIcon()}" th:title="#{'help_planet_mines_' + ${planet.retrieveFuelDensityTitle()}}"></i>
								<span th:text="|+${fuelForNextRound} KT|" th:title="#{next_round_mined(${fuelForNextRound}, #{fuel})}">+5 KT</span>
							</div>
							<div class="d-inline-flex justify-content-between w-100 align-items-center">
								<div class="skr-mines-untapped-icon-label" th:include="ingame/icon-label::content" th:with="label=#{mineral1},value=|${planet.untappedMineral1} KT|,icon='fas fa-certificate'"></div>
								<i th:class="${planet.retrieveMineral1DensityIcon()}" th:title="#{'help_planet_mines_' + ${planet.retrieveMineral1DensityTitle()}}"></i>
								<span th:text="|+${mineral1ForNextRound} KT|" th:title="#{next_round_mined(${mineral1ForNextRound}, #{mineral1})}">+5 KT</span>
							</div>
							<div class="d-inline-flex justify-content-between w-100 align-items-center">
								<div class="skr-mines-untapped-icon-label" th:include="ingame/icon-label::content" th:with="label=#{mineral2},value=|${planet.untappedMineral2} KT|,icon='fas fa-square-full'"></div>
								<i th:class="${planet.retrieveMineral2DensityIcon()}" th:title="#{'help_planet_mines_' + ${planet.retrieveMineral2DensityTitle()}}"></i>
								<span th:text="|+${mineral2ForNextRound} KT|" th:title="#{next_round_mined(${mineral2ForNextRound}, #{mineral2})}">+5 KT</span>
							</div>
							<div class="d-inline-flex justify-content-between w-100 align-items-center">
								<div class="skr-mines-untapped-icon-label" th:include="ingame/icon-label::content" th:with="label=#{mineral3},value=|${planet.untappedMineral3} KT|,icon='fas fa-play'"></div>
								<i th:class="${planet.retrieveMineral3DensityIcon()}" th:title="#{'help_planet_mines_' + ${planet.retrieveMineral3DensityTitle()}}"></i>
								<span th:text="|+${mineral3ForNextRound} KT|" th:title="#{next_round_mined(${mineral3ForNextRound}, #{mineral3})}">+5 KT</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/planet/mines.js" th:src="@{/js/modules/ingame/planet/mines.js}"></script>
		</div>
	</body>
</html>
