<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="row mt-2 no-gutters">
				<div class="col-sm-6 col-md-4 mb-2 pr-2" th:each="orbitalSystem : ${orbitalSystems}">
					<button style="height: 100%;" type="button" class="btn btn-outline-primary form-control tutorial-click-element-stage-OPEN_ORBITAL_SYSTEM_SLOT" th:onclick="|orbitalSystems.showDetails(${orbitalSystem.id})|">
						<div class="pt-3 pb-3" th:text="${orbitalSystem.type != null} ? #{'orbital_system_type_' + ${orbitalSystem.type.name()}} : #{orbital_system_empty_slot}">Orbital system name</div>
					</button>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/planet/orbitalsystems.js" th:src="@{/js/modules/ingame/planet/orbitalsystems.js}"></script>
		</div>
	</body>
</html>
