<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="empty">
			<div class="skr-game-selection-message" id="skr-ingame-no-ships-in-orbit" th:text="#{no_ships_in_orbit}">No ships in orbit.</div>
		</div>
		<div th:fragment="content">
			<div th:if="${!ownShips.isEmpty()}">
				<h6 th:text="#{own_ships_in_orbit}">Own ships in orbit</h6>
				<div id="skr-game-ship-scanner" th:include="ingame/ship/scanner::ships" th:with="ships=${ownShips},scanner=false,own=true"></div>
			</div>
			<div th:if="${!foreignShips.isEmpty()}">
				<h6 th:text="#{foreign_ships_in_orbit}">Own ships in orbit</h6>
				<div id="skr-game-ship-scanner" th:include="ingame/ship/scanner::ships" th:with="ships=${foreignShips},scanner=false,own=false"></div>
			</div>
		</div>
	</body>
</html>
