<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="under-construction">
			<div class="skr-game-selection-message" th:text="#{starbase_already_construction}">Eine Sternbasis befindet sich momentan im Bau</div>
		</div>
		<div th:fragment="order-successfull">
			<div class="skr-game-selection-message" th:text="#{starbase_order_successfull}">Bau der Basis wurde erfolgreich in Auftrag gegeben</div>
		</div>
		<div th:fragment="name-select" id="skr-planet-starbasepconstruction-content">
			<input type="hidden" id="skr-planet-starbaseconstruction-type" th:value="${type}" />
			<div class="row">
				<div class="col-4">
					<label th:text="#{name}">Name</label>
				</div>
				<div class="col-8">
					<input type="text" class="form-control" id="skr-planet-starbaseconstruction-name-input" maxlength="64" required />
					<div class="invalid-tooltip" th:text="#{name_must_be_submitted}">Name muss angegeben werden!</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<button type="button" class="btn btn-primary" onclick="starbaseConstruction.construct()" th:text="#{order_starbase_construction}">Basis in Auftrag geben</button>
				</div>
			</div>
		</div>
		<div th:fragment="content" id="skr-planet-starbasepconstruction-content">
			<div class="row">
				<div class="col-12">
					<table class="table">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">
									<i th:title="#{money}" class="fa-fw fa fa-coins"></i>
								</th>
								<th scope="col">
									<i th:title="#{supplies}" class="fa-fw fa fa-cube"></i>
								</th>
								<th scope="col">
									<i th:title="#{fuel}" class="fa-fw fa fa-circle"></i>
								</th>
								<th scope="col">
									<i th:title="#{mineral1}" class="fa-fw fas fa-certificate"></i>
								</th>
								<th scope="col">
									<i th:title="#{mineral2}" class="fa-fw fas fa-square-full"></i>
								</th>
								<th scope="col">
									<i th:title="#{mineral3}" class="fa-fw fas fa-play"></i>
								</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="entry : ${starbaseTypes}" class="font-weight-bold">
								<td>
									<a class="skr-ingame-clickable-anchor skr-ingame-starbase-type-item" th:id="|skr-ingame-starbase-type-${entry.name()}|" th:text="#{${entry.name()}}"></a>

									<div class="modal skr-ingame-starbase-type-modal" tabindex="-1" role="dialog" th:id="|skr-ingame-starbase-type-modal-${entry.name()}|">
										<div class="modal-dialog modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 th:text="#{${entry.name()}}">Starbase</h5>
												</div>
												<div class="modal-body">
													<div class="container">
														<div class="row">
															<div class="col-12" th:utext="#{'starbase_description_' + ${entry.name()}}">Content</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</td>
								<td th:text="${entry.costMoney}" th:class="${entry.costMoney > planet.money} ? 'text-danger' : ''"></td>
								<td th:text="${entry.costSupplies}" th:class="${entry.costSupplies > planet.supplies} ? 'text-danger' : ''"></td>
								<td th:text="${entry.costFuel}" th:class="${entry.costFuel > planet.fuel} ? 'text-danger' : ''"></td>
								<td th:text="${entry.costMineral1}" th:class="${entry.costMineral1 > planet.mineral1} ? 'text-danger' : ''"></td>
								<td th:text="${entry.costMineral2}" th:class="${entry.costMineral2 > planet.mineral2} ? 'text-danger' : ''"></td>
								<td th:text="${entry.costMineral3}" th:class="${entry.costMineral3 > planet.mineral3} ? 'text-danger' : ''"></td>
								<td>
									<button
										type="button"
										class="btn btn-primary"
										th:disabled="${!planet.canConstructStarbase(entry)}"
										th:text="#{order_starbase_construction}"
										th:data1="${entry.name()}"
										th:onclick="|starbaseConstruction.toNameSelect(this.getAttribute('data1'))|"
									>
										Basis in Auftrag geben
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/planet/starbase-construction.js" th:src="@{/js/modules/ingame/planet/starbase-construction.js}"></script>
		</div>
	</body>
</html>
