<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<p th:text="#{email_account_activation_salutation(${login.username})}">Welcome Username!</p>

	<p>
		<span th:text="#{email_account_activation_title_one}">The account you created at</span>
		<a th:href="${baseUrl}">Skrupel TNG</a>
		<span th:text="#{email_account_activation_title_two}">can be activated with the following link:</span>
	</p>

	<p>
		<a th:href="|${baseUrl}/activate-account/${login.activationCode}|" th:text="#{email_account_activation_activate_account}">Activate account</a>
	</p>

	<p th:text="#{email_default_farewell}">Cheers,</p>

	<p>Skrupel TNG</p>
</body>
</html>