<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<body>
		<p th:text="#{email_round_notification_salutation(${login.username})}">Greetings Username!</p>

		<p>
			<span th:text="#{email_game_invite_notification_one}">You have been invited to participate in the game </span>
			<a th:href="${link}" th:text="${game.name}"></a>
			<span th:text="#{email_game_invite_notification_two}">.</span>
			<span th:text="#{email_game_invite_notification_three}">If you do want to participate in the game you should select your faction. You can also simply leave the game again if you do not want to participate.</span>
		</p>

		<p th:text="#{email_default_farewell}">Cheers,</p>

		<p>Skrupel TNG</p>
	</body>
</html>
