<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<p th:text="#{email_password_recovery_salutation(${login.username})}">Hello Username!</p>

	<p th:text="#{email_password_recovery_one}">Skrupel TNG received a request to reset your password. If this request was made by you click the
		"Reset my password" link or copy and paste the URL into your browser.</p>

	<p>
		<a th:href="|${baseUrl}/reset-password/token/${login.passwordRecoveryToken}|" th:text="#{email_password_recovery_two}">Reset my password</a>
	</p>

	<p th:text="#{email_default_farewell}">Cheers,</p>

	<p>Skrupel TNG</p>
</body>
</html>