#skr-buttons {
	margin-bottom: 10px;
}

#skr-game #skr-game-players td {
	line-height: 38px;
}

.skr-game-galaxy-selection-item>label {
	cursor: pointer;
}

.skr-game-galaxy-image {
	border: 1px solid black;
}

.nav-tabs {
	margin-bottom: 20px;
}

button i, a i {
	font-size: 1.0em !important;
}

#skr-game-mini-map, #skr-game-mini-map div {
	cursor: default;
}

.user-stats-row:nth-child(odd) {
	background: #ddd;
}

.user-stats-row:nth-child(even) {
	background: white;
}

.skr-scenario-start-button {
	font-size: 1.3rem;
}

@media (min-width: 991px) {
	.skr-game-details-button-open-games {
		width: 75%;
	}
}

@media (max-width: 990px) {
	.skr-game-details-button-open-games {
		width: 100%;
	}
}

#skr-scenario-close-tutorial-hint-button {
	background-color: transparent;
	cursor: pointer;
    border: 0;
	padding: 0;
	position: absolute;
	right: 10px;
	top: 5px;
}

@media (min-width: 991px) {
	.scenario-card-objective {
		min-height: 130px;
	}
}