<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-ingame-fleet-fuel">
			<h6>
				<span class="normal" th:text="#{fill_tanks}">Fill tanks</span>
				<span th:include="ingame/help::content" th:with="id='fleet-fuel',title=#{help_fleet_fuel_title},fragment='simple',content=#{help_fleet_fuel_content}"></span>
			</h6>

			<div class="text-center">
				<h5 th:if="${resourceData.possibleTankPercentage <= 0.01}" class="w-100" th:text="#{fleet_cannot_be_refueld}">This fleet cannot be refueled any further at the moment.</h5>

				<th:block th:if="${resourceData.possibleTankPercentage > 0.01}">
					<div class="d-inline-flex align-items-center w-100">
						<span th:text="|#{current_fuel_percentage}:|">Current:</span>
						<span class="ml-1 mr-2" id="skr-ingame-fleet-fuel-percentage" th:text="|${resourceData.currentTankPercentage}%|">20%</span>

						<input type="range" class="form-control-range" id="slider-fuel-percentage" th:max="${resourceData.possibleTankPercentage}" th:value="${resourceData.currentTankPercentage}" />

						<span class="ml-2 mr-1" th:text="|#{max_fuel_percentage}:|">Max:</span>
						<span th:text="|${resourceData.possibleTankPercentage}%|">100%</span>
					</div>

					<button type="button" class="btn btn-primary" onclick="fleetFuel.fillTanks()" th:text="#{fill_tanks}">Fill tanks</button>
				</th:block>
			</div>

			<script type="module" src="../js/modules/ingame/fleet/fuel.js" th:src="@{/js/modules/ingame/fleet/fuel.js}"></script>
		</div>
	</body>
</html>
