<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="success">
			<div class="skr-game-selection-message" id="skr-ingame-fleet-merged" th:text="#{fleets_merged}">Fleets merged!</div>
		</div>
		<div th:fragment="content" id="skr-game-merge-content">
			<h6>
				<span class="normal" th:text="#{merge_fleets}">Merge fleets</span>
				<span th:include="ingame/help::content" th:with="id='fleet-merge',title=#{help_fleet_merge_title},fragment='simple',content=#{help_fleet_merge_content}"></span>
			</h6>

			<div class="row mb-3">
				<div class="col-6">
					<b th:text="|#{fleet_to_be_merged}:|">Fleet to be merge into this fleet:</b>
				</div>
				<div class="col-6">
					<select class="custom-select" id="skr-ingame-fleet-merge-select">
						<option th:each="otherFleet : ${fleets}" th:value="${otherFleet.id}" th:text="${otherFleet.name}">Fleet name</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button type="button" onclick="fleetMerge.mergeFleets()" class="btn btn-primary" th:text="#{merge_fleets}">Merge fleets</button>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/fleet/merge.js" th:src="@{/js/modules/ingame/fleet/merge.js}"></script>
		</div>
	</body>
</html>
