<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="name-changed">
			<div class="skr-game-selection-message" id="skr-ingame-fleet-name-changed" th:text="#{name_changed}">Name changed!</div>
		</div>
		<div th:fragment="content" id="skr-game-options-content">
			<h6>
				<span class="normal" th:text="#{options}">Options</span>
			</h6>

			<div class="row mb-3">
				<div class="col-3">
					<b th:text="|#{name}:|">Name:</b>
				</div>
				<div class="col-6">
					<input type="text" class="form-control" th:value="${fleet.name}" id="skr-ingame-fleet-name-input" maxlength="64" />
					<div class="text-danger" id="skr-ingame-fleet-name-blank" style="display: none;" th:text="#{fleet_name_cannot_empty}">Fleet name cannot be empty!</div>
				</div>
				<div class="col-3">
					<button type="button" onclick="fleetOptions.changeName()" class="btn btn-primary" th:text="#{change_name}">Change name</button>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button type="button" onclick="fleetOptions.showDeleteFleetModal()" class="btn btn-danger" th:text="#{delete_fleet}">Delete fleet</button>
				</div>
			</div>
			<script type="module" src="../js/modules/ingame/fleet/options.js" th:src="@{/js/modules/ingame/fleet/options.js}"></script>
		</div>
	</body>
</html>
