<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content" id="skr-ingame-fleet-projectiles">
			<h6>
				<span class="normal" th:text="#{projectiles}">Projectiles</span>
				<span th:include="ingame/help::content" th:with="id='fleet-projectiles',title=#{help_fleet_projectiles_title},fragment='simple',content=#{help_fleet_projectiles_content}"></span>
			</h6>

			<div class="text-center">
				<h5 th:if="${resourceData.possibleProjectilePercentage - resourceData.currentProjectilePercentage == 0.0}" class="w-100" th:text="#{fleet_no_more_projectiles_can_be_build}">No more projectiles can be build for this fleet.</h5>

				<th:block th:if="${resourceData.possibleProjectilePercentage - resourceData.currentProjectilePercentage > 0.0}">
					<div class="d-inline-flex align-items-center w-100">
						<span th:text="|#{current_projectile_percentage}:|">Current:</span>
						<span class="ml-1 mr-2" th:text="|${resourceData.currentProjectilePercentage}%|">20%</span>

						<span class="ml-2 mr-1" th:text="|#{max_projectile_percentage}:|">Max:</span>
						<span th:text="|${resourceData.possibleProjectilePercentage}%|">100%</span>
					</div>

					<button type="button" class="btn btn-primary" onclick="fleetProjectiles.buildProjectiles()" th:text="#{construct_all_projectiles_auto}">Construct all possible projectiles automatically</button>
				</th:block>
			</div>

			<script type="module" src="../js/modules/ingame/fleet/projectiles.js" th:src="@{/js/modules/ingame/fleet/projectiles.js}"></script>
		</div>
	</body>
</html>
