<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{ground_combat} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{ground_combat}">Ground combat</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{help_infos_ground_combat_unit_types}">Unit types</h4>
					<p th:text="#{help_infos_ground_combat_unit_types_one}">
						Ground combat occurs when an enemy ship transports colonists or ground units to the planets surface. During game round calculation the winner of the combat encounter is determined.
					</p>
					<p th:text="#{help_infos_ground_combat_unit_types_two}">There are 3 types of units for ground combat: colonists, light ground units and heavy ground units:</p>

					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th th:text="#{help_infos_ground_combat_space}">Space</th>
								<th th:text="#{help_infos_ground_combat_attack_strength}">Attack strength</th>
								<th th:text="#{help_infos_ground_combat_defense_strength}">Defense strength</th>
								<th th:text="#{help_infos_ground_combat_colonist_costs}">Colonist costs</th>
								<th>
									<i th:title="#{money}" class="fa-fw fa fa-coins"></i>
								</th>
								<th>
									<i th:title="#{supplies}" class="fa-fw fa fa-cube"></i>
								</th>
								<th>
									<i th:title="#{fuel}" class="fa-fw fa fa-circle"></i>
								</th>
								<th>
									<i th:title="#{mineral1}" class="fa-fw fas fa-certificate"></i>
								</th>
								<th>
									<i th:title="#{mineral2}" class="fa-fw fas fa-square-full"></i>
								</th>
								<th>
									<i th:title="#{mineral3}" class="fa-fw fas fa-play"></i>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th th:text="#{help_infos_ground_combat_one_colonist}">1 colonist</th>
								<th>0.01 KT</th>
								<th>1</th>
								<th>1</th>
								<th>1</th>
								<th>-</th>
								<th>-</th>
								<th>-</th>
								<th>-</th>
								<th>-</th>
								<th>-</th>
							</tr>
							<tr>
								<th th:text="#{help_infos_ground_combat_one_light}">1 light</th>
								<th>0.3 KT</th>
								<th>16</th>
								<th>16</th>
								<th>1</th>
								<th>2</th>
								<th>1</th>
								<th>-</th>
								<th>1</th>
								<th>1</th>
								<th>-</th>
							</tr>
							<tr>
								<th th:text="#{help_infos_ground_combat_one_heavy}">1 heavy</th>
								<th>1.5 KT</th>
								<th>100</th>
								<th>60</th>
								<th>3</th>
								<th>13</th>
								<th>-</th>
								<th>2</th>
								<th>4</th>
								<th>5</th>
								<th>1</th>
							</tr>
						</tbody>
					</table>

					<p th:text="#{help_infos_ground_combat_tactical_difference}">The tactical differences get visible when everything is recalculated to the same combat strength:</p>

					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th th:text="#{help_infos_ground_combat_space}">Space</th>
								<th th:text="#{help_infos_ground_combat_attack_strength}">Attack strength</th>
								<th th:text="#{help_infos_ground_combat_defense_strength}">Defense strength</th>
								<th th:text="#{help_infos_ground_combat_colonist_costs}">Colonist costs</th>
								<th>
									<i th:title="#{money}" class="fa-fw fa fa-coins"></i>
								</th>
								<th>
									<i th:title="#{supplies}" class="fa-fw fa fa-cube"></i>
								</th>
								<th>
									<i th:title="#{fuel}" class="fa-fw fa fa-circle"></i>
								</th>
								<th>
									<i th:title="#{mineral1}" class="fa-fw fas fa-certificate"></i>
								</th>
								<th>
									<i th:title="#{mineral2}" class="fa-fw fas fa-square-full"></i>
								</th>
								<th>
									<i th:title="#{mineral3}" class="fa-fw fas fa-play"></i>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th th:text="#{help_infos_ground_combat_80_colonists}">80 colonists</th>
								<th>0.8 KT</th>
								<th>80</th>
								<th>80</th>
								<th>80</th>
								<th>-</th>
								<th>-</th>
								<th>-</th>
								<th>-</th>
								<th>-</th>
								<th>-</th>
							</tr>
							<tr>
								<th th:text="#{help_infos_ground_combat_5_light}">5 light</th>
								<th>1.5 KT</th>
								<th>80</th>
								<th>80</th>
								<th>5</th>
								<th>10</th>
								<th>5</th>
								<th>-</th>
								<th>5</th>
								<th>5</th>
								<th>-</th>
							</tr>
							<tr>
								<th th:text="#{help_infos_ground_combat_one_heavy}">1 heavy</th>
								<th>1.5 KT</th>
								<th>100</th>
								<th>60</th>
								<th>3</th>
								<th>13</th>
								<th>-</th>
								<th>2</th>
								<th>4</th>
								<th>5</th>
								<th>1</th>
							</tr>
						</tbody>
					</table>

					<p th:text="#{help_infos_ground_combat_colonist_differences}">
						5 light ground units have a combat strength of 80 colonists so you can save a lot of colonists when attacking with them instead. They are also similiarly effective in combat as heavy ground units and take up comparably much space in
						ships.
					</p>
					<p th:utext="#{help_infos_ground_combat_main_differences}">
						There are however 2 main differentes:<br />
						1. To produce light ground units the important resources Lemin and Vormisaan are not needed. <br />
						2. One heavy ground unit has the much higher attack strength of 100 but a lower defense strength of 60. <br />
						Therefore heavy ground units are more suitable for attacking but a waste for defense. Light ground units are more an allrounder.
					</p>

					<h4 th:text="#{help_infos_ground_combat_battle}">The battle</h4>
					<p th:text="#{help_infos_ground_combat_battle_text}">
						Every faction has ground combat values for attacking and defending. The units of the planet's owner counts as defender and the units of the newcomber as attacker. During combat the faction ground combat values are applied to the units. If
						a faction has a ground combat attack value of 125% then its light ground units have an attack strength of 20.
					</p>

					<p th:text="#{help_infos_ground_combat_phases}">Combat has 3 phases:</p>
					<p><b th:text="#{help_infos_ground_combat_phase_one}">1. Heavy ground units</b></p>
					<p th:text="#{help_infos_ground_combat_phase_one_text}">
						The heavy ground units of both parties fight against each other. This is done via the rule-of-three. The attack strength is calculated as combat strength * unit count. The weaker party loses but the winner takes the corresponding
						procentual damage.
					</p>

					<p><b th:text="#{help_infos_ground_combat_phase_two}">2. Light ground units</b></p>
					<p th:text="#{help_infos_ground_combat_phase_two_text}">
						The light ground units of both parties fight against each other. This is done via the rule-of-three. The attack strength is calculated as combat strength * unit count. The weaker party loses but the winner takes the corresponding
						procentual damage. If one party has heavy ground units left from phase 1 they take part in the combat. Losses are first applied to light ground units and if they are wiped out the party loses the remaining part in heavy ground units.
					</p>

					<p><b th:text="#{help_infos_ground_combat_phase_three}">3. Colonists</b></p>
					<p th:text="#{help_infos_ground_combat_phase_three_text}">
						If one party has heavy ground units left they attack the colonists first and then the remaining light ground units and after that the colonists. This is done via the rule-of-three. The attack strength is calculated as combat strength *
						unit count. The weaker party loses but the winner takes the corresponding procentual damage.
					</p>
					<p th:text="#{help_infos_ground_combat_end}">After phase 3 only one party remains.</p>
				</div>
			</div>
		</section>
	</body>
</html>
