<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{introduction} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{introduction}">Introduction</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{help_infos_introduction_creating_games}">Creating games</h4>
					<p th:text="#{help_infos_introduction_creating_games_one}">
						In Skrupel TNG anyone can create their own games with custom settings. You can leave it private only for you to see or public so other players can join. It is also possible to invite your friends directly to your game.
					</p>
					<p>
						<span th:text="#{help_infos_introduction_creating_games_two}">Every public game can be viewed in</span>
						<a href="/open-games" target="_blank" th:text="#{open_games}">Open games</a>
						<span th:text="#{help_infos_introduction_creating_games_three}">
							. If the maximum player count has not been met anyone can join. In this stage the game creator can still make adjustments to the game settings. Even after the game has started some settings can still be changed.
						</span>
					</p>

					<h4 th:text="#{help_infos_introduction_making_turns}">Making turns</h4>
					<p th:text="#{help_infos_introduction_making_turns_one}">
						Skrupel TNG is a turn-based strategy game. With standard settings all players have unlimited time to complete their turns. In this time players can build ships, set courses for their ships or manage their colonies. When a player is done
						he or she can click "Finish turn" in the top right menu. After that nothing can be changed anymore. Most of the time when a player finishes his or her turn not all players of the game have finished theirs so the next round is not
						calculated yet.
					</p>
					<p th:text="#{help_infos_introduction_making_turns_two}">
						When the last player is finished the game automatically calculates the state for the next round which only takes a few seconds. During this calculation ships follow their courses, populations grow, fleets fight each other and so on. Then
						the new round is finished and each player can make new moves. A round is also referred to as a month in game.
					</p>

					<h4 th:text="#{help_infos_introduction_automatic_turns}">Automatic turns</h4>
					<p th:text="#{help_infos_introduction_automatic_turns_one}">
						With the standard game settings players have unlimited time to make their turn. Sometimes a few players don't keep it up so the game does not move forward. For this automatic turns can be used: if the game creator sets the interval to 24
						hours for instance, every day a new round is calculated even if not all players have finished their turns. This can be enabled or disabled even when the game already started.
					</p>

					<h4 th:text="#{help_infos_introduction_game_end}">Game end</h4>
					<p th:text="#{help_infos_introduction_game_end_one}">
						Each game mode defines what win condition a player has to meet in order to win. When a player meets this condition the game automatically ends during round calculation. After that everyone can see a summary of the game with the winner and
						a map showing the whole galaxy.
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
