<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{combat_calculator_orbit} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{combat_calculator_orbit}"></li>
				</ol>
			</nav>
			<div class="row" id="skr-infos-orbital-combat-calculator">
				<div class="col-6">
					<div class="row">
						<div style="font-weight: bold; margin-bottom: 1em;" class="col-12" th:text="#{our_ship}"></div>
						<div class="col-6">
							<label for="hull" th:text="#{select_hull}"></label>
						</div>
						<div class="col-6">
							<select class="custom-select" id="hull">
								<option th:each="hull : ${hulls}" th:disabled="${hull.value.length() == 0}" th:value="${hull.value}" th:text="${hull.key}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="energy" th:text="#{energy_weapons}"></label>
						</div>
						<div class="col-6">
							<select class="custom-select" id="energy">
								<option th:each="energy : ${energies}" th:value="${energy.value}" th:text="${energy.key}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="projectile" th:text="#{projectile_weapons}"></label>
						</div>
						<div class="col-6">
							<select class="custom-select" id="projectile">
								<option th:each="projectile : ${projectiles}" th:value="${projectile.value}" th:text="${projectile.key}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="projectileCount" th:text="#{available_projectile_count}"></label>
						</div>
						<div class="col-6">
							<input class="form-control" type="number" id="projectileCount" value="0" />
						</div>
						<div class="col-6">
							<label for="damage" th:text="#{damage}"></label>
						</div>
						<div class="col-6">
							<input class="form-control" type="number" id="damage" value="0" />
						</div>
						<div class="col-6">
							<label for="shield" th:text="#{shields}"></label>
						</div>
						<div class="col-6">
							<input class="form-control" type="number" id="shield" value="100" />
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div style="font-weight: bold; margin-bottom: 1em;" class="col-12" th:text="#{enemy_planet}"></div>
						<div class="col-6">
							<label for="planetaryDefenseCount" th:text="#{planetary_defense}"></label>
						</div>
						<div class="col-6">
							<input class="form-control" type="number" id="planetaryDefenseCount" value="0" />
						</div>
						<div class="col-6">
							<label for="starbaseType" th:text="#{starbase}"></label>
						</div>
						<div class="col-6">
							<select class="custom-select" id="starbaseType">
								<option value="" th:text="#{none}"></option>
								<option th:each="starbaseType : ${starbaseTypes}" th:value="${starbaseType.name()}" th:text="#{${starbaseType.name()}}"></option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-12 mt-2">
					<span th:text="#{combat_orbital_result}"> </span>
					<span class="font-weight-bold" id="result1"> 0</span>
					<span class="font-weight-bold">%</span>
				</div>
			</div>
			<script type="module" src="../js/modules/dashboard/orbital-combat-calculator.js" th:src="@{/js/modules/dashboard/orbital-combat-calculator.js}"></script>
		</section>
	</body>
</html>
