<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{orbital_combat} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{orbital_combat}">Orbital combat</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{help_infos_space_combat_order}">Combat order</h4>
					<p th:text="#{help_infos_orbital_combat_order_text}">
						Orbital combat occurs when a ship tries to enter the orbit of an enemy planet that has planetary defense. If multiple ships try to enter an enemy orbit the aggressiveness of the ships determines the order. If the most aggressive ship gets
						destroyed by the planetary defense the next ship in line enters the battle. After the planetary defense has been breached all other ships can enter the orbit freely, so it is advisable to always send the strongest ship first to breach an
						orbit.
					</p>

					<h4 th:text="#{help_infos_orbital_combat_battle}">The battle</h4>
					<p th:utext="#{help_infos_orbital_combat_battle_text}">
						Orbital combat is similiar to <a href="/infos/space-combat" th:text="#{space_combat}" target="_blank">Space combat</a> but the planetary defense can only use energy weapons and launch intercepters out of hangars - it does not have
						projectile weapons. It also does not receive damage by combat, it gets depleted. Ship weapons always deal their full damage to planetary defense which means the energy and projectile weapons are more potent against planetary defense than
						hangars.
					</p>
					<h5 th:text="#{help_infos_orbital_combat_values}">Planetary defense values</h5>
					<table class="table">
						<tbody>
							<tr>
								<td th:text="#{help_infos_orbital_combat_hit_points}">Hit points</td>
								<td th:text="#{help_infos_orbital_combat_hit_points_text}">Planetary defense count of planet + Planetary defense count of starbase + 100</td>
							</tr>
							<tr>
								<td th:text="#{help_infos_orbital_combat_energy_techlevel}">Energy weapon techlevel</td>
								<td th:text="#{help_infos_orbital_combat_energy_techlevel_text}">Square root of half of planetary defense count of planet</td>
							</tr>
							<tr>
								<td th:text="#{help_infos_orbital_combat_energy_count}">Energy weapon count</td>
								<td th:text="#{help_infos_orbital_combat_energy_count_text}">Square root of third of planetary defense count of planet</td>
							</tr>
							<tr>
								<td th:text="#{help_infos_orbital_combat_hangar_count}">Hangar count</td>
								<td th:text="#{help_infos_orbital_combat_hangar_count_text}">Square root of planetary defense count of planet (+ 5 if starbase present)</td>
							</tr>
						</tbody>
					</table>

					<h4 th:text="#{help_infos_orbital_combat_damage}">Damaging the planetary defense</h4>
					<p th:text="#{help_infos_orbital_combat_damage_text}">
						If the planetary defense is breached all remaining ships can enter the orbit freely, but the planetary defense is not damaged! In the next game round it is recharged again so orbital combat occurs again if the ships try to remain in
						orbit. To damage it ships need to use the task planetary bombardment.
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
