<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{planet_types} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{planet_types}">Planet types</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-md-6 col-lg-4" th:each="type : ${planetTypes}">
					<div class="card">
						<div class="card-body">
							<div class="card-title">
								<h3>
									<span th:text="|#{class} ${type.id}|">M</span>
									<img th:src="|/images/planets/galaxy/${type.id}.gif|" />
								</h3>
							</div>
							<div class="row">
								<div class="col-5">
									<img th:src="|/images/planets/${type.imagePrefix}_1.jpg|" />
								</div>
								<div class="col-7 small">
									<div class="row">
										<div class="col-12 font-weight-bold" th:text="|#{surface}|">Surface</div>
										<div class="col-12 ml-3" th:text="#{'planet_type_surface_' + ${type.id}}">Silicate</div>
									</div>
									<div class="row">
										<div class="col-12 font-weight-bold" th:text="|#{atmosphere}|">Atmosphere</div>
										<div class="col-12 ml-3" th:text="#{'planet_type_atmosphere_' + ${type.id}}">Silicate</div>
									</div>
									<div class="row">
										<div class="col-12 font-weight-bold" th:text="|#{temperature}|">Temperature</div>
										<div class="col-12 ml-3" th:text="|${type.minTemperature} #{range_until} ${type.maxTemperature} °C|">10 to 20 °C</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
