<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{planets} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{planets}">Planets</li>
				</ol>
			</nav>
			<div class="row">
				<div class="col-12">
					<h4 th:text="#{help_infos_planets_population_growth}">Population growth</h4>
					<p th:utext="#{help_infos_planets_population_growth_one}">
						As soon as a player has at least 1000 colonists on a planet it becomes a colony. The population growth rate depends on the planets average temperature and its
						<a href="/infos/planet-types" target="_blank">type</a>. Every faction has a preferred temperature and the more the planet's temperature differs from that the less the population grows.
					</p>
					<p th:utext="#{help_infos_planets_population_growth_two}">
						If the planets temperature differs more than 30°C from the preferred temperature of the faction no growth takes place (but the population also does not shrink). If the planet's type matches the preferred type of the faction then the
						population grows 20% faster each round. There are also <a href="/infos/native-species" target="_blank">native species</a> that can influence population growth.
					</p>

					<h4 th:text="#{taxes}">Taxes</h4>
					<p th:utext="#{help_infos_planets_taxes_text}">
						The currency used by all factions in Skrupel TNG is called Cantox which is generally gained by taxes from the population. Each faction has a different tax rate. If the planet is home to a
						<a href="/infos/native-species" target="_blank">native species</a>
						then taxes might also be gathered from them. The last possibility to gain more Cantox is by selling supplies.
					</p>

					<h4 th:text="#{help_infos_planets_minerals}">Minerals</h4>
					<p th:text="#{help_infos_planets_minerals_text}">
						The 4 minerals Lemin, Baxterium, Rennurbin and Vormisaan are hugely important in anything you do. These resources can be excavated from planets via mines. Every planet has different quantities and distributions of these resources. The
						more distributed a resource on a planet is the more mines you need to excavate this resource.
					</p>

					<h4 th:text="#{supplies}">Supplies</h4>
					<p th:text="#{help_infos_planets_supplies_text}">
						Supplies are created in factories and can be used to build mines, planetary defense, orbital systems or more factories. Supplies can also be sold to gain more Cantox. When colonizing a new planet it is always important to bring some
						supplies with you so factories can be build immediately as they are the only buildings that create supplies.
					</p>

					<h4 th:text="#{planetary_defense}">Planetary defense</h4>
					<p th:text="#{help_infos_planets_planetary_defense_text}">
						When an enemy ship enters the orbit of one of your planets the defense structures come into play. The ship has to overcome this defense every round it stays in orbit.
					</p>

					<h4 th:text="#{help_infos_planets_building_count}">Population size and building count</h4>
					<p th:text="#{help_infos_planets_building_count_one}">
						The population size of a colony determines the maximum number of buildings of each type you can build. If colonists die the infrastructure degenerates over time (max. 10% each month) until the new maximum is reached again.
					</p>

					<table class="table">
						<thead>
							<tr>
								<th th:text="#{help_infos_planets_buildings}">Buildings</th>
								<th th:text="#{cantox_costs}">Cantox costs</th>
								<th th:text="#{supply_costs}">Supply costs</th>
								<th th:text="#{formular_for_max_count}">Formular for the maxium count</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="#{mines}">Mines</td>
								<td>4</td>
								<td>1</td>
								<td th:utext="#{help_infos_planets_buildings_mines}">
									Colonists < 20.000: Colonists / 100 <br />
									Colonists >= 20.000: 200 + square root of (colonsts / 100)
								</td>
							</tr>
							<tr>
								<td th:text="#{factories}">Factories</td>
								<td>3</td>
								<td>1</td>
								<td th:utext="#{help_infos_planets_buildings_factories}">
									Colonists < 10.000: Colonists / 100 <br />
									Colonists >= 10.000: 100 + square root of (colonsts / 100)
								</td>
							</tr>
							<tr>
								<td th:text="#{planetary_defense}">Planetary defense</td>
								<td>10</td>
								<td>1</td>
								<td th:utext="#{help_infos_planets_buildings_planetary_defense}">
									Colonists < 5.000: Colonists / 100 <br />
									Colonists >= 5.000: 50 + square root of (colonsts / 100)
								</td>
							</tr>
						</tbody>
					</table>

					<h4 th:text="#{assimilation}">Assimilation</h4>
					<p th:utext="#{help_infos_planets_assimilation_one}">
						Some factions are able to assimilate members of a certain kind of
						<a href="/infos/native-species" target="_blank">native species</a>
						. So are the
						<a href="/infos/factions/trodan" target="_blank">Trodan</a>
						able to assimilate humanoid species into their own population, but not other kinds. The rate of the assimilation is determined by the faction's assimilation efficiency.
					</p>
					<p th:text="#{help_infos_planets_assimilation_two}">
						Assimilation can be an advantage as you quickly gain more colonists but you will lose the effect the native species has once none are left. The orbital system "Reservation" can mitigate this.
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
