<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{combat_calculator_space} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<nav aria-label="breadcrumb" class="pt-2">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="/infos" th:text="#{infos}">Infos</a>
					</li>
					<li class="breadcrumb-item active" th:text="#{combat_calculator_space}"></li>
				</ol>
			</nav>
			<div class="row" id="skr-infos-space-combat-calculator">
				<div class="col-6">
					<div class="row">
						<div style="font-weight: bold; margin-bottom: 1em;" class="col-12" th:text="#{our_ship}"></div>
						<div class="col-6">
							<label for="hull1" th:text="#{select_hull}"></label>
						</div>
						<div class="col-6">
							<select class="custom-select" id="hull1">
								<option th:each="hull : ${hulls}" th:disabled="${hull.value.length() == 0}" th:value="${hull.value}" th:text="${hull.key}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="energy1" th:text="#{energy_weapons}"></label>
						</div>
						<div class="col-6">
							<select class="custom-select" id="energy1">
								<option th:each="energy : ${energies}" th:value="${energy.value}" th:text="${energy.key}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="projectile1" th:text="#{projectile_weapons}"></label>
						</div>
						<div class="col-6">
							<select class="custom-select" id="projectile1">
								<option th:each="projectile : ${projectiles}" th:value="${projectile.value}" th:text="${projectile.key}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="projectile1cnt" th:text="#{available_projectile_count}"></label>
						</div>
						<div class="col-6">
							<input class="form-control" type="number" id="projectile1cnt" value="0" />
						</div>
						<div class="col-6">
							<label for="damage1" th:text="#{damage}"></label>
						</div>
						<div class="col-6">
							<input class="form-control" type="number" id="damage1" value="0" />
						</div>
						<div class="col-6">
							<label for="shield1" th:text="#{shields}"></label>
						</div>
						<div class="col-6">
							<input class="form-control" type="number" id="shield1" value="100" />
						</div>
						<div class="col-12 mt-2">
							<span th:text="#{combat_result_me}"> </span>
							<span class="font-weight-bold" id="result1"> 0</span>
							<span class="font-weight-bold">%</span>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div style="font-weight: bold; margin-bottom: 1em;" class="col-12" th:text="#{enemy_ship}"></div>
						<div class="col-6">
							<label for="hull2" th:text="#{select_hull}"></label>
						</div>
						<div class="col-6">
							<select class="custom-select" id="hull2">
								<option th:each="hull : ${hulls}" th:disabled="${hull.value.length() == 0}" th:value="${hull.value}" th:text="${hull.key}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="energy2" th:text="#{energy_weapons}"></label>
						</div>
						<div class="col-6">
							<select class="custom-select" id="energy2">
								<option th:each="energy : ${energies}" th:value="${energy.value}" th:text="${energy.key}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="projectile2" th:text="#{projectile_weapons}"></label>
						</div>
						<div class="col-6">
							<select class="custom-select" id="projectile2">
								<option th:each="projectile : ${projectiles}" th:value="${projectile.value}" th:text="${projectile.key}"></option>
							</select>
						</div>
						<div class="col-6">
							<label for="projectile2cnt" th:text="#{available_projectile_count}"></label>
						</div>
						<div class="col-6">
							<input class="form-control" type="number" id="projectile2cnt" value="0" />
						</div>
						<div class="col-6">
							<label for="damage2" th:text="#{damage}"></label>
						</div>
						<div class="col-6">
							<input class="form-control" type="number" id="damage2" value="0" />
						</div>
						<div class="col-6">
							<label for="shield2" th:text="#{shields}"></label>
						</div>
						<div class="col-6">
							<input class="form-control" type="number" id="shield2" value="100" />
						</div>
						<div class="col-12 mt-2">
							<span th:text="#{combat_result_enemy}"></span>
							<span class="font-weight-bold" id="result2"> 0</span>
							<span class="font-weight-bold">%</span>
						</div>
					</div>
				</div>
			</div>
			<script type="module" src="../js/modules/dashboard/space-combat-calculator.js" th:src="@{/js/modules/dashboard/space-combat-calculator.js}"></script>
		</section>
	</body>
</html>
