<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="simple">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="card-title">
								<h3 class="text-center" th:text="#{'orbital_system_type_' + ${orbitalSystem.type.name()}}">Orbital system name</h3>
							</div>
							<h6 class="text-center" th:text="#{'orbital_system_short_description_' + ${orbitalSystem.type.name()}}">Description</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:fragment="groundunits">
			<input type="hidden" id="skr-ingame-orbitalsystem-id" th:value="${orbitalSystem.id}" />

			<h5 class="text-center" th:text="#{'orbital_system_type_' + ${orbitalSystem.type.name()}}">Military base</h5>
			<div class="row no-gutters">
				<div class="col-5 text-right" th:text="#{production_costs_per_unit}">Production costs per unit</div>
				<div class="col-1" th:include="ingame/icon-label::content" th:with="label='',value=${data.colonistCosts},icon='fa fa-male'">1</div>
				<div class="col-1" th:include="ingame/icon-label::content" th:with="label='',value=${data.moneyCosts},icon='fa fa-coins'">1</div>
				<div class="col-1" th:include="ingame/icon-label::content" th:with="label='',value=${data.supplyCosts},icon='fa fa-cube'" th:if="${light}">1</div>
				<div class="col-1" th:include="ingame/icon-label::content" th:with="label='',value=${data.fuelCosts},icon='fas fa-circle'" th:if="${!light}">1</div>
				<div class="col-1" th:include="ingame/icon-label::content" th:with="label='',value=${data.mineral1Costs},icon='fas fa-certificate'">1</div>
				<div class="col-1" th:include="ingame/icon-label::content" th:with="label='',value=${data.mineral2Costs},icon='fas fa-square-full'">1</div>
				<div class="col-1" th:include="ingame/icon-label::content" th:with="label='',value=${data.mineral3Costs},icon='fas fa-play'" th:if="${!light}">1</div>
			</div>
			<div class="row no-gutters">
				<div class="col-5 text-right" th:text="#{currently_in_production}">Currently in production</div>
				<div class="col-4 ml-3 font-weight-bold" th:text="|${data.inProduction} / ${data.retrieveMaxInProduction()}|">10 / 100</div>
			</div>
			<div class="row no-gutters">
				<div class="col-5 text-right" th:text="#{'existing_' + ${light ? 'light_units' : 'heavy_units'}}">Exiting:</div>
				<div class="col-4 ml-3 font-weight-bold" th:text="${data.existing}">20</div>
			</div>
			<div class="row no-gutters" th:if="${data.retrieveNewlyProducable() > 0}">
				<div class="col-5"></div>
				<div class="col-2 ml-3">
					<select id="skr-ingame-ground-units-quantity-input" class="custom-select">
						<option th:each="quantity : ${#numbers.sequence(1, data.retrieveNewlyProducable())}" th:selected="${quantity == data.retrieveNewlyProducable()}" th:value="${quantity}" th:text="${quantity}">1</option>
					</select>
				</div>
				<div class="col-4 ml-3">
					<button type="button" class="btn btn-primary" th:onclick="|groundUnits.buildUnits(${light})|" th:text="#{produce}">Produce</button>
				</div>
			</div>
			<div class="row no-gutters" th:if="${data.retrieveNewlyProducable() <= 0}">
				<div class="col-5"></div>
				<div class="col-5 ml-3" th:text="#{no_more_ground_units_producable}"></div>
			</div>
			<script type="module" src="../js/modules/ingame/orbitalsystem/ground-units.js" th:src="@{/js/modules/ingame/orbitalsystem/ground-units.js}"></script>
		</div>
	</body>
</html>
