<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{achievements} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<h2 class="mb-3" th:text="#{achievements}">Achievements</h2>

			<div class="row">
				<div
					th:class="|skr-achievement-item col-md-6 col-lg-4 col-xl-3${item.earnedDate != null ? ' earned' : ''}|"
					th:id="|skr-achievement-item-${item.type.name()}|"
					th:classappend="${item.earnedDate == null} ? 'disabled' : ''"
					th:each="item : ${items}"
				>
					<div class="card" th:classappend="${item.earnedDate == null} ? 'disabled' : ''">
						<div class="card-header">
							<h5 class="mb-0" th:text="#{${item.type.name()}}">Achievement name</h5>
						</div>
						<div class="card-body">
							<div class="d-inline-flex align-items-center">
								<i class="mr-3 fa-fw" th:classappend="${item.type.icon}"></i>
								<div th:text="#{${item.type.name()} + '_description'}">Achievement description</div>
							</div>
							<div class="d-flex justify-content-end mt-2 small" th:if="${item.progress != null && item.progress > 0 && item.progress < item.maxValue}" th:text="|#{progress}: ${item.progress} / ${item.maxValue}|">Progress: 1 / 20</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
