<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<body>
		<section layout:fragment="content" class="container">
			<div class="row">
				<div class="col-sm-10 col-md-8 m-auto">
					<div class="card">
						<div class="card-header">
							<h1 class="card-title" th:text="#{credits}">Credits</h1>
						</div>
						<div class="card-body">
							<p>
								<span th:text="#{credits_one}">The original Skrupel was developed by Bernd "Husten" Kantoks and is still available on</span>
								<a href="https://github.com/kantoks/skrupel" target="_blank">Github</a>.
								<br />
								<span th:text="#{credits_two}">The two factions "Orion Conglomerate" and "Kuatoh" were also developed by him.</span>
							</p>
							<p>
								<span th:text="#{credits_three}">All names of planets and dominant species were generated with</span>
								<a href="https://www.fantasynamegenerators.com" target="_blank">fantasynamegenerators</a>.
								<br />
								<span th:text="#{credits_four}">This is also true for the names of factions and ships, except for "Orion Conglomerate" and "Kuatoh" as they have been developed by the the original's creator.</span>
							</p>
							<p th:text="#{credits_five}">All images for the faction "Silver Star AG" were created and the ship images for the faction "Trodan" were reworked by Patrick Bender.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
