<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<head>
<title th:text="|#{data_privacy_statement} - #{application_name}|"></title>
</head>
<body>
	<section layout:fragment="content">
		<div class="card">
			<div class="card-header">
				<h1 class="card-title" th:text="#{data_privacy_statement}">Data privacy statement</h1>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-lg-7" th:utext="${dataPrivacyStatement}"></div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>