<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<body>
		<div th:fragment="content" class="row" id="skr-dashboard-game-options">
			<input type="hidden" th:each="winCondition : ${winConditions}" th:id="|skr-win-condition-name-${winCondition}|" th:value="#{'win_condition_' + ${winCondition.name()}}" />
			<input type="hidden" id="skr-mineral-race-quantity-not-set" th:value="#{mineral_race_quantity_not_set}" />
			<input type="hidden" id="skr-mineral-race-quantity-too-low" th:value="#{mineral_race_quantity_too_low}" />
			<input type="hidden" id="skr-mineral-race-quantity-too-high" th:value="#{mineral_race_quantity_too_high}" />

			<div id="skr-game-mode-modal-wrapper">
				<div class="modal" id="skr-game-mode-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content" id="skr-game-mode-modal-content">
							<div class="modal-header">
								<div class="text-center w-100" th:text="#{win_condition}">Win condition</div>
							</div>
							<div class="modal-body">
								<div th:each="condition : ${winConditions}" class="form-check">
									<input
										type="radio"
										class="form-check-input"
										th:disabled="${started || !canEdit}"
										th:style="${condition.name().equals('MINERAL_RACE')} ? 'margin-top: 12px;' : ''"
										th:field="*{winCondition}"
										th:id="|win-condition-${condition.name()}|"
										th:value="${condition.name()}"
									/>
									<label class="form-check-label font-weight-bold" th:for="|win-condition-${condition.name()}|" th:text="|#{'win_condition_' + ${condition.name()}}:|">Survive:</label>

									<span th:if="!${condition.name().equals('MINERAL_RACE')}" th:text="#{'help_game_options_win_condition_' + ${condition.name()}}">Description</span>

									<span th:if="${condition.name().equals('MINERAL_RACE')}">
										<span th:text="#{help_game_options_win_condition_MINERAL_RACE_one}">Players have to gather</span>
										<input type="number" th:disabled="${started || !canEdit}" min="1000" max="100000" th:field="*{mineralRaceQuantity}" class="form-control" style="width: 120px; display: inline-block;" />

										<span th:text="#{help_game_options_win_condition_MINERAL_RACE_two}">KT of</span>
										<select th:disabled="${started || !canEdit}" th:field="*{mineralRaceMineralName}" class="custom-select" style="width: 200px;">
											<option value="FUEL" th:text="#{fuel}">Lemin</option>
											<option value="MINERAL1" th:text="#{mineral1}">Baxterium</option>
											<option value="MINERAL2" th:text="#{mineral2}">Rennurbin</option>
											<option value="MINERAL3" th:text="#{mineral3}">Vormisaan</option>
										</select>

										<span th:text="#{help_game_options_win_condition_MINERAL_RACE_three}">and store them</span>
										<select th:disabled="${started || !canEdit}" th:field="*{mineralRaceStorageType}" class="custom-select" style="width: 200px;">
											<option th:each="storageType : ${mineralRaceStorageTypes}" th:value="${storageType.name()}" th:text="#{'mineral_race_storage_type_' + ${storageType.name()}}">Heimatplanet</option>
										</select>

										<span th:text="#{help_game_options_win_condition_MINERAL_RACE_four}">to win.</span>
									</span>
								</div>
							</div>
							<div class="modal-footer">
								<div id="skr-mineral-race-quantity-error-text" class="text-danger"></div>
								<button type="button" class="btn btn-primary" id="skr-game-mode-confirm-button" th:disabled="${started || !canEdit}" onclick="gameOptions.apply()" th:text="#{apply}">Apply</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="mb-0">
							<span class="normal" th:text="#{general_settings}">General settings</span>
							<span th:include="ingame/help::content" th:with="id='general-settings',title=#{general_settings},fragment='general-settings'"></span>
						</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-6 col-lg-3">
								<label class="col-form-label" th:text="|#{name}:|">Name:</label>
								<input type="text" autofocus class="form-control" th:field="*{name}" th:disabled="${started || !canEdit}" maxlength="64" />
								<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
							</div>
							<div class="col-sm-6 col-lg-3">
								<label class="col-form-label" th:text="|#{player_count}:|">Player count:</label>
								<input type="number" class="form-control" th:field="*{playerCount}" th:disabled="${started || !canEdit}" min="1" max="64" />
								<span class="text-danger" th:if="${#fields.hasErrors('playerCount')}" th:errors="*{playerCount}"></span>
							</div>
							<div class="col-sm-6 col-lg-3">
								<label class="col-form-label" th:text="|#{galaxy_size}:|">Galaxy size:</label>
								<input type="number" class="form-control" th:field="*{galaxySize}" th:disabled="${started || !canEdit}" min="250" max="16384" />
								<span class="text-danger" th:if="${#fields.hasErrors('galaxySize')}" th:errors="*{galaxySize}"></span>
							</div>
							<div class="col-sm-6 col-lg-3">
								<div>
									<label class="col-form-label" th:text="|#{win_condition}:|">Win condition:</label>
								</div>
								<div class="btn-group w-100" role="group">
									<button type="button" class="btn btn-secondary w-100 text-left" th:text="#{'win_condition_' + *{winCondition}}" id="skr-game-mode-text" onclick="gameOptions.showGameModeModal()">Survival</button>
									<button type="button" class="btn btn-secondary" onclick="gameOptions.showGameModeModal()">
										<i class="fa-fw fas fa-cog text-white"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4 class="mb-0">
							<span class="normal" th:text="#{galaxy_structure}">Galaxy structure</span>
							<span th:include="ingame/help::content" th:with="id='galaxy-structure',title=#{galaxy_structure},fragment='simple',content=#{help_game_options_galaxy_structure}"></span>
						</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 col-xl-4 mb-2" th:each="galaxy : ${galaxyConfigs}">
								<div class="form-check skr-game-galaxy-selection-item">
									<input class="form-check-input mt-3" th:id="${galaxy}" type="radio" name="galaxyConfigId" th:disabled="${started || !canEdit}" th:field="*{galaxyConfigId}" th:value="${galaxy}" />
									<label class="form-check-label" th:for="${galaxy}">
										<img th:src="${'/images/galaxies/' + galaxy + '.png'}" class="skr-game-galaxy-image" />
										<span th:text="#{'galaxy_structure_' + ${galaxy}}">Cluster</span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12">
				<h5 class="mt-3 mb-4" th:text="|#{additional_optional_settings}:|">Additional optional settings:</h5>
				<div class="row">
					<div class="col-lg-6">
						<div class="card">
							<div class="btn-group">
								<button type="button" class="text-left btn btn-secondary w-100 collapser" data-toggle="collapse" data-target="#skr-game-options-homeplanet" th:text="#{home_planet}">Home planet</button>
								<button type="button" class="btn btn-secondary dropdown-toggle collapser" data-toggle="collapse" data-target="#skr-game-options-homeplanet"></button>
								<th:block th:include="ingame/help::content" th:with="id='homeplanet',title=#{home_planet},fragment='simple',content=#{help_game_options_home_planet},button=true"></th:block>
							</div>
							<div class="card-body collapse" id="skr-game-options-homeplanet">
								<div class="row">
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{start_positions}:|">Start positions:</label>
										<select class="custom-select" th:disabled="${started || !canEdit}" th:field="*{startPositionSetup}">
											<option th:each="startPositionSetup : ${startPositionSetups}" th:value="${startPositionSetup.name()}" th:text="#{'start_position_setup_' + ${startPositionSetup.name()}}">Equal distance</option>
										</select>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{starbase_of_home_planet}:|">Starbase of home planet:</label>
										<select class="custom-select" th:disabled="${started || !canEdit}" th:field="*{homePlanetSetup}">
											<option th:each="homePlanetSetup : ${homePlanetSetups}" th:value="${homePlanetSetup.name()}" th:text="#{'home_planet_setup_' + ${homePlanetSetup.name()}}">Starbase</option>
										</select>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{init_money}:|">Starting capital:</label>
										<input type="number" class="form-control" th:disabled="${started || !canEdit}" th:field="*{initMoney}" min="1" max="9999999" />
										<span class="text-danger" th:if="${#fields.hasErrors('initMoney')}" th:errors="*{initMoney}"></span>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{init_home_planet_resources}:|">Resources of home planet:</label>
										<select class="custom-select" th:disabled="${started || !canEdit}" th:field="*{resourceDensityHomePlanet}">
											<option th:each="resourceDensityHomePlanet : ${resourceDensityHomePlanets}" th:value="${resourceDensityHomePlanet.name()}" th:text="#{'resource_density_' + ${resourceDensityHomePlanet.name()}}">High</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card">
							<div class="btn-group">
								<button type="button" class="text-left btn btn-secondary w-100 collapser" data-toggle="collapse" data-target="#skr-game-options-resources" th:text="#{planets}">Planets</button>
								<button type="button" class="btn btn-secondary dropdown-toggle collapser" data-toggle="collapse" data-target="#skr-game-options-resources"></button>
								<th:block th:include="ingame/help::content" th:with="id='planets',title=#{planets},fragment='simple',content=#{help_game_options_planets},button=true"></th:block>
							</div>
							<div class="card-body collapse" id="skr-game-options-resources">
								<div class="row">
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{planet_density}:|">Planet density:</label>
										<select class="custom-select" th:disabled="${started || !canEdit}" th:field="*{planetDensity}">
											<option th:each="planetDensity : ${planetDensities}" th:value="${planetDensity.name()}" th:text="#{'planet_density_' + ${planetDensity.name()}}">Very high</option>
										</select>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{resource_density}:|">Resource density:</label>
										<select class="custom-select" th:disabled="${started || !canEdit}" th:field="*{resourceDensity}">
											<option th:each="density : ${resourceDensities}" th:value="${density.name()}" th:text="#{'resource_density_' + ${density.name()}}">High</option>
										</select>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{inhabited_planets}:|">Inhabited planets:</label>
										<select class="custom-select" th:disabled="${started || !canEdit}" th:field="*{inhabitedPlanetsPercentage}">
											<option value="0.0" th:text="#{none}">None</option>
											<option value="0.25">25%</option>
											<option value="0.50">50%</option>
											<option value="0.75">75%</option>
											<option value="1.0">100%</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card">
							<div class="btn-group">
								<button type="button" class="text-left btn btn-secondary w-100 collapser" data-toggle="collapse" data-target="#skr-game-options-modules" th:text="#{optional_modules}">Optional modules</button>
								<button type="button" class="btn btn-secondary dropdown-toggle collapser" data-toggle="collapse" data-target="#skr-game-options-modules"></button>
								<th:block th:include="ingame/help::content" th:with="id='optionalmodules',title=#{optional_modules},fragment='simple',content=#{help_game_options_optional_modules},button=true"></th:block>
							</div>
							<div class="card-body collapse" id="skr-game-options-modules">
								<div class="form-row">
									<!-- 								<div class="col-lg-6"> -->
									<!-- 									<div class="form-check"> -->
									<!-- 										<input class="form-check-input" type="checkbox" th:disabled="${!canEdit}" th:field="*{enableEspionage}" /> -->
									<!-- 										<label class="form-check-label" for="enableEspionage1" th:text="#{espionage_and_sabotage}">Espionage and sabotage</label> -->
									<!-- 									</div> -->
									<!-- 								</div> -->
									<div class="col-lg-6">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" th:disabled="${!canEdit}" th:field="*{enableMineFields}" />
											<label class="form-check-label" for="enableMineFields1" th:text="#{mine_fields}">Mine fields</label>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" th:disabled="${!canEdit}" th:field="*{enableTactialCombat}" />
											<label class="form-check-label" for="enableTactialCombat1" th:text="#{tactical_combat}">Tactical combat</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card">
							<div class="btn-group">
								<button type="button" class="text-left btn btn-secondary w-100 collapser" id="skr-game-options-wormholes-button" data-toggle="collapse" data-target="#skr-game-options-wormholes" th:text="#{wormholes}">Wormholes</button>
								<button type="button" class="btn btn-secondary dropdown-toggle collapser" data-toggle="collapse" data-target="#skr-game-options-wormholes"></button>
								<th:block th:include="ingame/help::content" th:with="id='wormholes',title=#{wormholes},fragment='simple',content=#{help_game_options_wormholes},button=true"></th:block>
							</div>
							<div class="card-body collapse" id="skr-game-options-wormholes">
								<div class="row">
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{unstable_wormholes}:|">Unstable wormholes:</label>
										<input type="number" class="form-control" th:field="*{unstableWormholeCount}" th:disabled="${started || !canEdit}" min="0" max="50" />
										<span class="text-danger" th:if="${#fields.hasErrors('unstableWormholeCount')}" th:errors="*{unstableWormholeCount}"></span>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{stable_wormholes}:|">Stable wormholes:</label>
										<select class="custom-select" th:disabled="${started || !canEdit}" th:field="*{stableWormholeConfig}">
											<option th:each="stableWormholeConfig : ${stableWormholeConfigs}" th:value="${stableWormholeConfig.name()}" th:text="#{'stable_wormhole_' + ${stableWormholeConfig.name()}}">1 random</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card">
							<div class="btn-group">
								<button type="button" class="text-left btn btn-secondary w-100 collapser" data-toggle="collapse" data-target="#skr-game-options-plasmastorms" th:text="#{plasma_storms}">Plasma storms</button>
								<button type="button" class="btn btn-secondary dropdown-toggle collapser" data-toggle="collapse" data-target="#skr-game-options-plasmastorms"></button>
								<th:block th:include="ingame/help::content" th:with="id='plasmastorms',title=#{plasma_storms},fragment='simple',content=#{help_game_options_plasma_storms},button=true"></th:block>
							</div>
							<div class="card-body collapse" id="skr-game-options-plasmastorms">
								<div class="row">
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{concurrent_plasma_storms}:|">Concurrent plasma storms:</label>
										<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{maxConcurrentPlasmaStormCount}" min="0" max="10" />
										<span class="text-danger" th:if="${#fields.hasErrors('maxConcurrentPlasmaStormCount')}" th:errors="*{maxConcurrentPlasmaStormCount}"></span>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{plasma_storm_probability}:|">Plasma storm probability:</label>
										<div class="input-group">
											<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{plasmaStormProbability}" min="0" max="100" />
											<div class="input-group-append">
												<span class="input-group-text">%</span>
											</div>
											<span class="text-danger" th:if="${#fields.hasErrors('plasmaStormProbability')}" th:errors="*{plasmaStormProbability}"></span>
										</div>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{plasma_storm_duration}:|">Plasma storm duration:</label>
										<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{plasmaStormRounds}" min="3" max="20" />
										<span class="text-danger" th:if="${#fields.hasErrors('plasmaStormRounds')}" th:errors="*{plasmaStormRounds}"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card">
							<div class="btn-group">
								<button type="button" class="text-left btn btn-secondary w-100 collapser" data-toggle="collapse" data-target="#skr-game-options-fogofwar" th:text="#{fog_of_war}">Fog of war</button>
								<button type="button" class="btn btn-secondary dropdown-toggle collapser" data-toggle="collapse" data-target="#skr-game-options-fogofwar"></button>
								<th:block th:include="ingame/help::content" th:with="id='fogofwar',title=#{fog_of_war},fragment='simple',content=#{help_game_options_fog_of_war},button=true"></th:block>
							</div>
							<div class="card-body collapse" id="skr-game-options-fogofwar">
								<div class="row">
									<div class="col-12" th:each="type : ${fogOfWarTypes}">
										<div class="form-check">
											<input class="form-check-input" th:id="${type}" type="radio" name="fogOfWarType" th:disabled="${started || !canEdit}" th:field="*{fogOfWarType}" th:value="${type}" />
											<label class="form-check-label" th:for="${type}" th:text="#{'fog_of_war_type_' + ${type.name()}}">None</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card">
							<div class="btn-group">
								<button type="button" class="text-left btn btn-secondary w-100 collapser" data-toggle="collapse" data-target="#skr-game-options-pirates" th:text="#{pirates}">Pirates</button>
								<button type="button" class="btn btn-secondary dropdown-toggle collapser" data-toggle="collapse" data-target="#skr-game-options-pirates"></button>
								<th:block th:include="ingame/help::content" th:with="id='pirates',title=#{pirates},fragment='simple',content=#{help_game_options_pirates},button=true"></th:block>
							</div>
							<div class="card-body collapse" id="skr-game-options-pirates">
								<div class="form-row">
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{pirate_attack_probability_in_galaxy_center}:|">Attack probability in galaxy center:</label>
										<div class="input-group">
											<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{pirateAttackProbabilityCenter}" min="0" max="100" />
											<div class="input-group-append">
												<span class="input-group-text">%</span>
											</div>
											<span class="text-danger" th:if="${#fields.hasErrors('pirateAttackProbabilityCenter')}" th:errors="*{pirateAttackProbabilityCenter}"></span>
										</div>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{pirate_attack_probability_in_galaxy_outskirts}:|">Attack probability in galaxy outskirts:</label>
										<div class="input-group">
											<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{pirateAttackProbabilityOutskirts}" min="0" max="100" />
											<div class="input-group-append">
												<span class="input-group-text">%</span>
											</div>
											<span class="text-danger" th:if="${#fields.hasErrors('pirateAttackProbabilityOutskirts')}" th:errors="*{pirateAttackProbabilityOutskirts}"></span>
										</div>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{pirate_min_loot}:|">Minimum loot:</label>
										<div class="input-group">
											<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{pirateMinLoot}" min="0" max="100" />
											<div class="input-group-append">
												<span class="input-group-text">%</span>
											</div>
											<span class="text-danger" th:if="${#fields.hasErrors('pirateMinLoot')}" th:errors="*{pirateMinLoot}"></span>
										</div>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{pirate_max_loot}:|">Maximum loot:</label>
										<div class="input-group">
											<input type="number" class="form-control" th:disabled="${!canEdit}" th:field="*{pirateMaxLoot}" min="0" max="100" />
											<div class="input-group-append">
												<span class="input-group-text">%</span>
											</div>
											<span class="text-danger" th:if="${#fields.hasErrors('pirateMaxLoot')}" th:errors="*{pirateMaxLoot}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="card">
							<div class="btn-group">
								<button type="button" class="text-left btn btn-secondary w-100 collapser" data-toggle="collapse" data-target="#skr-game-options-misc" th:text="#{miscellaneous}">Miscellaneous</button>
								<button type="button" class="btn btn-secondary dropdown-toggle collapser" data-toggle="collapse" data-target="#skr-game-options-misc"></button>
								<th:block th:include="ingame/help::content" th:with="id='miscellaneous',title=#{miscellaneous},fragment='simple',content=#{help_game_options_miscellaneous},button=true"></th:block>
							</div>
							<div class="card-body collapse" id="skr-game-options-misc">
								<div class="row">
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{player_leaves_game_when}:|">Player leaves game when:</label>
										<select class="custom-select" th:disabled="${!canEdit}" th:field="*{loseCondition}">
											<option th:each="loseCondition : ${loseConditions}" th:value="${loseCondition.name()}" th:text="#{'lose_condition_' + ${loseCondition.name()}}">Home planet lost</option>
										</select>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{auto_tick}:|">Auto tick:</label>
										<select class="custom-select" th:disabled="${!canEdit}" th:field="*{autoTickItem}">
											<option th:text="${item.seconds == 0} ? #{auto_tick_inactive} : #{auto_tick_item(${item.seconds / 3600})}" th:each="item : ${autoTickItems}" th:value="${item.name()}">Never</option>
										</select>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{turn_not_finished_notification}:|">Turn not finished notification:</label>
										<select class="custom-select" th:disabled="${!canEdit}" th:field="*{turnNotFinishedItem}">
											<option th:text="${item.seconds == 0} ? #{turn_not_finished_notification_inactive} : #{turn_not_finished_notification_item(${item.seconds / 3600})}" th:each="item : ${turnFinishedItems}" th:value="${item.name()}">Never</option>
										</select>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{last_to_finish_turn_notification}:|">Last to finish turn notification:</label>
										<select class="custom-select" th:disabled="${!canEdit}" th:field="*{lastToFinishTurnItem}">
											<option th:text="${item.seconds == 0} ? #{last_to_finish_turn_notification_inactive} : #{last_to_finish_turn_notification_item(${item.seconds / 3600})}" th:each="item : ${turnFinishedItems}" th:value="${item.name()}">Never</option>
										</select>
									</div>
									<div class="col-lg-6">
										<label class="col-form-label" th:text="|#{private}:|">Private:</label>
										<select class="custom-select" th:disabled="${!canEdit}" th:field="*{private}">
											<option th:text="#{no}" value="false">No</option>
											<option th:text="#{yes}" value="true">Yes</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script type="module" th:src="@{/js/modules/dashboard/game-options.js}"></script>
		</div>
	</body>
</html>
