<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<body>
		<div th:fragment="playerTable">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<div class="col-6">
							<h3 class="card-title mb-0" th:text="${title}">Title</h3>
						</div>
						<div class="col-6 text-right">
							<button type="button" class="btn btn-primary" th:if="${showJoinTeamButtons && teamIndex != null && currentTeamIndex != teamIndex}" th:onclick="|game.joinTeam(${teamIndex})|" th:text="#{join_this_team}">Join this team</button>
							<button type="button" class="btn btn-primary" th:if="${showJoinTeamButtons && teamIndex == null && !playerAloneInTeam}" th:onclick="|game.joinTeam()|" th:text="#{join_new_team}">Join new team</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12">
							<table id="skr-game-players" class="table">
								<thead>
									<tr>
										<th scope="col" th:text="#{name}">Name</th>
										<th scope="col" th:text="#{faction}">Faction</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="player : ${players}">
										<td th:text="${player.aiLevel != null} ? #{${player.aiLevel.name()}} : ${player.login.username}" class="skr-player-name">Username</td>
										<td>
											<span
												th:if="${!((player.login.id == currentLoginId || (player.aiLevel != null && currentLoginId == game.creatorId)) && !game.started)}"
												th:text="${player.faction != null} ? ${@masterDataService.getI18NValue(player.faction.id)} : #{not_selected}"
												>Orion Conglomerate</span
											>
											<select
												class="custom-select skr-game-faction-select"
												th:id="${'skr-game-faction-select-' + player.id}"
												th:if="${(player.login.id == currentLoginId || (player.aiLevel != null && currentLoginId == game.creatorId)) && !game.started}"
												th:name="${player.aiLevel}"
											>
												<option value="" th:text="#{select_faction_prompt}">Select faction...</option>
												<option th:each="faction : ${factions}" th:selected="${player.faction != null && player.faction.id == faction.id}" th:value="${faction.id}" th:text="${@masterDataService.getI18NValue(faction.id)}">Orion Conglomerate</option>
											</select>
										</td>
										<td th:if="${currentLoginId != player.login.id && !game.started && game.creatorId == currentLoginId}">
											<button type="button" class="btn btn-danger" th:onclick="|game.removePlayer(${player.id})|">
												<i class="fas fa-trash-alt"></i>
												<span class="d-none d-sm-none d-md-inline-block" th:text="#{remove}">Remove</span>
											</button>
										</td>
									</tr>
									<tr th:if="${!game.started && !gameFull && currentLoginId == game.creatorId}">
										<td>
											<button type="button" id="skr-game-add-player-button" disabled th:onclick="|game.addPlayer(${teamIndex})|" class="btn btn-primary" th:text="#{add}">Add</button>
										</td>
										<td>
											<div class="typeahead__container">
												<div class="typeahead__field">
													<div class="typeahead__query">
														<input type="search" class="form-control js-typeahead skr-game-player-search" autocomplete="off" th:placeholder="#{select_player_to_add}" data-provide="typeahead" name="q" />
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:fragment="content">
			<div class="alert text-center alert-warning" th:if="${showGameStartHint}">
				<span th:text="#{game_start_hint}">The game can be started as soon as every player has chosen a faction.</span>
			</div>
			<div id="skr-buttons" class="row">
				<div class="col-12">
					<button type="button" th:if="${showPlayButton}" class="btn btn-primary" id="skr-play-button" th:onclick="|window.location.href = '/ingame/game?id=${game.id}'|">
						<i class="text-white fa-fw fas fa-play"></i>
						<span th:text="#{play}">Play</span>
					</button>
					<button type="button" th:if="${showStartButton}" id="skr-start-game-button" disabled class="btn btn-primary">
						<i class="fa-fw fas fa-play text-white"></i>
						<span th:text="#{start_game}">Start game</span>
					</button>
					<button type="button" th:if="${showJoinGameButton}" class="btn btn-primary" id="skr-join-game-button" th:text="#{join_game}">Join game</button>
					<button type="button" th:if="${showLeaveGameButton}" class="btn btn-danger" id="skr-leave-game-button" th:text="#{leave_game}">Leave game</button>
				</div>
			</div>
			<div class="row" th:if="${!isTeamDeathFoe}">
				<div class="col-12">
					<div th:include="::playerTable" th:with="players=${players},factions=${factions},title=#{players},teamIndex=null"></div>
				</div>
			</div>
			<div class="row" th:if="${isTeamDeathFoe}">
				<div class="col-12 col-lg-6" th:each="team : ${teams}">
					<div th:include="::playerTable" th:with="players=${team.players},factions=${factions},title=|#{team} ${teams.indexOf(team) + 1}|,teamIndex=${teams.indexOf(team)}"></div>
				</div>
				<div class="col-12 col-lg-6" th:if="${!gameFull && (canEdit || !playerAloneInTeam)}">
					<div th:include="::playerTable" th:with="players=${emptyList},factions=${factions},title=#{new_team},teamIndex=null"></div>
				</div>
			</div>
		</div>
	</body>
</html>
