<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<h4 class="card-title text-center" th:text="#{result}">Result</h4>
					<div class="card-body">
						<div class="font-weight-bold text-center" th:utext="${winnerText}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<div class="card">
					<div class="card-body">
						<div class="form-row">
							<div class="col-12">
								<div th:include="players-ranking::content" th:with="players=${playerSummaries}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div th:include="mini-map::content"></div>
			</div>
		</div>
	</div>
</body>
</html>