<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|${game.name} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<div id="skr-game-creation-modal-wrapper">
				<div class="modal" id="skr-game-creation-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content" id="skr-game-creation-modal-content">
							<div class="modal-header">
								<div class="text-center" style="width: 100%;" th:text="#{creating_game}">Creating game...</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="skr-game-confirm-delete-modal-wrapper">
				<div class="modal" id="skr-game-confirm-delete-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content" id="skr-game-confirm-delete-modal-content">
							<div class="modal-header">
								<div class="text-center" style="width: 100%;" th:text="#{really_delete_game(${game.name})}">Do you really want to delete game GameName? This cannot be undone!</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{cancel}">Cancel</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal" id="skr-game-confirm-delete-button" onclick="game.deleteGame()" th:text="#{yes}">Yes</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="skr-game-deletion-modal-wrapper">
				<div class="modal" id="skr-game-deletion-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content" id="skr-game-deletion-modal-content">
							<div class="modal-header">
								<div class="text-center" style="width: 100%;" th:text="#{deleting_game(${game.name})}">Deleting game GameName...</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="skr-game">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item" th:if="${!game.finished && !playerLost}">
						<a href="#players" id="skr-game-tab-players" data-toggle="tab" role="tab" class="nav-link active" th:text="#{players}">Players</a>
					</li>
					<li class="nav-item" th:if="${game.finished}">
						<a href="#game-finished" id="skr-game-tab-game-finished" data-toggle="tab" role="tab" class="nav-link active" th:text="#{game_finished}">Game finished</a>
					</li>
					<li class="nav-item" th:if="${!game.finished && playerLost}">
						<a href="#game-lost" id="skr-game-tab-game-finished" data-toggle="tab" role="tab" class="nav-link active" th:text="#{you_lost}">Game lost</a>
					</li>
					<li class="nav-item">
						<a href="#options" id="skr-game-tab-options" data-toggle="tab" role="tab" class="nav-link" th:text="#{options}">Options</a>
					</li>
				</ul>
				<div class="tab-content">
					<div th:if="${!game.finished && !playerLost}" class="tab-pane active" role="tabpanel" id="players">
						<div th:replace="dashboard/game-players::content"></div>
					</div>
					<div th:if="${game.finished}" class="tab-pane active" role="tabpanel" id="game-finished">
						<div th:replace="dashboard/game-finished::content"></div>
					</div>
					<div th:if="${!game.finished && playerLost}" class="tab-pane active" role="tabpanel" id="game-lost">
						<div th:replace="dashboard/game-lost::content"></div>
					</div>
					<div class="tab-pane" role="tabpanel" id="options">
						<form action="#" th:action="@{/game}" th:object="${game}" method="post">
							<input type="hidden" th:field="*{id}" />

							<div id="skr-buttons" class="row">
								<div class="col-6">
									<button type="submit" th:if="${canEdit}" class="btn btn-primary">
										<i class="fa fa-save"></i>
										<span th:text="#{save}">Save</span>
									</button>
								</div>
								<div class="col-6 text-right">
									<button type="button" th:if="${canBeDeleted}" id="skr-dashboard-show-game-delete-modal-button" onclick="game.showDeleteConfirmModal()" class="btn btn-danger">
										<i class="fas fa-trash-alt"></i>
										<span th:text="#{delete}">Delete</span>
									</button>
								</div>
							</div>
							<div th:replace="dashboard/game-options::content"></div>
						</form>
					</div>
				</div>
			</div>
			<script th:src="@{/js/jquery.typeahead.min.js}"></script>
			<script type="module" th:src="@{/js/modules/dashboard/game.js}"></script>
		</section>
	</body>
</html>
