<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="|#{application_name} - #{init_setup}|">Skrupel TNG - Init setup</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../css/fontawesome-all.min.css" th:href="@{/css/fontawesome-all.min.css}" />
<link rel="stylesheet" href="../css/skrupel_tng.css" th:href="@{/css/skrupel_tng.css}" />

<script type="text/javascript" src="../js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
	<div class="container">
		<form action="#" th:action="@{/init-setup}" th:object="${request}" method="post">
			<h1>Skrupel TNG</h1>
			<h2 th:text="#{init_setup}">Init setup</h2>

			<div th:if="${!@mailService.mailsEnabled()}" class="alert alert-warning" th:text="#{no_email_server_configured}">No E-mail server is
				configured! This means that features like password recovery and E-mail notification will not be available!</div>

			<div class="form-row mt-3">
				<label class="col-form-label col-sm-4 col-md-3" th:text="|#{username}:|">Username:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="text" class="form-control" th:field="*{username}" th:placeholder="#{username}">
					<span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
				</div>
			</div>
			<div class="form-row" th:if="${@mailService.mailsEnabled()}">
				<label class="col-form-label col-sm-4 col-md-3" th:text="|#{email}:|">E-mail:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="email" class="form-control" th:field="*{email}" th:placeholder="#{email}">
					<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3" th:text="|#{contact_email}:|">Contact E-mail:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="email" class="form-control" th:field="*{contactEmail}" th:placeholder="#{contact_email}">
					<span class="text-danger" th:if="${#fields.hasErrors('contactEmail')}" th:errors="*{contactEmail}"></span>
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3" th:text="|#{password}:|">Password:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="password" class="form-control" th:field="*{password}" th:placeholder="#{password}">
					<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3" th:text="|#{domain}:|">Domain:</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<input type="url" class="form-control" th:field="*{domainUrl}" th:placeholder="#{domain}">
					<span class="text-danger" th:if="${#fields.hasErrors('domainUrl')}" th:errors="*{domainUrl}"></span>
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3" th:text="|#{legal_text_optional}:|">Legal text (optional):</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<textarea class="form-control" th:field="*{legalText}" th:placeholder="#{legal_text}"></textarea>
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3" th:text="|#{data_privacy_statement} (${english}):|">Data privacy Statement (english):</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<textarea class="form-control" th:field="*{dataPrivacyStatementEnglish}" th:placeholder="#{data_privacy_statement}"></textarea>
					<span class="text-danger" th:if="${#fields.hasErrors('dataPrivacyStatementEnglish')}" th:errors="*{dataPrivacyStatementEnglish}"></span>
				</div>
			</div>
			<div class="form-row">
				<label class="col-form-label col-sm-4 col-md-3" th:text="|#{data_privacy_statement} (${german}):|">Data privacy Statement (deutsch):</label>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<textarea class="form-control" th:field="*{dataPrivacyStatementGerman}" th:placeholder="#{data_privacy_statement}"></textarea>
					<span class="text-danger" th:if="${#fields.hasErrors('dataPrivacyStatementGerman')}" th:errors="*{dataPrivacyStatementGerman}"></span>
				</div>
			</div>
			<div class="form-row mt-3">
				<div class="col-sm-4 col-md-3"></div>
				<div class="col-12 col-sm-8 col-md-5 col-lg-4">
					<button type="submit" id="skr-init-setup-form-submit-button" class="btn btn-primary w-100" th:text="#{save}">Save</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>