<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<body>
		<div th:fragment="ship">
			<div class="m-1 faction-ship">
				<h5 th:text="${name}"></h5>

				<div class="d-inline-flex">
					<div>
						<img th:src="${template.createFullImagePath()}" th:alt="${faction.faction.id}" />
					</div>
					<div class="ml-4">
						<b th:utext="${description.name}"></b>
						<div th:utext="${description.description}"></div>
					</div>
				</div>
			</div>
		</div>

		<div th:fragment="faction">
			<div class="card" th:id="|faction-${faction.faction.id}|">
				<div class="card-body">
					<div class="description">
						<div class="row">
							<div class="col-12" th:utext="${faction.description}"></div>
							<div class="col-12 text-center mt-3">
								<h4 th:text="#{ships_with_special_abilities}">Ships with special abilities</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-6" th:include="::ship" th:with="template=${faction.template1},description=${faction.ability1},name=${faction.templateName1}"></div>
							<div class="col-xl-6" th:include="::ship" th:with="template=${faction.template2},description=${faction.ability2},name=${faction.templateName2}"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section layout:fragment="content" id="skr-landingpage-content">
			<div class="jumbotron">
				<h1 class="text-center mx-auto font-weight-bold" th:text="#{main_slogan}">Explore - Colonize - Conquer</h1>
			</div>
			<div class="row mt-2 mb-4">
				<div class="col-12 text-center">
					<div class="mb-3">
						<h2>
							<span th:text="#{main_description}">Skrupel TNG is a free science-fiction turn-based browser game. It is a modern remake of the original </span>
							<a href="https://github.com/kantoks/skrupel" target="_blank" th:title="#{original_skrupel_link_descripton}">Skrupel.</a>
							<span th:text="#{main_description2}"></span>
						</h2>
					</div>
					<h4 th:text="#{secondary_description}">You are the leader of a galactic civilization with the ability to construct space ships that will enable you to shape the galaxy as you see fit.</h4>
				</div>
			</div>
			<div id="skr-landingpage-showcase">
				<div class="row skr-landingpage-showcase-row-left">
					<div class="skr-landingpage-showcase-row-header">
						<h3 th:text="#{showcase_title1}">Colonize planets and gather resources</h3>
					</div>
					<div class="col-12 d-xl-none mb-3 description" th:text="#{showcase_content1}">
						Skrupel TNG is all about colonizing planets, mining their resources and constructing powerful ships. Each planet has its own distribution of resources and they can even harbor native species that may or may not be friendly!
					</div>
					<div class="col-xl-9">
						<img class="img-fluid" th:src="|/images/landingpage/screenshot_1_${#locale.getLanguage()}.jpg|" alt="Planets" />
					</div>
					<div class="col-xl-3 d-none d-xl-block description" th:text="#{showcase_content1}">
						Skrupel TNG is all about colonizing planets, mining their resources and constructing powerful ships. Each planet has its own distribution of resources and they can even harbor native species that may or may not be friendly!
					</div>
				</div>
				<div class="row skr-landingpage-showcase-row-right">
					<div class="skr-landingpage-showcase-row-header">
						<h3 th:text="#{showcase_title2}">Build ships to expand your empire or fight the enemy</h3>
					</div>
					<div class="col-12 d-xl-none mb-3 description" th:text="#{showcase_content2}">
						Building starbases around planets is the key to ship production. Ships consist of components like hull, propulsion and weapons that are built separately. This way each ship can be tailored to the needs of the empire.
					</div>
					<div class="col-xl-3 d-none d-xl-block description" th:text="#{showcase_content2}">
						Building starbases around planets is the key to ship production. Ships consist of components like hull, propulsion and weapons that are built separately. This way each ship can be tailored to the needs of the empire.
					</div>
					<div class="col-xl-9">
						<img class="img-fluid" th:src="|/images/landingpage/screenshot_2_${#locale.getLanguage()}.jpg|" alt="Starbases" />
					</div>
				</div>
				<div class="row skr-landingpage-showcase-row-left">
					<div class="skr-landingpage-showcase-row-header">
						<h3 th:text="#{showcase_title3}">Use your ships to colonize or to conquer</h3>
					</div>
					<div class="col-12 d-xl-none mb-3 description" th:text="#{showcase_content3}">
						There are many different ship classes like scouts, freighters or carriers. Many ships have special abilities like jump engines or cloaking fields that can turn the tide in battles or aid in exploration.
					</div>
					<div class="col-xl-9">
						<img class="img-fluid" th:src="|/images/landingpage/screenshot_3_${#locale.getLanguage()}.jpg|" alt="Starbases" />
					</div>
					<div class="col-xl-3 d-none d-xl-block description" th:text="#{showcase_content3}">
						There are many different ship classes like scouts, freighters or carriers. Many ships have special abilities like jump engines or cloaking fields that can turn the tide in battles or aid in exploration.
					</div>
				</div>
			</div>
			<div class="mt-5">
				<div class="text-center">
					<h2 th:text="#{factions}">Factions</h2>
					<h3 th:utext="#{factions_content(${totalFactionCount})}">
						Choose one of 4 distinct factions that each have their own back story, ship classes and special abilities. 4 of them are showcased below. More details for all factions and the game overall can be found in the
						<a href="/infos" th:title="#{infos}">infos section</a>.
					</h3>
				</div>
				<div class="row no-gutters" id="factions">
					<div class="col-md-4 col-lg-3 col-xl-2">
						<ul class="nav nav-tabs flex-column" role="tablist">
							<li class="nav-item" th:each="faction : ${factions}">
								<a th:href="|#${faction.faction.id}|" th:classappend="${factions.indexOf(faction) == 0} ? 'active' : ''" data-toggle="tab" class="nav-link text-center">
									<span th:text="${faction.name}">Faction name</span>
									<br />
									<img th:src="|/factions/${faction.faction.id}/logo.png|" th:alt="${faction.name}" />
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-8 col-lg-9 col-xl-10 tab-content">
						<div
							class="tab-pane"
							th:classappend="${factions.indexOf(faction) == 0} ? 'active' : ''"
							th:each="faction : ${factions}"
							th:id="${faction.faction.id}"
							role="tabpanel"
							th:aria-labelledby="${faction.faction.id}"
							th:include="::faction"
							th:with="faction=${faction}"
						></div>
					</div>
				</div>
			</div>
			<div class="row mt-3 mb-2">
				<div class="col-12 text-center">
					<h3 th:text="#{free_disclaimer}">Skrupel TNG is free, open source and without any ads.</h3>
					<a th:if="${!@dashboardLayoutService.isLoggedIn()}" href="/register" id="skr-landingpage-create-account-button" th:title="#{register_link_description}" class="btn btn-success mt-3">
						<i class="fa fa-check"></i>
						<span th:text="#{create_account}">Create new account</span>
					</a>
				</div>
			</div>
		</section>
	</body>
</html>
