<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{my_games} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<form action="/my-games" method="GET">
				<div class="card mb-0">
					<div class="card-header">
						<h5 class="mb-0" th:text="#{search_options}">Search options</h5>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-10 col-xl-8">
								<div class="row">
									<div class="col-sm-6 col-lg-3 col-xl-3">
										<input type="text" class="form-control" id="name" name="name" th:placeholder="#{name}" th:value="${param.name}" />
									</div>
									<div class="col-sm-6 col-lg-3 col-xl-3">
										<select class="custom-select" id="winCondition" name="winCondition">
											<option th:text="|-- #{win_condition} --|" th:value="''"></option>
											<option
												th:selected="${param.winCondition != null && param.winCondition.toString().equals(winCondition.name())}"
												th:each="winCondition : ${winConditions}"
												th:value="${winCondition.name()}"
												th:text="#{'win_condition_' + ${winCondition.name()}}"
												>Survive</option
											>
										</select>
									</div>
									<div class="col-sm-6 col-lg-3 col-xl-3">
										<select class="custom-select" id="started" name="started">
											<option th:text="|-- #{started} --|" th:value="''"></option>
											<option th:selected="${param.started != null && param.started.toString().equals('true')}" th:text="#{yes}" value="true">Yes</option>
											<option th:selected="${param.started != null && param.started.toString().equals('false')}" th:text="#{no}" value="false">No</option>
										</select>
									</div>
									<div class="col-sm-6 col-lg-3 col-xl-3">
										<select class="custom-select" id="turnNotDone" name="turnNotDone">
											<option th:text="|-- #{turn_not_done} --|" th:value="''"></option>
											<option th:selected="${param.turnNotDone != null && param.turnNotDone.toString().equals('true')}" th:text="#{yes}" value="true">Yes</option>
											<option th:selected="${param.turnNotDone != null && param.turnNotDone.toString().equals('false')}" th:text="#{no}" value="false">No</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-1 col-xl-2">
								<button type="submit" class="btn btn-primary w-100">
									<i class="fas fa-search"></i>
									<span class="d-lg-none d-xl-inline-block" th:text="#{search}">Search</span>
								</button>
							</div>
							<div class="col-sm-6 col-lg-1 col-xl-2">
								<a href="/my-games?page=0&sortField=EXISTING_GAMES_CREATED&sortDirection=false" class="btn btn-danger w-100">
									<i class="fas fa-minus-circle"></i>
									<span class="d-lg-none d-xl-inline-block" th:text="#{reset}">Reset</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="row skr-table-prefix-line">
				<div class="col-sm-5 col-md-6 col-lg-7 col-xl-8 font-weight-bold" th:text="|#{total_results}: ${results.getTotalElements()}|">Total results: 5</div>
				<div class="col-sm-7 col-md-6 col-lg-5 col-xl-4 text-right">
					<select class="custom-select skr-search-sort-select">
						<option
							th:each="sortItem : ${sortItems}"
							th:value="|${sortItem.sortField.name()}-${sortItem.ascending}|"
							th:selected="${(param.sortField != null && param.sortField.toString().equals(sortItem.sortField.name()) && param.sortDirection != null && param.sortDirection.toString().equals(sortItem.ascending.toString())) || (param.sortDirection == null && sortItem.sortField.name().equals('EXISTING_GAMES_CREATED') && !sortItem.ascending)}"
							th:text="#{${sortItem.sortField.i18nKey}} + ' (' + (${sortItem.ascending} ? #{sort_ascending} : #{sort_descending}) + ')'"
							>Name (ascending order)</option
						>
					</select>
				</div>
			</div>

			<div class="skr-table">
				<div class="row skr-table-header d-none d-md-flex">
					<div class="col-2" th:text="#{name}"></div>
					<div class="col-2 text-right" th:text="#{created}"></div>
					<div class="col-2 text-right" th:text="#{status}"></div>
					<div class="col-2 text-right" th:text="#{players}"></div>
					<div class="col-md-2 col-xl-1 text-right" th:text="#{round}"></div>
					<div class="col-2"></div>
				</div>
				<div class="row" th:if="${results.isEmpty()}">
					<div class="col-12 font-weight-bold text-center" th:text="#{no_games_found}">No games found.</div>
				</div>
				<div class="skr-table-body">
					<div class="row skr-table-row" th:each="result : ${results}">
						<div class="col-6 col-sm-3 d-inline-block d-md-none font-weight-bold" th:text="|#{name}:|">Name:</div>
						<div class="col-6 col-sm-3 col-md-2 value">
							<div th:text="${result.name}">Duell</div>
							<div class="font-italic d-none d-md-block" th:text="#{'win_condition_' + ${result.winCondition}}">Just for fun</div>
						</div>
						<div class="col-6 col-sm-3 d-inline-block d-md-none font-weight-bold" th:text="|#{win_condition}:|">Game mode:</div>
						<div class="col-6 col-sm-3 d-inline-block d-md-none value" th:text="#{'win_condition_' + ${result.winCondition}}">Just for fun</div>
						<div class="col-6 col-sm-2 d-inline-block d-md-none font-weight-bold" th:text="|#{created}:|">Created:</div>
						<div class="col-6 col-sm-4 col-md-2 value text-right" th:text="${#dates.format(result.created, 'dd.MM.yyyy HH:mm')}">31.12.2018 18:45</div>
						<div class="col-6 col-sm-3 d-inline-block d-md-none font-weight-bold" th:text="|#{status}:|">Status:</div>
						<div class="col-6 col-sm-3 col-md-2 value text-right" th:text="${result.finished} ? #{finished} : (${result.started} ? #{started} : #{open})">Yes</div>
						<div class="col-6 col-sm-3 d-inline-block d-md-none font-weight-bold" th:text="|#{players}:|">Player count:</div>
						<div class="col-6 col-sm-3 col-md-2 value text-right" th:text="|${result.currentPlayerCount} / ${result.playerCount}|">1 / 2</div>
						<div class="col-6 col-sm-3 d-inline-block d-md-none font-weight-bold" th:text="|#{round}:|">Round:</div>
						<div class="col-6 col-sm-3 col-md-2 col-xl-1 value text-right" th:text="${result.round}">1></div>
						<div class="col-12 col-md-2 col-xl-3">
							<div class="row">
								<div class="col-sm-6 col-md-12 col-xl-6">
									<a
										th:if="${result.started && !result.finished && result.playerOfGame && !result.lost}"
										th:id="|skr-dashboard-play-game-button-${result.id}|"
										th:class="|w-100 btn skr-play-button ${result.turnFinished ? 'btn-secondary' : 'btn-success font-weight-bold'}|"
										th:href="|/ingame/game?id=${result.id}|"
									>
										<i th:class="'text-white ' + (${result.turnFinished} ? 'fa-fw fas fa-eye' : 'fa-fw fas fa-play')"></i>
										<span th:text="${result.turnFinished} ? #{to_ingame_view} :#{play}">Play</span>
									</a>
									<button
										th:if="${!result.started && !result.finished && !result.playerOfGame && result.currentPlayerCount < result.playerCount}"
										type="button"
										th:id="|skr-dashboard-play-game-button-${result.id}|"
										class="w-100 btn skr-join-game-button btn-success font-weight-bold"
										th:onclick="|joinGame(${result.id})|"
									>
										<i class="text-white fa-fw fas fa-plus"></i>
										<span th:text="#{join_game}">Join game</span>
									</button>
									<a
										th:if="${!result.started && !result.finished && result.playerOfGame && !result.factionSelected}"
										th:id="|skr-dashboard-play-game-button-${result.id}|"
										class="w-100 btn skr-select-faction-button btn-info font-weight-bold"
										th:href="|game?id=${result.id}|"
									>
										<span th:text="#{select_faction}">Select faction</span>
									</a>
								</div>
								<div class="col-sm-6 col-md-12 col-xl-6">
									<a class="w-100 btn btn-primary skr-game-details-button" th:href="|game?id=${result.id}|">
										<i class="fa-fw fas fa-info"></i>
										<span th:text="#{details}">Details</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<nav class="mt-2" th:if="${!results.isEmpty()}">
					<input type="hidden" id="pagination-max-page" th:value="${results.getTotalPages()}" />

					<ul class="pagination justify-content-center">
						<li class="page-item" id="pagination-prev">
							<a class="page-link" href="#">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item" th:each="page : ${#numbers.sequence(1, results.getTotalPages())}">
							<a class="page-link pagination-number" href="#" th:text="${page}">1</a>
						</li>
						<li class="page-item" id="pagination-next">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<script type="module" th:src="@{/js/modules/dashboard/fullpage-search-table.js}"></script>
			<script type="module" th:src="@{/js/modules/dashboard/existing-games.js}"></script>
		</section>
	</body>
</html>
