<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
<body>
	<section layout:fragment="content" class="container text-center">
		<h3 class="text-info" th:text="#{password_recovery_email_is_sent}">An E-mail with further instructions has been sent.</h3>
	</section>
</body>
</html>