<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{register} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content" class="container">
			<form action="#" th:action="@{/register}" th:object="${request}" method="post">
				<div class="form-row">
					<div class="col-sm-10 col-md-8 col-lg-6 m-auto">
						<div class="card">
							<div class="card-header">
								<h1 class="card-title mb-0" th:text="#{register}">Register</h1>
							</div>
							<div class="card-body">
								<div>
									<label th:text="|#{username}:|">Username:</label>
									<input type="text" class="form-control" th:field="*{username}" th:placeholder="#{username}" />
									<span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
								</div>
								<div class="mt-2" th:if="${@mailService.mailsEnabled()}">
									<label th:text="|#{email}:|">E-mail:</label>
									<input type="email" class="form-control" th:field="*{email}" th:placeholder="#{email}" />
									<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								</div>
								<div class="mt-2">
									<label th:text="|#{password}:|">Password:</label>
									<input type="password" class="form-control" th:field="*{password}" th:placeholder="#{password}" />
									<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								</div>
								<div class="mt-2">
									<label th:text="|#{password_repeat}:|">Repeat password:</label>
									<input type="password" class="form-control" th:field="*{passwordRepeat}" th:placeholder="#{password_repeat}" />
									<span class="text-danger" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}"></span>
								</div>
								<div class="mt-2">
									<input type="checkbox" th:field="*{dataPrivacyStatementReadAndAccepted}" />
									<label for="dataPrivacyStatementReadAndAccepted1">
										<span th:text="#{data_privacy_statement_read_and_accepted_one}">I have read and accepted the</span>
										<a href="/data-privacy" target="_blank" th:text="#{data_privacy_statement}">data privacy statement</a>
										<span th:text="#{data_privacy_statement_read_and_accepted_two}"></span>
									</label>
									<div class="text-danger" th:if="${#fields.hasErrors('dataPrivacyStatementReadAndAccepted')}" th:errors="*{dataPrivacyStatementReadAndAccepted}"></div>
								</div>
								<div class="mt-2" th:if="${@mailService.mailsEnabled()}">
									<input type="checkbox" th:field="*{emailNotificationsEnabled}" />
									<label th:text="#{send_email_notification}" for="emailNotificationsEnabled1">Send E-mail notifications</label>
									<span th:include="ingame/help::content" th:with="id='register-email-notifications',title=#{register_email_notifications},fragment='simple',content=#{register_email_notifications_content}"></span>
								</div>
								<button type="submit" id="skr-register-submit-button" class="btn btn-primary w-100" th:text="#{register}">Register</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>
	</body>
</html>
