<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{scenarios} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<h2 class="mb-3" th:text="#{scenarios}">Scenarios</h2>

			<div class="row mb-4">
				<div class="col-12" th:if="${maxFinishedType == null}" th:text="#{scenario_overview_headline}"></div>
				<div class="col-12" th:if="${maxFinishedType != null}" th:text="#{'scenario_overview_headline_' + ${maxFinishedType.name()}}"></div>
			</div>

			<div class="row mt-2 mb-2" th:if="${!tutorialFinished && !hideScenarioTutorialHint}" id="skr-scenario-tutorial-hint">
				<div class="col-12">
					<div class=" alert alert-info text-center">
						<span th:text="#{scenario_tutorial_hint}">
							You haven't played the tutorial yet! For new players it is highly recommended to play the tutorial first before playing the Scenarios.
						</span>
						<button type="button" onclick="scenarioOverview.hideScenarioTutorialHint()" id="skr-scenario-close-tutorial-hint-button">x</button>
					</div>
				</div>
			</div>

			<div id="skr-scenario-finished-modal-wrapper" th:if="${finishedScenarioType != null}">
				<div class="modal" id="skr-scenario-finished-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h3 th:text="#{scenario_finished}">Scenario finished</h3>
							</div>
							<div class="modal-body" th:utext="#{'scenario_finished_' + ${finishedScenarioType.name()}}">
								Congratulations! You have finished Scenario 1 and unlocked the next Scenario.
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" id="skr-scenario-finished-modal-button" th:text="#{continue}" data-dismiss="modal">Continue</button>
							</div>
						</div>
					</div>
				</div>

				<script type="text/javascript">
					$(document).ready(() => {
						$('#skr-scenario-finished-modal').modal('show');
					});
				</script>
			</div>

			<div class="row">
				<div class="col-lg-4" th:each="item : ${items}">
					<div class="card">
						<div class="card-header d-inline-flex align-items-center">
							<img th:src="|/factions/${item.playerFaction}/logo.png|" />
							<h3 class="mb-0 ml-3" th:text="#{'scenario_title_' + ${item.type.name()}}">Scenario 1: Early game</h3>
						</div>
						<div class="card-body">
							<div class="scenario-card-objective">
								<h5 th:text="#{objective}">Objective</h5>
								<div th:text="#{'scenario_objective_' + ${item.type.name()}}">Colonize 3 planets and gather resources with an automated route.</div>
							</div>
							<div class="w-100 text-center mt-3">
								<a th:if="${item.gameId != null}" th:id="|skr-scenario-start-${item.type.name()}-button|" th:href="|/ingame/game?id=${item.gameId}|" class="btn btn-primary skr-scenario-start-button">
									<i class="fa-fw far fa-play-circle"></i>
									<span th:text="#{continue_scenario}">Continue Scenario</span>
								</a>
								<button
									th:if="${item.gameId == null && item.unlocked}"
									th:id="|skr-scenario-start-${item.type.name()}-button|"
									type="button"
									class="btn skr-scenario-start-button"
									th:classappend="${item.finished} ? 'btn-primary' : 'btn-success'"
									th:data1="${item.type.name()}"
									onclick="scenarioOverview.startScenario(this.getAttribute('data1'))"
								>
									<i class="fa-fw far fa-play-circle"></i>
									<span th:text="${item.finished} ? #{play_scenario_again} : #{start_scenario}">Start scenario</span>
								</button>
								<button th:if="${!item.unlocked}" type="button" class="btn skr-scenario-start-button btn-secondary disabled" disabled="true">
									<i class="fa-fw fas fa-lock"></i>
									<span th:text="#{scenario_not_unlocked}">Not unlocked</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script type="module" th:src="@{/js/modules/dashboard/scenario-overview.js}"></script>
		</section>
	</body>
</html>
