<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard/layout}">
	<head>
		<title th:text="|#{account} - #{application_name}|"></title>
	</head>
	<body>
		<section layout:fragment="content">
			<div class="row">
				<div class="col-xl-6">
					<div class="card">
						<h2 class="card-header" th:text="#{settings}">Settings</h2>
						<div class="card-body">
							<div class="form-row">
								<label class="col-form-label col-sm-6" th:text="|#{username}:|">Username:</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" readonly="readonly" name="username" th:field="${request.username}" />
								</div>
							</div>

							<div class="form-row">
								<label class="col-form-label col-sm-6" th:text="|#{language}:|">Language:</label>
								<div class="col-sm-6">
									<div class="btn-group w-100">
										<button type="button" class="btn btn-primary w-100" th:text="${#locale.getDisplayLanguage(#locale)}">English</button>
										<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="?lang=en" onclick="userDetails.changeLanguage('en')">English</a>
											<a class="dropdown-item" href="?lang=de" onclick="userDetails.changeLanguage('de')">Deutsch</a>
										</div>
									</div>
								</div>
							</div>

							<div class="form-row mt-2" th:if="${tutorialFinished}">
								<div class="col-sm-6">
									<button type="button" class="w-100 btn btn-primary" id="skr-dashboard-start-tutorial-button" th:text="#{play_tutorial_again}">Play tutorial again</button>
								</div>
							</div>

							<div class="form-row mt-2" th:if="${tutorialStarted}">
								<div class="col-sm-6">
									<a href="javascript:tutorial.restart()" class="w-100 btn btn-primary" th:text="#{restart_tutorial}">Restart tutorial</a>
								</div>
							</div>

							<hr />

							<form action="#" th:action="@{/user-settings}" th:object="${request}" method="post">
								<div class="form-row">
									<label class="col-form-label col-sm-6" th:text="|#{old_password}:|">old password:</label>
									<div class="col-sm-6">
										<input type="password" autocomplete="off" class="form-control" th:field="*{oldPassword}" name="oldPassword" />
										<span class="text-danger" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
									</div>
								</div>
								<div class="form-row">
									<label class="col-form-label col-sm-6" th:text="|#{new_password}:|">New password:</label>
									<div class="col-sm-6">
										<input type="password" autocomplete="off" class="form-control" th:field="*{newPassword}" name="password" />
										<span class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
									</div>
								</div>
								<div class="form-row">
									<label class="col-form-label col-sm-6" th:text="|#{new_password_repeated}:|">Repeat new password:</label>
									<div class="col-sm-6">
										<input type="password" autocomplete="off" class="form-control" th:field="*{newPasswordRepeated}" />
										<span class="text-danger" th:if="${#fields.hasErrors('newPasswordRepeated')}" th:errors="*{newPasswordRepeated}"></span>
									</div>
								</div>
								<div class="form-row mt-2">
									<div class="col-sm-6"></div>
									<div class="col-sm-6">
										<button type="submit" class="btn btn-primary w-100" th:text="#{set_new_password}">Set new password</button>
									</div>
								</div>
							</form>

							<hr th:if="!${isAdmin}" />

							<button type="button" class="btn btn-danger" id="skr-dashboard-delete-user-button" th:if="!${isAdmin}">
								<i class="fas fa-trash-alt"></i>
								<span th:text="#{delete_account}">Delete account</span>
							</button>

							<div id="skr-delete-user-modal-wrapper">
								<div class="modal" id="skr-delete-user-modal" tabindex="-1" role="dialog">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content" id="skr-delete-user-modal-content">
											<div class="modal-header">
												<div class="text-center" style="width: 100%;" th:text="#{really_delete_account}">Really delete account?</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Cancel" th:text="#{cancel}">Cancel</button>
												<button type="button" class="btn btn-danger" id="delete-user-button" th:text="#{delete}">Delete</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-6" th:if="${@mailService.mailsEnabled()}">
					<div class="card">
						<h2 class="card-header" th:text="#{email_settings}">E-mail settings</h2>
						<div class="card-body">
							<form action="#" th:action="@{/user/email}" th:object="${emailSettingsRequest}" method="post">
								<div class="form-row">
									<label class="col-form-label col-sm-6" th:text="|#{email}:|">E-mail:</label>
									<div class="col-sm-6">
										<input type="email" class="form-control" th:field="*{email}" />
										<span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
									</div>
								</div>
								<div class="form-row">
									<label class="col-form-label col-10 col-sm-6" th:text="|#{send_round_email_notification}:|">Send E-mail notifications when new rounds start:</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{roundNotificationsEnabled}" />
									</div>
								</div>
								<div class="form-row">
									<label class="col-form-label col-10 col-sm-6" th:text="|#{send_player_joined_email_notification}:|">Send E-mail notifications when players join your games</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{joinNotificationsEnabled}" />
									</div>
								</div>
								<div class="form-row">
									<label class="col-form-label col-10 col-sm-6" th:text="|#{send_game_can_be_started_email_notification}:|">Send E-mail notifications when games you created are full and can be started</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{gameFullNotificationsEnabled}" />
									</div>
								</div>
								<div class="form-row">
									<label class="col-form-label col-10 col-sm-6" th:text="|#{send_invited_to_game_email_notification}:|">Send E-mail notifications when someone invites you to a game</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{invitedToGameNotificationsEnabled}" />
									</div>
								</div>
								<div class="form-row">
									<label class="col-form-label col-10 col-sm-6" th:text="|#{send_turn_not_finished_email_notification}:|">Send E-mail when you haven't finished a turn in one of your game after some time</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{notFinishTurnNotificationsEnabled}" />
									</div>
								</div>
								<div class="form-row">
									<label class="col-form-label col-10 col-sm-6" th:text="|#{send_last_to_finish_turn_email_notification}:|">Send E-mail when you are the last player that hasn't finished the turn in a game after some time</label>
									<div class="col-2 col-sm-6 mt-2">
										<input type="checkbox" th:field="*{lastToFinishTurnNotificationsEnabled}" />
									</div>
								</div>
								<div class="form-row">
									<div class="col-sm-6"></div>
									<div class="col-sm-6">
										<button type="submit" class="btn btn-primary w-100" th:text="#{save_email_settings}">Save E-mail settings</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<script type="module" th:src="@{/js/modules/dashboard/user-details.js}"></script>
			<script type="module" th:src="@{/js/modules/ingame/tutorial.js}"></script>
		</section>
	</body>
</html>
