:root {
	--color-fuel: #5ae200;
	--color-mineral1: #baa26f;
	--color-mineral2: red;
	--color-mineral3: blue;
	--color-colonists: darkgreen;
	--color-mines: #b57500;
	--color-supplies: darkorange;
	--color-money: orange;
	--color-factories: steelblue;
	--color-defense: darkgrey;
	--color-overview: darkgrey;
	--color-colonies: #00c4a0;
	--color-orbitalsystems: #3d3d3d;
	--color-starbase: #440072;
	--color-nativespecies: #9e6b00;
	--color-logbook: black;
	--color-ships: #002eff;
	--color-fleets: green;
	--color-propulsionsystems: red;
	--color-energyweapons: orange;
	--color-projectileweapons: #4c6ef5;
	--color-transport: blue;
	--color-tasks: darkblue;
	--color-scanner: darkslategrey;
	--color-navigation: purple;
	--color-routes: darkgreen;
	--color-tactics: red;
	--color-settings: black;
	--color-war: red;
	--color-tradeagreement: orange;
	--color-nonaggressiontreaty: royalblue;
	--color-alliance: green;
	--color-lightgroundunits: red;
	--color-heavygroundunits: blue;
	--color-landingpage-contrast-background: #d4d4d4;
	--color-landingpage-contrast-border: #bbbbbb;
}

#skr-ingame-darkmode-switch label {
	color: black !important;
}
