<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<h4 class="text-center mb-3">
				<span th:text="#{player_rankings}">Player rankings</span>
				<span th:include="ingame/help::content" th:with="id='player-rankings',title=#{player_rankings},fragment='simple',content=#{player_rankings_help_text}"></span>
			</h4>

			<table class="table">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col" class="text-center" th:text="#{name}">Name</th>
						<th scope="col" class="text-center">
							<i class="fa-fw fas fa-project-diagram" th:title="#{rank_starbases}"></i>
						</th>
						<th scope="col" class="text-center">
							<i class="fa-fw fas fa-globe" th:title="#{rank_colonies}"></i>
						</th>
						<th scope="col" class="text-center">
							<i class="fa-fw fas fa-space-shuttle" th:title="#{rank_ships}"></i>
						</th>
						<th scope="col" class="text-center" th:text="#{total}">Total</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="player : ${players}">
						<td class="text-center">
							<img th:style="|border: 3px solid #${player.color};|" th:src="${'/factions/' + player.factionId + '/logo.png'}" />
						</td>
						<td class="text-center">
							<button class="btn btn-link" type="button" th:if="${!gameFinished && !player.ai && player.playerId != playerId}" th:data1="${player.name}" th:onclick="|ingame.messageToPlayer(${player.playerId}, this.getAttribute('data1'))|">
								<span th:text="${@masterDataService.getI18NValue(player.factionId)}">Orion Conglomerate</span>
								<br />
								<span class="font-weight-bold" th:text="${player.ai} ? #{${player.name}} : ${player.name}">PlayerName</span>
							</button>
							<div th:if="${gameFinished || player.ai || player.playerId == playerId}">
								<span th:text="${@masterDataService.getI18NValue(player.factionId)}">Orion Conglomerate</span>
								<br />
								<span class="font-weight-bold" th:text="${player.ai} ? #{${player.name}} : ${player.name}">PlayerName</span>
							</div>
						</td>
						<td class="text-center">
							<div th:text="${player.starbaseRank}">1</div>
						</td>
						<td class="text-center">
							<div th:text="${player.planetRank}">1</div>
						</td>
						<td class="text-center">
							<div th:text="${player.shipRank}">1</div>
						</td>
						<td class="text-center">
							<div th:text="${player.rank}">1</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
