<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="modal" id="skr-ingame-overview-modal" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-xl" role="document">
					<div class="modal-content tutorial-element-stage-OVERIVEW_MODAL" data-placement="top" id="skr-ingame-overview-modal-content" data-container="#skr-ingame-overview-modal">
						<div class="modal-header">
							<h3 th:text="#{overview}">Overview</h3>
							<button type="button" class="close" id="skr-close-overview-button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item">
										<a href="#summary" data-toggle="tab" class="nav-link active" th:text="#{summary}">Summary</a>
									</li>
									<li class="nav-item">
										<a href="#players" data-toggle="tab" class="nav-link" th:text="#{players}">Players</a>
									</li>
									<li class="nav-item">
										<a href="#news" data-toggle="tab" class="nav-link tutorial-element-stage-OPEN_NEWS tutorial-click-element-stage-OPEN_NEWS" id="skr-ingame-overview-news-tab" data-placement="top">
											<span th:text="#{news}">News</span>
											<span th:if="${!newsViewed && news.size() > 0}" id="skr-ingame-overview-news-tab-badge" class="badge badge-info" th:text="${news.size()}">4</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="#messages" data-toggle="tab" class="nav-link" id="skr-ingame-overview-messages-tab">
											<span th:text="#{messages}">Messages</span>
											<span th:if="${unreadPlayerMessageCount > 0}" id="skr-ingame-overview-messages-tab-badge" class="badge badge-info" th:text="${unreadPlayerMessageCount}">4</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="#politics" data-toggle="tab" class="nav-link">
											<span th:text="#{politics}">Politics</span>
											<span th:if="${toBeAcceptedCount > 0}" class="badge badge-info" id="skr-ingame-overview-politics-tab-badge" th:text="${toBeAcceptedCount}">2</span>
										</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="summary" role="tabpanel" aria-labelledby="summary-tab" th:include="ingame/overview/summary::content"></div>
									<div class="tab-pane" id="players" role="tabpanel" aria-labelledby="players-tab">
										<div class="row text-center">
											<div class="col-12">
												<span th:text="|#{win_condition}:|">Win condition:</span>
												<b th:text="#{'win_condition_' + ${summary.winCondition}}">Survive</b>
											</div>
											<div class="col-12" th:if="${deathFoe != null}">
												<span th:text="|#{win_condition_DEATH_FOE}:|">Death foe:</span>
												<span class="player-name" th:style="|color: #${deathFoe.color};|" th:text="${deathFoe.retrieveDisplayName(messageSource)}">PlayerName</span>
											</div>
											<div class="col-12" th:if="${deathFoes != null}">
												<span th:text="|#{death_foes}:|">Death foes:</span>
												<span class="player-name" th:style="|color: #${deathFoe.color};|" th:each="deathFoe : ${deathFoes}" th:text="|${deathFoe.retrieveDisplayName(messageSource)} |">PlayerName</span>
											</div>
										</div>
										<div class="row mt-4">
											<div class="col-12">
												<div th:include="players-ranking::content" th:with="players=${players},gameFinished=false"></div>
											</div>
										</div>
									</div>
									<div class="tab-pane" id="news" role="tabpanel" aria-labelledby="news-tab" th:include="ingame/overview/news::content"></div>
									<div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab" th:include="ingame/overview/messages::content"></div>
									<div class="tab-pane" id="politics" role="tabpanel" aria-labelledby="politics-tab" th:include="ingame/overview/politics::content"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
