<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="row" id="skr-overview-politics-content">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h5>
								<span class="card-title" th:text="#{politics}">Politics</span>
								<span th:include="ingame/help::content" th:with="id='politics',title=#{help_politics_title},fragment='simple',content=#{help_politics_content}"></span>
							</h5>
						</div>
						<div class="card-body">
							<div th:each="relation : ${ownRelations}" th:class="|row${relation.roundsLeft > 0 ? ' mb-1' : ''}|">
								<div class="col-md-3">
									<label class="player-name" th:style="|color: #${relation.playerColor};|" th:text="${relation.retrievePlayerName()}">Playername</label>
								</div>
								<div class="col-md-6 text-right">
									<span th:text="${relation.retrieveDescription()}">War</span>
									<i th:if="${relation.relationType != null}" th:class="|fa-fw ${relation.retrieveTypeIcon()}|" th:title="#{'player_relation_type_' + ${relation.relationType}}"></i>
								</div>
								<div class="col-md-3">
									<div class="dropdown" th:if="${!relation.retrieveActions().isEmpty() && relation.requestId == null}">
										<button class="btn btn-primary dropdown-toggle" type="button" th:id="'skr-politics-action-button-' + ${relation.playerId}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span th:text="#{action}">Action</span>
										</button>
										<div class="dropdown-menu">
											<a
												th:each="action : ${relation.retrieveActions()}"
												class="dropdown-item"
												href="#"
												th:data1="${action.name()}"
												th:onclick="|ingame.performPlayerRelationAction(${relation.playerId}, this.getAttribute('data1'))|"
												th:text="#{'player_relation_action_' + ${action.name()}}"
												>Declare war</a
											>
										</div>
									</div>
									<th:block th:if="${relation.requestId != null && relation.toBeAccepted}">
										<button type="button" th:onclick="|ingame.acceptPlayerRelation(${relation.requestId})|" class="btn btn-success" th:text="#{accept}">Accept</button>
										<button type="button" th:onclick="|ingame.rejectPlayerRelation(${relation.requestId})|" class="btn btn-danger" th:text="#{reject}">Reject</button>
									</th:block>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="card-title" th:text="#{other_players}">Other players</div>
							<div class="row" th:each="relation : ${otherRelations}">
								<div class="col-md-4">
									<label class="player-name" th:style="|color: #${relation.player1.color};|" th:text="${relation.player1.retrieveDisplayName(messageSource)}">Playername1</label>
								</div>
								<div class="col-md-4 text-right">
									<span th:text="#{'player_relation_type_' + ${relation.type.name()}}">War</span>
									<i th:class="|fa-fw ${relation.type.getIcon()}|" th:title="#{'player_relation_type_' + ${relation.type.name()}}"></i>
								</div>
								<div class="col-md-4">
									<label class="player-name" th:style="|color: #${relation.player2.color};|" th:text="${relation.player2.retrieveDisplayName(messageSource)}">Playername2</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
