<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="content">
			<div class="row">
				<div class="col-md-5">
					<div class="row">
						<div class="col-12 text-center" th:text="|#{round} ${summary.round} (${#dates.format(summary.date, 'dd.MM.yyyy HH:mm')})|">Round (31.12.2018 16:54)</div>
						<div class="col-8" th:text="#{new_colonies}">New colonies</div>
						<div class="col-4 text-right" th:text="${summary.newColonies}">1</div>
						<div class="col-8" th:text="#{new_ships}">New ships</div>
						<div class="col-4 text-right" th:text="${summary.newShips}">1</div>
						<div class="col-8" th:text="#{new_starbases}">New starbases</div>
						<div class="col-4 text-right" th:text="${summary.newStarbases}">1</div>
						<div class="col-8" th:text="#{destroyed_ships}">Destroyed ships</div>
						<div class="col-4 text-right" th:text="${summary.destroyedShips}">1</div>
						<div class="col-8" th:text="#{lost_ships}">Lost ships</div>
						<div class="col-4 text-right" th:text="${summary.lostShips}">1</div>
					</div>
				</div>
				<div class="col-md-7">
					<div th:include="mini-map::content"></div>
				</div>
			</div>
		</div>
	</body>
</html>
